%ul{:class => 'menu'}
  %li
    = link_to 'XML', editxml_publication_citation_cts_identifier_path( citation_cts_identifier.publication, citation_cts_identifier), :class => 'btn bg-sdw'
  %li
    = link_to 'Preview', preview_publication_citation_cts_identifier_path( citation_cts_identifier.publication, citation_cts_identifier), :class => 'btn bg-sdw'
  %li
    = link_to 'Delete', polymorphic_path([citation_cts_identifier.publication, citation_cts_identifier]), :confirm => 'Are you sure?', :method => :delete , :class => 'btn bg-sdw'

