.create
  %h3 Edit Passage:
  %p
    = render(:partial => "citation_cts_identifiers/create_from_cts_urn_form", :locals => {:version_id => @identifier.name, :edition => @identifier.urn_attribute,:collection => @identifier.inventory,:citeinfo => citeinfo, :controller => 'citation_cts_identifiers',:publication_id => @identifier.publication.id, :pubtype => pubtype})
