

<% form_tag ( {:controller=>"metas", :action=>"load_epidoc_from_number", :id=>  @meta.id} , :method => "get") do%>

  <p>
    HGV (TM) Number<br />
    <%= text_field_tag :epidoc_number %>
  </p>

  <p>
    <%= submit_tag "Load" %>
  </p>
<% end %>

