
= link_to 'Leiden+', edit_polymorphic_path([ddb_current_identifier.publication, ddb_current_identifier]) 
= link_to 'XML', editxml_publication_ddb_current_identifier_path( ddb_current_identifier.publication, ddb_current_identifier)
= link_to 'Commentary', commentary_publication_ddb_current_identifier_path( ddb_current_identifier.publication, ddb_current_identifier)
= link_to 'Preview', preview_publication_ddb_current_identifier_path( ddb_current_identifier.publication, ddb_current_identifier)
%br
