.DS_Store
.env
.lock-*
.sass-cache
config/environments/production_secret.rb
db/*.sqlite3
db/*.sqlite3-journal
doc/api
doc/app
doc/guides
doc/plugins
lib/rxsugar
log/*.log
node_modules
protosite.war
public/assets
public/cache/**/*
public/stylesheets/*
tmp/**/*
