log/*.log
tmp/**/*
.DS_Store
public/cache/**/*
public/stylesheets/*
public/assets/**
node_modules
doc/api
doc/app
doc/guides
doc/plugins
db/*.sqlite3
db/*.sqlite3-journal
protosite.war
lib/rxsugar
.sass-cache
.lock-*
