.comment_partial
  .name 
    - if comment.user != nil && comment.user.name != nil
      = comment.user.name
  .reason 
    - if comment.reason != nil
      = comment.reason
    on
    - if comment.identifier && comment.identifier.title
      = comment.identifier.title
  .comment    
    - if comment.comment != nil
      = comment.comment

