<div class="translation">

<h3 style="display:inline;">Translation</h3>
<%= link_to 'Edit', url_for(:controller => 'translations', :action => 'edit', :id => translation.id) %> 

<% translation.translation_contents.each do |content| %>
  <%= render :partial => content %>

<% end %>





</div>
