

<% form_tag ( {:controller=>"translations", :action=>"load_epidoc_file", :id=>  @translation.id} , :method => "get") do%>
  


  <p>
    filename<br />
    <%= text_field_tag :filename %>
  </p>

  <p>
    <%= submit_tag "Load" %>
  </p>
<% end %>

