
<h2><%= link_to @translation.article.master_article.title, url_for(@translation.article.master_article) %></h2>

<%= render :partial => @article.get_category_obj() , :locals => {:show_links => false} %>


<h3>Comments</h3>
<div class="review_comments">
  <% @translation.comments.each do |comment | %>
    <%= render :partial => comment %>
    <br />
  <% end %>
</div>

