= link_to 'Edit', edit_publication_treebank_cite_identifier_path( treebank_cite_identifier.publication, treebank_cite_identifier)
= link_to 'Edit Treebank XML', editxml_publication_treebank_cite_identifier_path( treebank_cite_identifier.publication, treebank_cite_identifier)
= link_to 'Preview', preview_publication_treebank_cite_identifier_path( treebank_cite_identifier.publication, treebank_cite_identifier)
%br
