#browser_warning{:style => "display: none;", :class => 'sosolcard flash-notice warning'}
  %i{:class => 'fa fa-info-circle'}
  You may be using an unsupported browser. Please use an up to date version of 
  %a{:href => "https://www.mozilla.org/firefox"}
    Firefox 
  or 
  %a{:href => "http://www.google.com/chrome"}
    Chrome 
  for best results.
  
