= link_to 'Edit', edit_publication_commentary_cite_identifier_path( commentary_cite_identifier.publication, commentary_cite_identifier)
= link_to 'Preview', preview_publication_commentary_cite_identifier_path( commentary_cite_identifier.publication, commentary_cite_identifier)
%br
