- form_for :publication, Publication.new, :url => { :controller => "publications", :action =>"create_from_list" } do |form|
  = label_tag 'pn_id_list', 'Create publication from PN IDs, one per line:'
  = form.submit "Create", :class => ''
  %br
  = text_area_tag 'pn_id_list', '',  :cols => '40', :rows => '25'

