#filter
  %button{:class => "filter active", "data-target" => "all"}
    All
  - if has_voting
    %button{:class => "filter", "data-target" => "voting-column"}
      Voting
  - if has_finalizing
    %button{:class => "filter", "data-target" => "finalizing-column"}
      Finalizing
  - if has_approved
    %button{:class => "filter", "data-target" => "approved-column"}
      Approved
  %input{:type => 'text', :class => 'input', :id => 're-search', :placeholder => "Quick Filter"}
  %button{:class => "filter", :id => 'filter-count'}
    Search
  - if has_voting && @board.has_rules?
    .archive_link
      = link_to "Apply Rules", { :controller => 'boards', :action => 'confirm_apply_rules', :id => @board.id }, :class => 'btn bg-sdw'
  .archive_link
    = link_to "Download All", { :controller => 'user', :action => 'download_board_publications', :board_id => @board.id, :offset => @offset }, :class => 'btn bg-sdw'
  .archive_link
    = link_to "Archived", { :controller => 'user', :action => 'archives', :board_id => @board.id }, :class => 'btn bg-sdw'
  %fieldset
    %legend Display Titles
    %input{:type => 'radio', :name => 'titles', :value => 'Document', :id => 'doctitles',  :onchange => 'toggleTitles(event);'}
    %label{:for => 'doctitles'}Document
    %input{:type => 'radio', :name => 'titles', :value => 'Publication', :id => 'pubtitles', :checked => 'checked', :onchange => 'toggleTitles(event);'}
    %label{:for => 'pubtitles'}Publication
