#filter
  %input{:type => 'text', :class => 'input', :id => 're-search', :placeholder => "Filter for.."}
  %button{:class => "filter", :id => 'filter-count'}
    Search
  %button{:class => "filter active", "data-target" => "all"}
    All
  - if has_new
    %button{:class => "filter", "data-target" => "new-column"}
      New
  - if has_editing
    %button{:class => "filter", "data-target" => "editing-column"}
      Editing
  - if has_assigned
    %button{:class => "filter", "data-target" => "assigned-column"}
      Voting
  - if has_finalizing
    %button{:class => "filter", "data-target" => "finalizing-column"}
      Finalizing
  - if has_submitted
    %button{:class => "filter", "data-target" => "submitted-column"}
      Submitted
  - if has_committed
    %button{:class => "filter", "data-target" => "committed-column"}
      Committed
    .archive_link
      = link_to "Archive Committed", {:controller => 'publications', :action => "confirm_archive_all", :id => @current_user.id}, :class => 'btn bg-sdw'
  .archive_link
    = link_to "Archived", { :controller => 'user', :action => 'archives',  :id => @current_user.id }, :class => 'btn bg-sdw'
  %fieldset
    %legend Display Titles
    %input{:type => 'radio', :name => 'titles', :value => 'Document', :id => 'doctitles', :checked => 'checked', :onchange => 'toggleTitles(event);'}
    %label{:for => 'doctitles'}Document
    %input{:type => 'radio', :name => 'titles', :value => 'Publication', :id => 'pubtitles', :onchange => 'toggleTitles(event);'}
    %label{:for => 'pubtitles'}Publication

