- if defined?(list_name)
  - list_id = "publication_list_holder_" + list_name
- else
  - list_id = "publication_list_holder"
%div{:class => "publication_card", :id => list_id }
  - publications.each do |publication|
    - data = {}
    - publication.identifiers.collect do |i|
      - unless data[i.type]
        - data[i.type] = []
      - data[i.type] << i
    %div{:class => 'publication'}
      - display_title = publication.title #publication.title.split('/').last + "(" + publication.creator.name + ")" +  view_type && view_type == "community" ? publication.owner.name : ''
      - Identifier.site_identifier_classes.each do |c|
        - if c.constantize::is_visible && data[c]
          - data[c].each do |i|
            %div{:class => 'legend_container'}
              %span{:class => 'legend'}
                = link_to i.title, edit_polymorphic_path([publication,i]), {:title => i.class::FRIENDLY_NAME}
      %ul{:class => 'border'}
        - Identifier.site_identifier_classes.each do |c|
          - has_active = false
          - if c.constantize::is_visible && data[c]
            - data[c].each do |i|
              %li{:class => "#{has_active} #{i.class}"}
                = link_to i.class::FRIENDLY_NAME, edit_polymorphic_path([publication,i]), {:title => i.title}

:javascript
  jQuery(document).ready(
    function() { perseids_publication_selector(); });
