%h1 Start A Publication

%h3 From Existing Material
%p
  = render :partial => "publications/publication_selector"
%h3 Create New Publication
%p
  = render :partial => "publications/create_from_templates_form"
%h3 From PN ID
%p
  = render :partial => "publications/create_from_pn_id_form"
%h3 Batch From PN IDs, one per line
%p
  = render :partial => "publications/create_from_batch_form"