#main
  = render :partial => 'identifiers/edit_bar'
  .site
    = button_to "Finalize", finalize_publication_path(@publication), :disabled => (@publication.status != 'finalizing'), :class => 'submit', :method => :post
    %br
    = render :partial => 'common/diff', :object => @diff