#main
  = render :partial => 'identifiers/edit_bar'
  .site
    - @diff.split("\n")[5..-1].each do |diff_line|
      - unless diff_line.empty?
        - diff_line_text = h diff_line[1..diff_line.length-1]
        - case diff_line[0,1]
          - when "+"
            %ins= diff_line_text
          - when "-"
            %del= diff_line_text
          - else
            = diff_line_text
        %br