#main.site
  %h2 Listing Publications
  %ul
    - for publication in @publications
      %li= publication.title #link_to(publication.title, edit_publication_path(publication))
  - if @branches.length > 0
    %h2 Listing Branches
    %ul
    - for branch in @branches
      %li= branch