#main.site
  %h2 Listing Publications
  %ul
    - for publication in @publications
      %li= link_to(publication.title, edit_polymorphic_path([publication, publication.entry_identifier]))
  - if @branches.length > 0
    %h2 Listing Branches
    %ul
    - for branch in @branches
      %li= branch
  - form_for :publication, :url => { :controller => :publications, :action => :create } do |form|
    = form.text_field 'pn_id'
    = form.submit "Create", :class => 'save'
    