<% unless @current_user.nil? %>
  <li class="nav-item">
    <a class='nav-link'>|</a>
  </li>
  <li class="nav-item">
    <%= link_to 'Advanced Create', advanced_create_publications_path, class: 'nav-link' %>
  </li>
<% end %>
