<% if @current_user %>
  <li class="text-center text-md-start">
    <%= link_to 'Admin', user_admin_path %>
  </li>
  <li class="text-center text-md-start">
    <%= link_to 'Account', account_path %>
  </li>
<% end %>
