 <div id="footer">
      <div id="footer-left-col">
        <div id="secondary-nav">
          <ul class="nav">
            
            <li><%=  link_to "Help", help_url %></li>
            <%= render "cross_site/footer_links" %>
            
            
            <li><a href="http://digitalpapyrology.blogspot.com/" title="Digital Papyrology">Blog</a></li>
            <li><a href="http://papyri.info/resources.html" title="Papyrological tools and resources">Resources</a></li>
            <li><a href="http://papyri.info/feedback.html" title="Feeback">Feedback</a></li>
            <li><a href="http://epidoc.sourceforge.net/" title="EpiDoc Home">About EpiDoc</a></li>
          </ul>
        </div>
        <div class="spacer"></div>
      </div>
      <div id="footer-right-col">
        <p>Produced by</p>
        <p><a href="http://blogs.library.duke.edu/dcthree/">The Duke Collaboratory for Classics Computing</a> 
          <br/>&amp; the <a href="http://www.nyu.edu/isaw/">Institute for the Study of the Ancient World</a> 
          <br/>&amp; the <a href="http://www.uni-heidelberg.de/fakultaeten/philosophie/zaw/papy/">Institute of Papyrology Heidelberg</a>
        </p>
        <div id="about-nav"> 
          <ul class="nav">
            <li><a href="http://www.trismegistos.org/" title="Trismegistos Home">Trismegistos</a></li>
            <li><a href="http://www.rzuser.uni-heidelberg.de/%7Egv0/" title="Heidelberger Gesamtverzeichnis
              der Griechischen Papyrusurkunden Ägyptens - Home ">HGV</a></li>
            <li><a href="http://papyri.info/docs/ddbdp" title="Duke Databank of Documentary Papyri">DDbDp</a></li>
            <li><a href="http://papyri.info/docs/apis" title="Advanced Papyrological Information System">APIS</a></li>
            <li class="last-child"><a href="http://papyri.info/docs/about" title="Papyri.info">Papyri.info</a></li>
          </ul>
          <h3 id="about-hdr">About:</h3>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
