 <footer class="bg-dark py-5" data-bs-theme="dark">
    <div class="container-xl px-4">
      <div class="row">
        <div class="col-6 col-md-3 mb-3">
          <h2 class="h4">Links</h2>
          <ul class="list-unstyled no-link-underline">
            <li><a href="/">Home</a></li>
            <%= render "cross_site/footer_links" %>
            <li><%=  link_to "Help", help_url %></li>
            <li><a href="/docs/resources">Resources</a></li>
            <li><a href="/feedback.html">Feedback</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3 mb-3">
          <h2 class="h4">About</h2>
          <ul class="list-unstyled about-links no-link-underline">
            <li><a href="/docs/about">Papyri.info</a></li>
            <li><a href="/docs/apis">APIS</a></li>
            <li><a href="/docs/ddbdp">DDbDP</a></li>
            <li><a href="https://aquila.zaw.uni-heidelberg.de/start">HGV</a></li>
            <li><a href="http://www.trismegistos.org/">Trismegistos</a></li>
            <li><a href="https://bibpap.be/">BP</a></li>
            <li><a href="http://epidoc.sourceforge.net/">EpiDoc</a></li>
          </ul>
        </div>
        <div class="d-none d-md-flex col-md-1 justify-content-center">
          <div class="vr my-auto h-100 bg-light"></div>
        </div>
        <div class="d-md-none d-flex">
          <hr class="border-light w-100"/>
        </div>
        <div class="col-12 col-md-5 mb-3">
          <h2 class="h4 text-light">Produced by</h2>
          <p class="text-light">The <a href="http://blogs.library.duke.edu/dcthree/">Duke Collaboratory for Classics Computing</a> &amp;<br/>the <a href="http://www.nyu.edu/isaw/">Institute for the Study of the Ancient World</a>.</p>
        </div>
      </div>
    </div>
  </footer>