 <div id="footer">
      <div id="footer-left-col">
        <div id="secondary-nav">
          <ul class="nav">
            <li><a href="/" title="Project Home">Home</a></li>
            
            <% render "cross_site/footer_links" %>
            
            
            <li><a href="http://digitalpapyrology.blogspot.com/" title="Digital Papyrology">Blog</a></li>
            <li><a href="/resources.html" title="Papyrological tools and resources">Resources</a></li>
            <li><a href="/feedback.html" title="Feeback">Feedback</a></li>
            <li><a href="http://epidoc.sourceforge.net/" title="EpiDoc Home">About EpiDoc</a></li>
          </ul>
        </div>
        <div class="spacer"></div>
      </div>
      <div id="footer-right-col">
        <p>Produced by</p>
        <p><a href="http://dlib.nyu.edu/dlts/">NYU Digital Library Technology Services</a> 
          <br/>&amp; the <a href="http://www.nyu.edu/isaw/">Institute for the Study of the
          Ancient World</a></p>
        <div id="about-nav"> 
          <ul class="nav">
            <li><a href="http://www.trismegistos.org/" title="Trismegistos Home">Trismegistos</a></li>
            <li><a href="http://www.rzuser.uni-heidelberg.de/%7Egv0/" title="Heidelberger Gesamtverzeichnis
              der Griechischen Papyrusurkunden Ägyptens - Home ">HGV</a></li>
            <li><a href="http://idp.atlantides.org/trac/idp/wiki/DDBDP" title="Duke Databank of Documentary Papyri - Home">DDbDp</a></li>
            <li><a href="http://www.columbia.edu/cu/lweb/projects/digital/apis/about.html">APIS</a></li>
            <li class="last-child"><a href="/about.html" title="Advanced Papyrological Information System">Papyri.info</a></li>    
          </ul>
          <h3 id="about-hdr">About:</h3>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </div>