- if @current_user

  - end_communities = Community.find(:all, :conditions => {:end_user_id => @current_user.id} )
  - user_communities = @current_user.community_memberships
  - all_communities = end_communities | user_communities

  - if all_communities.length > 0
    
    %li{:onclick=>"showCommunityDialog(event)", :id=>"community_menu", :class=>"editor_menu"}
      = "Communities"
    
    %div{:class => "editor_nav", :id=>"community_list"}
      %ul
        %li
          = link_to "Home", dashboard_url
          
  
        - all_communities.each do |community|
          %li
            = link_to community.format_name, :controller => "User", :action => "user_community_dashboard", :community_id => community.id
  
        -#there is no real diff between this view and the user view        
          - end_communities = Community.find(:all, :conditions => {:end_user_id => @current_user.id} )
          - if end_communities && end_communities.length > 0
            %li
              Completed
            - end_communities.each do |community|
              %li
                = link_to community.format_name, :controller => "User", :action => "user_community_dashboard", :community_id => community.id
                
        - #should be finding all user pubs, then showing the ones with community ids?

:javascript
  
  //------------------------------------------------------------
  //  Drop down menu when board list is clicked
  //------------------------------------------------------------
  function showCommunityDialog( _e ) {
  
    //------------------------------------------------------------
    //  Add to the dom
    //------------------------------------------------------------
    var community_list = jQuery('#community_list');
    var community_menu = jQuery('#community_menu');
    jQuery('body').append( community_list );
    
    //------------------------------------------------------------
    //  Display switch
    //------------------------------------------------------------
    if ( community_list.css('display') == 'block' ) {
      community_list.css('display', 'none');
    }
    else {
      community_list.css('display', 'block');
    }
    
    //------------------------------------------------------------
    //  Position the community list
    //------------------------------------------------------------
    positionCommunityList();
    jQuery( window ).resize( function() {
        positionCommunityList();
    });
  }
  
  //------------------------------------------------------------
  //  Position the community list
  //------------------------------------------------------------
  function positionCommunityList() {
    var community_list = jQuery('#community_list');
    var community_menu = jQuery('#community_menu');
    community_list.css({ 
      position: 'absolute', 
      zIndex: '9999'}
    );
    var left_pos = community_menu.offset().left + community_menu.width() - community_list.width() ;
    var top_pos = community_menu.offset().top + community_menu.width() ;
    community_list.css('top', top_pos + 'px' );
    community_list.css('left', left_pos + 'px' );
  }
  
  //------------------------------------------------------------
  //  Hide the community list if outside community list is clicked
  //------------------------------------------------------------
  jQuery( document ).click( function( _e ) {
    var clicked = _e.target;
    if ( clicked.id != 'community_menu' ) { 
      if ( jQuery('#community_list') )  {
        jQuery('#community_list').css( 'display', 'none' );
      }
    }
  });
