:javascript
  function showCommunityDialog(e)
  {
    
    var community_list = $('community_list');
    var body = document.body;
    var community_menu = $('community_menu');
    
    body.appendChild(community_list);
    
    if (community_list.style.display == "block")
    {
      community_list.style.display = "none";
    }
    else
    {
      community_list.style.display = "block";
    }
    
    community_list.setStyle({ position: 'absolute', zIndex: '9999'});
    
    
    var left_pos = community_menu.cumulativeOffset().left + community_menu.getWidth() - community_list.getWidth() ;
    var top_pos = community_menu.cumulativeOffset().top + community_menu.getHeight() ;
    
    community_list.style.top = top_pos + "px";
    community_list.style.left = left_pos + "px";

    
  }

  Event.observe(document.body, 'click',
    function windowClick(e)
    {
      var clicked = $(Event.element(e));
      if (clicked.id != 'community_menu')
      { 
        if ($('community_list')) 
          {
            $('community_list').style.display = "none";
          }
      }
    }
   );


- if @current_user

  - end_communities = Community.where( :end_user_id => @current_user.id )
  - user_communities = @current_user.community_memberships
  - all_communities = end_communities | user_communities

  - if all_communities.length > 0
    
    %li{:onclick=>"showCommunityDialog(event)", :id=>"community_menu", :class=>"editor_menu"}
      = "Communities"
    
    %div{:class => "editor_nav", :id=>"community_list"}
      %ul
        %li
          = link_to "Home", dashboard_url
          
  
        - all_communities.each do |community|
          %li
            = link_to community.format_name, :controller => "user", :action => "user_community_dashboard", :community_id => community.id
  
        -#there is no real diff between this view and the user view        
          - end_communities = Community.where(end_user_id: @current_user.id)
          - if end_communities && end_communities.length > 0
            %li
              Completed
            - end_communities.each do |community|
              %li
                = link_to community.format_name, :controller => "user", :action => "user_community_dashboard", :community_id => community.id
                
        - #should be finding all user pubs, then showing the ones with community ids?
