- if @current_master_article
  #master_article_box
    .title= h @current_master_article.title
    %ul
      - @current_master_article.articles.each do |article|
        %li
          .links
            = link_to article.category, url_for(article.get_category_obj())       
            %br
- else
  %strong= 'none'
  
