
= link_to 'XML', exportxml_publication_tei_cts_identifier_path( tei_cts_identifier.publication, tei_cts_identifier)
= link_to 'Preview', preview_publication_tei_cts_identifier_path( tei_cts_identifier.publication, tei_cts_identifier)
= link_to 'Select Passage', create_publication_tei_passage_cts_identifier_path( tei_cts_identifier.publication, tei_cts_identifier)

%br
