@import "variables";

button, .btn, .btn:hover, .btn:visited, .btn:focus, .btn:link {
	@extend .font-button;
	height: $BUTTON_HEIGHT;
	line-height: $BUTTON_HEIGHT;
	/* Basic button has white background*/
	background-color:$COLOR_FOREGROUND;
	color: $COLOR_PRI;
 	border:none;
 	width: $BUTTON_WIDTH;
 	text-align: center;
	border:1px solid $COLOR_FOREGROUND; 
	padding:0;
	margin:$MARGIN;
	display:inline-block;
	cursor:pointer;
	
	&.autosize {
		width:auto;
		padding:0 ($BUTTON_HEIGHT/2);
		&:active {
			border:1px solid $COLOR_FOREGROUND;
 		        border-right:$OUTLINE_SIZE solid $COLOR_PRI;
			padding:0 ($BUTTON_HEIGHT/2);
		}
	}

	&.TreebankCiteIdentifier {
		background-color: $COLOR_Treebank;
		color: white;
	}
	&.AlignmentCiteIdentifier {
		background-color: $COLOR_Text_Alignment;
		color: white;
	}
	&.OaCiteIdentifier {
		background-color: $COLOR_Annotations;
		color: white;
	}

	@include medium {
  		width:$MD_BUTTON_WIDTH;
		height: $MD_BUTTON_HEIGHT;
		line-height: $MD_BUTTON_HEIGHT;
	}

	@include phone {
  		width:$XS_BUTTON_WIDTH;
		height: $XS_BUTTON_HEIGHT;
		line-height: $XS_BUTTON_HEIGHT;
	}
	&.quickaction {
		text-transform: none;
	}
 	&:active, &.active {
 		border:1px solid $COLOR_GRAY; 
 		border-right:$OUTLINE_SIZE solid $COLOR_PRI;
		padding:0;
 	}
 	&.revert {
		background-color:$COLOR_PRI;
		color: $COLOR_FOREGROUND;
	 	border:none;
	 	text-align: center;
		border:1px solid $COLOR_PRI; 
	 	&:active {
	 		border:1px solid $COLOR_PRI;
			padding:0;
	 	}
 	}
 	&.disabled, &[disabled] {
 		background-color:#e0e0e0;
 		color:$COLOR_DISABLED;
 	}
 	&.important {
 		@extend .bg-sdw;
 		&.fg {
	 		@extend .fg-sdw;
 		}
 	}
 	&.full-size {
 		width:100%;
 		text-decoration:none;
	 	&:active, &.active {
	 		border:1px solid $COLOR_GRAY; 
			padding:0;
	 	}
 	}

	&.card-size {
		height: $CARD_BUTTON_HEIGHT;
		line-height: $CARD_BUTTON_HEIGHT;
		text-align: center;
	}
}
