#filter {

	box-sizing: border-box;
	display:block;
	padding:0;
	width:auto;
	> * {
		margin:0 auto;
	}

	button {
		@extend .btn;
		@extend .bg-sdw;
		display:block;
		&.active {
			@extend .revert;
		}
		&:hover {
			display:block !important;
		}
	}
	input[type="text"] {
		@extend .bg-sdw;
		border:$OUTLINE_SIZE solid $COLOR_PRI;
		background-color:$COLOR_FOREGROUND;
		line-height: $BUTTON_HEIGHT;
		display:block;
		padding:0;
		margin:$MARGIN;
		width:$BUTTON_WIDTH;
		text-indent: 5px;

		@include medium {
	  		width:$MD_BUTTON_WIDTH;
			height: $MD_BUTTON_HEIGHT;
			line-height: $MD_BUTTON_HEIGHT;
		}

		@include phone {
	  		width:$XS_BUTTON_WIDTH;
			height: $XS_BUTTON_HEIGHT;
			line-height: $XS_BUTTON_HEIGHT;
		}
	}
	#filter-count {
		width:auto;
		display:none;
	}
	fieldset {
	        @extend .font-body;
                color: $COLOR_PRI;
		border:$OUTLINE_SIZE solid $COLOR_PRI;
		background-color:$COLOR_BACKGROUND;
		line-height: $BUTTON_HEIGHT;
		display:block;
		padding:0;
		margin:$MARGIN;
		text-indent: 5px;

		@include medium {
			line-height: $MD_BUTTON_HEIGHT;
		}

		@include phone {
			line-height: $XS_BUTTON_HEIGHT;
		}
	}
        legend {
        }
}
