.sosolcard, .modal {
	

	label {
		display:block;
		margin:$MARGIN_BIG 0;
	}
	input {
		@extend .fg-sdw;
		height:$CARD_BUTTON_HEIGHT;
	}
	.checkbox {
		height:$XS_BUTTON_HEIGHT;
		vertical-align: middle;
		background-color: $COLOR_FOREGROUND;
		> input {
			vertical-align: middle;
		}
		> label {
			height: $XS_BUTTON_HEIGHT;
			vertical-align: middle;
			display: inline;
			margin: 0;
		}
		> span {
			height: $XS_BUTTON_HEIGHT;
			vertical-align: middle;
		}

	}
	input:not([type="submit"]):not([type="button"]):not([type="checkbox"]) {
		border:$OUTLINE_SIZE solid $COLOR_PRI;
		width:75%;
		padding-left:1em;
		@extend .font-button ;
		text-transform: none!important;
		&:focus {
			border-color:$COLOR_SEC;
		}
	}
	textarea.input, input[type="text"] {
		border:$OUTLINE_SIZE solid $COLOR_PRI;
		width:100%;
		height:60px;
		padding-left:1em;
		text-align:left;
		padding:$MARGIN_SMALL;
		&:focus {
			border-color:$COLOR_SEC;
		}
	}
	input[type="submit"] {
		text-transform: uppercase;
                cursor: pointer;
		background-color:$COLOR_PRI;
		color: $COLOR_FOREGROUND;
	 	border:none;
	 	width: $BUTTON_WIDTH;
	 	text-align: center;
		border:1px solid $COLOR_PRI; 
		margin-top: $BUTTON_HEIGHT;
		padding:0;
		@extend .font-button ;
	 	&:active, &:hover, &:focus {
	 		border:1px solid $COLOR_PRI;
			height:$CARD_BUTTON_HEIGHT;
	 	}
		&.disabled {
			border-color: $COLOR_DISABLED;
			color: #e0e0e0;
			background-color:$COLOR_DISABLED;
		}
		&.small {
			height:$BUTTON_HEIGHT;
			margin-top: 0px;
			border:5px solid $COLOR_PRI;
		}
	}
}

.select-container {
	display:inline-block;
	cursor:pointer;
	position:relative;
	border:$OUTLINE_SIZE solid $COLOR_PRI;
	background-color:$COLOR_FOREGROUND;
	//overflow: hidden;
	select { 
		font-size:$BUTTON_FONT_SIZE;
		padding-right: $CARD_BUTTON_HEIGHT + $OUTLINE_SIZE;
		height:$CARD_BUTTON_HEIGHT - (2 * $OUTLINE_SIZE);
		background-color:transparent;
		border:none;
		border-right:none;
		overflow: hidden;
	    appearance:none;
	    -moz-appearance:none; /* Firefox */
	    -webkit-appearance:none; /* Safari and Chrome */
	    width:$BUTTON_WIDTH;
	    cursor:pointer;
		overflow: hidden;
		z-index: 99;
	}
	&.small {
		select {
			font-size: $MD_BUTTON_FONT_SIZE;
			padding-right: $MD_BUTTON_HEIGHT + $OUTLINE_SIZE;
			height: $MD_BUTTON_HEIGHT - (2 * $OUTLINE_SIZE);
			width: $MD_BUTTON_WIDTH;
		}
		&:after {
			width:$MD_BUTTON_HEIGHT;
			height:$MD_BUTTON_HEIGHT - (2 * $OUTLINE_SIZE);
			line-height:$MD_BUTTON_HEIGHT - (2 * $OUTLINE_SIZE);
		}
	}
	&.wide {
		select {
			width: 500px;
		}
	}

	.carret {
		display:none;
	}
	&:after{
		pointer-events: none;
		z-index: 1;
		position: absolute;
		right:0;
		background-color:$COLOR_PRI;
		top:0;
		display:block;
		width:$CARD_BUTTON_HEIGHT;
		height:$CARD_BUTTON_HEIGHT - (2 * $OUTLINE_SIZE);
		line-height:$CARD_BUTTON_HEIGHT - (2 * $OUTLINE_SIZE);
		content:"ïƒ—";
		color:white;
		text-align:center;
	    font-size: 40px;
	    vertical-align: baseline;
	    @extend .fa;
	}
	&.disabled {
		border-color:$COLOR_DISABLED;
		color:#e0e0e0;
		&:after {
			color:#e0e0e0;
			background-color:$COLOR_DISABLED;
		}
		select { 
			min-width: $BUTTON_WIDTH*0.75;
		}
	}
}

