body, .columns {
  display: -webkit-flex;
  -webkit-flex-direction: row;

  display: flex;
  flex-direction: row;
  width:100%;
  @include phone {
    flex-direction: column; /* affichage vertical */
  }
}
#main-wrapper {
  	flex: 1 1 auto; /* occupe la hauteur restante */
	> #container {
		padding:20px 80px 0 80px;
		@include medium {
			padding:25px 25px 0 25px;
		}
		@include small {
			padding:25px 25px 0 25px;
		}
		@include phone {
			padding:0;
		}
		> .card {
			margin-bottom:$MARGIN_BIG;
			&.no-bottom-margin {
				margin-bottom: 0;
			}
		}
		> header, .publication-container header {
			color:$COLOR_PRI;
			border-bottom:2px solid $COLOR_PRI;
			display: inline-block;
			min-width: 50%;
			> * {
				margin:0;
				padding:0;
			}
			padding-right:3em;
			padding-bottom:0.5em;
			
			margin:3em 0 3em 0;	
			&:first-child {
				margin:0 0 3em 0;	
			}

			padding:0 3em 0.5em 0;
			@include phone {
				border-bottom:none;
				padding:2em;
			}
		}
	}
}
.columns {
	@include small {
    	flex-direction: column; /* affichage vertical */
	}
}
.rows {
  display: -webkit-flex;
  -webkit-flex-direction: column;

  display: flex;
  flex-direction: column;
}*
.columns > * {
	width:50%;
	&.card {
		margin-bottom:0;
	}
        &.large-column {
	  width:75%;
        }
        &.small-column {
	  width:25%;
        }
	@include small {
		width:100%;
		&.card {
			//flex:none;
		}
	}
	@include phone {
		width:100%;
	}
}
.rows > *, .columns > * {
	@include phone {
		margin:$MARGIN_SMALL  0;
	}
	@include small {
		margin:$MARGIN_SMALL  0;
	}
}
.rows > .card {
	&:last-child {
		margin-bottom:0;
	}
}

.columns > .rows {
	padding:0 !important;
	@extend .no-sdw;
}
.columns > .rows {
	margin-top:0;
	padding:$MARGIN_SMALL $MARGIN_SMALL;
}
.card {
	margin:$MARGIN_SMALL;
	flex:1 1 auto;
	@extend .bg-sdw;
	padding:$MARGIN_BIG;
	background-color:$COLOR_FOREGROUND;
	> h2, > h3 {
		@extend .font-subheading;
		color:$COLOR_SEC;
	}
	&.no-padding {
		padding:0;
	}
	&.no-bottom-margin {
		margin-bottom:0;
	}
	&.third-size {
		flex:1 0.33 auto;
		width:33%;
		@include phone-and-small {
			flex:1 1 auto;
			width:100%;
		}
	}
}

.margin-left {
	margin-left:$MARGIN_BIG;
}

.card {
	ul.menu {
		list-style-type:none;
		padding:0;
		margin:0;
		display:flex;
		flex-direction:row;

		@include phone-and-small {
			flex-direction: column;
		}

		> li {
			display:inline-block;
			flex-grow:1;
			cursor:pointer;
			position:relative;
			background-color:$COLOR_FOREGROUND;
			> a, a:link, a:hover, a:visited, a:focus, a:active {
				@include phone-and-small {
					flex-direction: column;
					height:$XS_BUTTON_HEIGHT;
					line-height:$XS_BUTTON_HEIGHT;
					font-size: $XS_BUTTON_FONT_SIZE;
					border-bottom:1px solid $COLOR_GRAY;
					border-right:$OUTLINE_SIZE solid $COLOR_FOREGROUND;
				}
				display:block;
				box-sizing: border-box;

				height:$CARD_BUTTON_HEIGHT;
				color:$COLOR_PRI;

				line-height:$CARD_BUTTON_HEIGHT;
				@extend .font-button;
				text-align:center;

				border-bottom:$OUTLINE_SIZE solid $COLOR_FOREGROUND;
				&:active, &.active, &:focus {
					border-bottom:$OUTLINE_SIZE solid $COLOR_PRI;
					@include phone {
						border-bottom:1px solid $COLOR_GRAY;
						border-right:$OUTLINE_SIZE solid $COLOR_PRI;
					}
				}
			}
		}
	}
}
ul.menu {
	list-style-type: none;
	padding: 0;
	margin: 5px;

	@include phone-and-small {
		flex-direction: column;
	}

	> li {
		display: inline-block;
		flex-grow: 1;
		cursor: pointer;
		position: relative;
		> a, a:link, a:hover, a:visited, a:focus, a:active {
			@include phone-and-small {
				flex-direction: column;
				height: $XS_BUTTON_HEIGHT;
				line-height: $XS_BUTTON_HEIGHT;
				font-size: $XS_BUTTON_FONT_SIZE;
				border-bottom: 1px solid $COLOR_GRAY;
				border-right: $OUTLINE_SIZE solid $COLOR_BACKGROUND;
			}
			display: block;
			box-sizing: border-box;

			height: $CARD_BUTTON_HEIGHT;
			color: $COLOR_PRI;

			line-height: $CARD_BUTTON_HEIGHT;
			@extend .font-button;
			text-align: center;

			border-bottom: $OUTLINE_SIZE solid $COLOR_BACKGROUND;
			&:active, &.active, &:focus {
				border-bottom: $OUTLINE_SIZE solid $COLOR_PRI;
				@include phone {
					border-bottom: 1px solid $COLOR_GRAY;
					border-right: $OUTLINE_SIZE solid $COLOR_PRI;
				}
			}
		}
	}
}
ol.sentences {
	margin:0;
	padding:0;
	counter-reset: item;
	list-style-type:none;
	> li {
	    position:relative;
		padding:0 0 0 20px;
		color:black;
		&:before {
			display:block;
		    content: counter(item) ".";
		    counter-increment: item;
		    width: 3em;
		    position:absolute;
		    left:0;
			height:$SENTENCE_HEIGHT;
			line-height:$SENTENCE_HEIGHT;
			text-align:right;
			color:$COLOR_PRI;
		}
		&:after { display:none; }
		&:hover, &:hover:before {
			background:$COLOR_PRI;
			color:white;
		}
		a {
			margin-left:3em;
			height:$SENTENCE_HEIGHT;
			line-height:$SENTENCE_HEIGHT;
			display:inline-block;
			overflow:hidden;
			&:active, &:link, &:visited, &:hover {
				color:inherit;
				text-decoration:none;
			}
		}
	}
}

.columns-btn {
	display:flex;
	flex-direction:row;
	@include phone-and-small {
		flex-direction: column;
	}
	.container-btn {
		margin:$MARGIN_SMALL;
		display:flex;
		flex-direction: column;
		
		@include phone-and-small {
			flex-direction: row;
		}
		flex: 1 1 auto;
		justify-content: space-between;
		.btn {
			height:$CARD_BUTTON_HEIGHT;
			line-height:$CARD_BUTTON_HEIGHT;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.flash-notice {
	display: block;
	color: $COLOR_FOREGROUND;
	&.error {
		background-color: $COLOR_DANGER;
	}
	&.notice {
		background-color: $COLOR_SUCCESS;
	}
	&.warning {
		background-color: $COLOR_WARNING;
	}
	&.hints {
		background-color: $COLOR_HINTS;
	}
}

