.publication-container {
	clear:both;
	&:before, &:after {
		clear:both;
	}
}
.publication {
	@extend .bg-sdw;
	background-color:white;

	width:30%;
	margin-right:2%;
	@include medium {

		width:45%;
		margin-right:5%;
	}
	@include phone {
		width:100%;
		margin-right:0;
	}
	margin-top:0;
	display:inline-block;
	float:left;

  	height:$CARD_BUTTON_HEIGHT;
  	margin-bottom: 1*$CARD_BUTTON_HEIGHT/3;
  	position:relative;

  	.publication-validate {
  		display:none;
  		height:100%;
  		line-height: $CARD_BUTTON_HEIGHT;
  		width:$CARD_BUTTON_HEIGHT;
  		text-align:center;
  		position:absolute;
  		left:0;
  		background-color:$COLOR_PRI;
  		color:white;
  	}

  	&:hover {
  		.publication-validate {
  			display:block;
  		}
  		/*
  		// Not sure about this part
  		.legend {
  			margin-left:$CARD_BUTTON_HEIGHT + 2 * $OUTLINE_SIZE;
  		}
  		*/
  	}

	.legend_container {
		display:inline-block;
		float:left;
		padding:$MARGIN_SMALL;
		width:auto;
	}
	.legend_container:nth-child(2):after {
		content: "...";
		display: inline;
	}
	.legend_container .legend {
		display:none;
	}

	.legend_container:first-child .legend {
		display:inline-block;
		text-overflow: hidden;
		overflow: hidden;
	}
	.border{
		position:absolute;
		right:0;
  		height:$CARD_BUTTON_HEIGHT;
		width:$BUTTON_WIDTH;
  		list-style:none;
  		margin:0;
  		height:0;
		> li {
			text-overflow:hidden;
			overflow:hidden;
			color:white;
			float:right;
			display:block;
			width:$OUTLINE_SIZE*2;
			padding-left:$OUTLINE_SIZE*2;
			a:active, a:link, a:hover, a:visited {
				display:block;
				height:$CARD_BUTTON_HEIGHT;
				line-height: $CARD_BUTTON_HEIGHT;
				width:auto;
				color:white;
				font-family: Roboto;
				font-weight: 500;
				font-style: normal;
				font-size: $BUTTON_FONT_SIZE;
				text-decoration: none;
				&:hover {
					text-decoration:underline;
				}
			}
			&.treebank {
				background-color: $COLOR_Treebank;
			}
			&.transcription {
				background-color: $COLOR_Transcription;
			}
			&.commentary {
				background-color: $COLOR_Commentary;
			}
			&.text-alignment {
				background-color: $COLOR_Text_Alignment;
			}
			&.passage {
				background-color: $COLOR_Passage;
			}
			&.annotations {
				background-color: $COLOR_Annotations;
			}
			&.text-annotations {
				background-color: $COLOR_Text_Annotations;
			}
			&.translation {
				background-color: $COLOR_Translation;
			}
			&.TreebankCiteIdentifier {
				background-color: $COLOR_Treebank;
			}
			&.EpiCTSIdentifier {
				background-color: $COLOR_Transcription;
			}
			&.CommentaryCiteIdentifier {
				background-color: $COLOR_Commentary;
			}
			&.AlignmentCiteIdentifier {
				background-color: $COLOR_Text_Alignment;
			}
			&.CitationCTSIdentifier {
				background-color: $COLOR_Passage;
			}
			&.OaCiteIdentifier {
				background-color: $COLOR_Annotations;
			}
			&.OACIdentifier {
				background-color: $COLOR_Text_Annotations;
			}
			&.EpiTransCTSIdentifier {
				background-color: $COLOR_Translation;
			}
			&.votes {
				background-color: $COLOR_GRAY;
			}
			&:hover {
				width:auto;
				padding-right:$OUTLINE_SIZE*2;
			}
		}
	}
	.dropdown-container.votes {
		width:$MD_BUTTON_WIDTH;
		.type-dropdown {
			text-align: left;
		}
	}

}
