.publication-column {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
}
.fix-sdw {
	// Firefox and Chrome fail to compensate the shadow as of 2016, 1st september. This is the only way to column and shadow properly
	padding:0 0 $MARGIN_BIG;
}
.publication {
	@extend .bg-sdw;
	background-color:white;
	display: flex;
	flex-direction:row;
	width:95%;
  	height:$CARD_BUTTON_HEIGHT;
	align-items: center;
  	justify-content: center;
	.legend {
		display:block;
		padding:$MARGIN_SMALL;
		flex:auto;
		width:auto;
	}
	.dropdown-container {
		position:relative;
  		height:$CARD_BUTTON_HEIGHT;
		width:$BUTTON_WIDTH;
		.type-dropdown {
	  		height:$CARD_BUTTON_HEIGHT;
	  		line-height:$CARD_BUTTON_HEIGHT;
	  		text-align: center;
			display:block;
			list-style: none;
			margin:0;
			padding:0;
			width:$BUTTON_WIDTH;
			&:after{
				pointer-events: none;
				z-index: 1;
				position: absolute;
				right:0;
				background-color:transparent;
				top:0;
				display:block;
				width:$CARD_BUTTON_HEIGHT;
				height:$CARD_BUTTON_HEIGHT;
				line-height:$CARD_BUTTON_HEIGHT;
				content:"";
				color:white;
				text-align:center;
			    font-size: 40px;
			    vertical-align: baseline;
			    @extend .fa;
			}

			> li.active {
				display:block;
			}
			> li {
				color:white;
				display:none;
				a:active, a:link, a:hover, a:visited {
					display:block;
					height:$CARD_BUTTON_HEIGHT;
					line-height: $CARD_BUTTON_HEIGHT;
					width:auto;
					color:white;
					font-family: Roboto;
					font-weight: 500;
					font-style: normal;
					font-size: $BUTTON_FONT_SIZE;
					text-decoration: none;
					&:hover {
						text-decoration:underline;
					}
				}
				&.TreebankCiteIdentifier {
					background-color: $COLOR_Treebank;
				}
				&.EpiCTSIdentifier {
					background-color: $COLOR_Transcription;
				}
				&.CommentaryCiteIdentifier {
					background-color: $COLOR_Commentary;
				}
				&.AlignmentCiteIdentifier {
					background-color: $COLOR_Text_Alignment;
				}
				&.CitationCTSIdentifier {
					background-color: $COLOR_Passage;
				}
				&.OaCiteIdentifier {
					background-color: $COLOR_Annotations;
				}
				&.OACIdentifier {
					background-color: $COLOR_Text_Annotations;
				}
				&.EpiTransCTSIdentifier {
					background-color: $COLOR_Translation;
				}
				&.votes {
					background-color: $COLOR_GRAY;
				}
			}
			&:hover {
				position:absolute;
				right:0;
				top:0;
    			z-index:100;
				> li {
					display:block;
				}
			}
		}	
	}
	.dropdown-container.votes {
		width:$MD_BUTTON_WIDTH;
		.type-dropdown {
			text-align: left;
		}
	}

}