/*
ldiv.biblioSite
  width: 50em
  font-size: 1em

ldiv.biblioSite select,
ldiv.biblioSite input
  font-size: 0.846em
*/

div#edit input#biblio_identifier_title,
div#edit input#biblio_identifier_reedition
  width: 82%

/**** multi ****/

div#edit div#multi_authorList,
div#edit div#multi_editorList,
div#edit div#multi_publisherList,
div#edit div#multi_revueCritiqueList,
div#edit div#multi_relatedArticleList
  width: 82%

div#edit div.multi ul#multiItems_authorList li,
div#edit div.multi ul#multiItems_editorList li,
div#edit div.multi ul#multiItems_publisherList li,
div#edit div.multi ul#multiItems_revueCritiqueList li,
div#edit div.multi ul#multiItems_relatedArticleList li
  float: left
  width: 90%

div#edit div.multi ul#multiItems_authorList li input,
div#edit div.multi ul#multiItems_editorList li input
  width: 31%

div#edit div.multi ul#multiItems_publisherList li input
  width: 46%

div#edit div.multi ul#multiItems_revueCritiqueList li input
  width: 23%

div#edit div.multi ul#multiItems_relatedArticleList li input
  width: 18.5%

div#edit div.multi p#multiPlus_authorList,
div#edit div.multi p#multiPlus_editorList,
div#edit div.multi p#multiPlus_publisherList,
div#edit div.multi p#multiPlus_revueCritiqueList,
div#edit div.multi p#multiPlus_relatedArticleList
  width: 90%

div#edit div.multi p#multiPlus_authorList label,
div#edit div.multi p#multiPlus_editorList label,
div#edit div.multi p#multiPlus_publisherList label
  width: 5.5em

div#edit div.multi p#multiPlus_revueCritiqueList label
  width: 5em

div#edit div.multi p#multiPlus_relatedArticleList label
  width: 4.2em

div#edit div.multi p#multiPlus_authorList input,
div#edit div.multi p#multiPlus_editorList input
  width: 15%

div#edit div.multi p#multiPlus_publisherList input
  width: 29%

div#edit div.multi p#multiPlus_revueCritiqueList input
  width: 12%

div#edit div.multi p#multiPlus_relatedArticleList input
  width: 9%