.site
  width: 50em
  // center site divs
  margin: 0 auto
  padding: 0 3em
  text-align: left
  
#document_menu
  background: #eaeaea
  text-align: left
  overflow: hidden
  
  ul
    overflow: hidden
    background: #f4f4f4
    border-bottom: 3px solid white
    
    li
      background: #f4f4f4
      float: left
      list-style-type: none
      height: 1.6em
      padding-top: .4em
      border-right: 2px solid #eee
      position: relative
   
      :hover
        background: #f4f4f4
      
      .active
        background: white
        
        a
          color: black
          
          :hover
            color: #f4f4f4
      
      a
        padding: 1em 1.25em .3em 1.25em
        color: #979797
        font-size: 110%
        
        :hover
          color: #f4f4f4
          text-decoration: none