
@import "variables";
#wayf_select_form img {
  border: 2px outset $COLOR_PRI;
  margin: 0 2px;
  cursor: pointer;
  padding: 2px;
  height: 60px;
  width: 120px;
}

#themeSelector {
  display: none;

}
#imgspect *, #imgspect *:before, #imgspect *:after {
  -webkit-box-sizing: unset;
     -moz-box-sizing: unset;
          box-sizing: unset;
}

.select-bar input[type="text"] {
  border: $OUTLINE_SIZE solid $COLOR_PRI;
  font-size: 16px;
  width: 100%;
  height: 45px;
  padding-left: 1em;
  text-align: left;
  padding: $MARGIN_SMALL;
  &:focus {
    border-color: $COLOR_SEC;
  }
}

.card textarea.input.xml-content {
  height: 100%;
}

.card textarea.input.wmd-input {
  height: 300px;
}
.card .wmd-preview {
  background-color: $COLOR_Commentary;
}

.rows .row {
    margin: $MARGIN_SMALL;
}

.loading {
  background-image: url("../images/ajax_loader.gif");
  background-repeat: no-repeat;
  background-position: top left;
  opacity: 0.5; 
}

.diff {
  border: 1px solid gray;
  padding: 1em;
  ins {
    pre {
      code {
        white-space: pre-wrap;
        background: rgb(187, 255, 170);
      }
    }
  }

  del {
    text-decoration: none;
    pre {
      code {
        background: rgb(255, 187, 170);
      }
    }
  }
}

#termsofservice ol {
  list-style: roman outside;
  padding-left: 1rem;

}

#termsofservice ol li ol{
  list-style-type: lower-alpha;
  margin-left: 2rem;
}

#termsofservice ol li ol li ol {
  list-style-type: lower-roman;
  margin-left: 2rem;
}

#termsofservice input[type="checkbox"] {
   border: none;
   width: auto;
   padding-left: 0;
   height: 1em;
   font-size: inherit;

}

.oa_cite_annotation pre {
    background-color: $COLOR_BACKGROUND;
    width: 100%;
    overflow: scroll;
    font-family: "Courier New", Courier, monospace;
}

#vote-comments {
    border: 2px outset $COLOR_PRI;
    padding: 2px;
    margin-left: 1rem;
    max-height: 400px;
    overflow: scroll;
}

#vote-comments .comment_partial .model_comment {
  padding-top: .5rem;
  border-bottom:1px solid $COLOR_GRAY;
}



