=clip
  overflow: visible
  
  
  
.publication_holder
  position: relative
  +clip
  background-color: white
  width: 700px
  height: 42px
  border-width: 2px
  border-style: solid
  border-color: black
  margin: 2px

.publication
  +clip
  position: absolute
  #background-color: red
  #width: 200px
  #border-width: 2px
  #border-style: solid
  #border-color: lightgreen
  position: 2px 2px
  margin: 2px
  
.publication_board_name  
  font-size: xx-small
  
.identifier_holder
  +clip
  position: absolute
  background-color: lightgray
  width: 120px
  height: 40px
  
  border-width: 1px
  border-style: solid
  border-color: black

  

.HGVMetaIdentifier
  
  top: 0px
  left: 200px

.DDBIdentifier
  
  top: 0px
  left: 326px
  
.HGVTransIdentifier
  
  top: 0px
  left: 452px
  
.HGVBiblioIdentifier

  top: 0px
  left: 578px

  
.identifier
  +clip
  background-color: gray
  
  border-width: 1px
  border-style: solid
  border-color: black
  
  width: 118px
  height: 38px

  

.offset
  position: relative

.status_new 
  background-color: white

.status_editing
  background-color: white
  
.status_submitted
  background-color: white

.status_approved
  background-color: white
  
.status_voting
  background-color: white

.status_committed
  background-color: white
  
.status_archived
  background-color: white
  
.controlled_yes
  border-color: red
  
=status_bar
  +clip
  width: 118px
  height: 16px
  background-image: url("../images/status_back.png")
  background-repeat: no-repeat
  #background-color: coral
  position: absolute
  overflow: hidden

  img
    position: absolute
    top: 0px
    left: 0px

.status_icon
  width: 16px
  height: 16px
  display: inline
  overflow: hidden
  position: relative
  
.identifier_title
  #need to move below status bar
  position: absolute
  top: 16px
  left: 0px
  padding: 2px
.expand_identifers
  width: 16px
  height: 16px
  position: absolute
  top: 16px
  left: 84px
  
.identifier_holder_status_new
  +status_bar
  background-position: -96px 0px

.identifier_holder_status_editing
  +status_bar
  background-position: -80px 0px

.identifier_holder_status_submitted
  +status_bar
  background-position: -64px 0px
  
.identifier_holder_status_approved
  +status_bar
  background-position: -48px 0px

.identifier_holder_status_committed
  +status_bar
  background-position: -32px 0px
  
.identifier_holder_status_archived
  +status_bar
  background-position: -16px 0px
  
.needs_review
  background-color: darkgray
