!active_button_color = #D25F00
!button_color = gray

!publication_box_content_width = 1000px
!publication_box_content_height = 22px 

!publication_board_name_width = 50px

!overview_width = 20px

!publication_title_width = 200px
!publication_title_height = 20px

!identifier_box_content_width = 150px
!identifier_box_content_height = 20px

!identifier_box_width = 150px 

!identifier_box_start_left = !publication_board_name_width + !publication_title_width + !overview_width

!votes_width = 20px

=clip
  overflow: overflow

=publication_board_name_position
  top: 0px
  left: 0px
  
=publication_title_position
  top: 0px
  left = !publication_board_name_width 
  
=overview_position
  top: 0px
  left = !publication_board_name_width + !publication_title_width
  
  
=overview_header_position
  top: 0px
  left = !publication_board_name_width + !identifier_box_content_width
  

=HGVMetaIdentifier_position
  top: 0px
  left = !identifier_box_start_left + 0 * !identifier_box_width

=DDBIdentifier_position
  top: 0px
  left = !identifier_box_start_left + 1 * !identifier_box_width
  
=HGVTransIdentifier_position
  top: 0px
  left = !identifier_box_start_left + 2 * !identifier_box_width
  
=HGVBiblioIdentifier_position
  top: 0px
  left = !identifier_box_start_left + 3 * !identifier_box_width

=votes_position
  //left = !identifier_box_width - ( !votes_width * 2)
  left: 0px
  top: 4px

  
#content_body
  //holds the stuff between the header and the footer
  width = !publication_box_content_width
  margin-left: auto
  margin-right: auto
  
.publication_holder
  position: relative
  +clip
  background-color: white
  width = !publication_box_content_width
  height = !publication_box_content_height
  
  border-width: 2px
  border-style: solid
  border-color: black
  margin: 2px
  
.publication_title
  +clip
  +publication_title_position
  width = !publication_title_width
  height = !publication_title_height
  position: absolute
  //position: 2px 2px
  margin: 2px
  
.publication_board_name  
  position: absolute
  +publication_board_name_position

  
.overview_holder
  position: absolute
  width = !overview_width
  height = !publication_box_content_height
  +overview_position
  //width: 20px
  //height: 40px
  //height: 20px
  //top: 2px
  //left: 180px
  //left: 60px

  
.identifier_holder
  +clip
  position: absolute
  background-color: lightgray
  //width: 120px
  //height: 22px
  width = !identifier_box_content_width
  height = !identifier_box_content_height
  
  border-width: 1px
  border-style: solid
  border-color: black


.HGVMetaIdentifier
  +HGVMetaIdentifier_position

.DDBIdentifier
  +DDBIdentifier_position
  
.HGVTransIdentifier
  +HGVTransIdentifier_position

.HGVBiblioIdentifier
  +HGVBiblioIdentifier_position
  

#----- user publicaitons header--------

.user_publications_header_holder
  position: relative
  +clip
  background-color: white
  //width: 700px
  //height: 22px
  
  width = !publication_box_content_width
  height = !publication_box_content_height
  
  border-width: 2px
  border-style: solid
  border-color: black
  margin: 2px


=publication_header
  +clip
  position: absolute
  background-color: lightgray
  //width: 120px
  //height: 20px
  
  width = !identifier_box_content_width
  height = !identifier_box_content_height
  
  border-width: 1px
  border-style: solid
  border-color: black
  
  top: 0px
  
=user_publication_header
  +publication_header
  
.user_publications_header_title
  +user_publication_header
  //left: 0px
  left = !publication_board_name_width
  
.user_publications_header_overview
  width = !overview_width
  height = !publication_box_content_height
  +overview_header_position 
  position: absolute

.user_publications_header_HGVMetaIdentifier
  +user_publication_header
  +HGVMetaIdentifier_position
  //left: 200px

.user_publications_header_DDBIdentifier
  +user_publication_header
  //left: 326px
  +DDBIdentifier_position

.user_publications_header_HGVTransIdentifier
  +user_publication_header
  //left: 452px
  +HGVTransIdentifier_position
  
.user_publications_header_HGVBiblioIdentifier
  +user_publication_header
  //left: 578px
  +HGVBiblioIdentifier_position

#-----end user publicaitons header--------


#-----board publicaitons header--------

.board_publications_header_holder
  position: relative
  +clip
  background-color: white
  width: 700px
  height: 22px
  border-width: 2px
  border-style: solid
  border-color: black
  margin: 2px

.board_publications_header_board
  //+user_publication_header
  width = !publication_board_name_width
  height = !publication_box_content_height
  +publication_board_name_position
  
.board_publications_header_title
  //+user_publication_header
  width = !publication_title_width
  height = !publication_box_content_height
  +publication_title_position
  
.board_publications_header_overview
  //+user_publication_header
  width = !overview_width
  height = !publication_box_content_height
  +overview_position 
  
.board_publications_header_HGVMetaIdentifier
  +user_publication_header
  +HGVMetaIdentifier_position

.board_publications_header_DDBIdentifier
  +user_publication_header
  +DDBIdentifier_position

.board_publications_header_HGVTransIdentifier
  +user_publication_header
  +HGVTransIdentifier_position
  
.board_publications_header_HGVBiblioIdentifier
  +user_publication_header
  +HGVBiblioIdentifier_position  
  
  

#-----end board publicaitons header--------

.identifier
  +clip
  background-color: white
  
  border-width: 1px
  border-style: solid
  border-color: black
  
  //width: 118px
  width = !identifier_box_content_width
  //height: 38px
  height: 20px
  
  position: relative
  top: -2px //clean up boarders

.offset
  position: relative

.status_new 
  background-color: white

.status_editing
  background-color: white
  
.status_submitted
  background-color: white
  color: gray

.status_approved
  background-color: white
  
.status_voting
  background-color: white

.status_committed
  background-color: white
  
.status_archived
  background-color: white
  
.status_finalizing
  background-color: indianred

  
.controlled_yes
  border-color: red
  
=status_bar
  +clip
  width: 118px
  //height: 16px
  height: 4px
  z-index: 20
  background-image: url("../images/status_back.png")
  background-repeat: no-repeat
  #background-color: coral
  position: absolute
  overflow: hidden

  img
    position: absolute
    //top: 0px
    top: 4px
    left: 0px
    
  &:hover
    height: 22px

.status_icon
  width: 16px
  height: 16px
  display: inline
  overflow: hidden
  position: relative
  

.identifier_title
  //need to move below status bar
  position: absolute
  //top: 16px
  top: 4px
  left = !votes_width
  
  
  
  //padding: 2px
  color: black
  
.expand_identifers
  width: 16px
  height: 16px
  position: absolute
  top: 4px
  left: 96px
  
  
.identifier_holder_status_not_modified
  +status_bar
  background-position: -118px 0px
  
.identifier_holder_status_new
  +status_bar
  background-position: -96px 0px

.identifier_holder_status_editing
  +status_bar
  background-position: -96px 0px

.identifier_holder_status_submitted
  +status_bar
  background-position: -80px 0px
  
.identifier_holder_status_approved
  +status_bar
  background-position: -64px 0px
  #background-position: -48px 0px

.identifier_holder_status_committed
  +status_bar
  background-position: -48px 0px
  #background-position: -32px 0px
  
.identifier_holder_status_archived
  +status_bar
  background-position: -32px 0px
  #background-position: -16px 0px
  
.needs_review
  background-color: indianred
  
  
.sort_header
  background-color = !button_color
.sort_header:hover
  background-color = !active_button_color
  
    
.status_sort_button
  width: 16px
  height: 20px
  display: inline
  overflow: hidden
  float: left
  
  &:hover
    background-color = !active_button_color

    
.sort_button
  
  display: inline
  width: 100px
  background-color = !button_color
  
  border-width: 1px
  border-style: solid
  border-color: black
  margin: 5px
  
.sort_button:hover
  background-color = !active_button_color
  cursor: pointer
  
.extra_ids
  position: absolute
  top: 0px
  left: -50px
  border-width: 10px
  border-style: solid
  border-color = !active_button_color
  border-radius: 10px
  
  background-color: white
  padding: 5px
  margin: 5px
  
.show_more_ids
  //position: absolute
  //top: 10px
  //left: 100px
  //!identifier_box_content_width
  float: right
  width: 20px
  height: 20px

=votes_and_finalizer
  position: absolute
  +votes_position
  
  width = !votes_width
  height: 18px
  //z-index: 100
  //background-color: green
  
  overflow: hidden
  color: white
  background-color: black
  
  &:hover
    width: 200px
    z-index: 100
    color: black
    background-color: white
  
.votes
  +votes_and_finalizer
    
.finalizer
  +votes_and_finalizer