= javascript_include_tag 'setbackground'
:javascript
  setBackGroundColor("#{ENVIRONMENT_BACKGROUND}");
  // #{ENVIRONMENT_BACKGROUND} defined in secret file for environment under config/environments directory
.markup_warn
  %strong No Leiden markup ([], **, {}, underdot, etc.) allowed in input boxes.&nbsp Add such markup in the Leiden+ window afterward.
