#main
  = javascript_include_tag :defaults
  = javascript_include_tag 'helper'
    
  .site
    = stylesheet_link_tag 'helper'
    #gapsize{:class => "helperpop"}
      = render :partial => 'markup_warn'
      %h3 Valid expansion input values (parens around ex):
      %pre στρ(ατηγός) / (ἔτους) / στρ(ατηγός)afterex vel sim. - cannot handle multiple sets of parens
      %h3 Valid abbreviation input values (text only):
      %pre Ἀθην
      #abbrevtext_div
        %input{ :type => "text", :class => "choosetext greek", :id => "abbrev_value", :size => "25"}Input
      #low_left
        %form{:name => "abbrev"}
          %input{ :type => "checkbox", :class => "abbrevlow_check_c", :id => "abbrevlow", :name => "abbrevlow_check_n", :value => "abbrevlow"}Cert Low/ Certainty
      -#abbrevtype_div
      #type_left
        %input{ :checked => "", :type => "radio", :class => "abbrev_radio", :id => "abbrev_expan", :name => "abbrev_type_n", :value => "expan", :onclick => "checktypeabbrev(this.id)"}Expansion
        <br/>
        %input{ :type => "radio", :class => "abbrev_radio", :id => "abbrev_abbr", :name => "abbrev_type_n", :value => "abbr", :onclick => "checktypeabbrev(this.id)"}Abbreviation
      #button_left
        %button{ :type => "button", :onclick=>"insertAbbrev()" }Insert
        &nbsp
        %button{:type => "button", :onclick => "closeHelper()"}Close
