#main
  = javascript_include_tag "application"
  = javascript_include_tag 'helper'
    
  .site
    = stylesheet_link_tag 'helper'
    #app2col{:class => "helperpop"}
      = render :partial => 'markup_warn'
      %h4 Alternate readings
      #app_col
        #app_low
          %form{:name => "appaltlem"}
            %input{ :type => "checkbox", :class => "lemcert", :id => "appaltlemcert", :name => "lemcert", :value => "appaltlemcert"} Uncertain
        #app_text
          %input{ :type => "text", :class => "choosetext greek", :id => "appaltlem_value", :size => "25"}
        #app_desc.greek
          Preferred reading: e.g. ἐᾶ̣
        #app_button
          %button{ :type => "button", :onclick=>"insertAppAlt()" }Insert
          &nbsp
          %button{:type => "button", :onclick => "closeHelper()"}Close
      #app_col
        #app_low
          %form{:name => "appaltrdg"}
            %input{ :type => "checkbox", :class => "rdgcert", :id => "appaltrdgcert", :name => "rdgcert", :value => "appaltrdgcert"} Uncertain
        #app_text
          %input{ :type => "text", :class => "choosetext greek", :id => "appaltrdg_value", :size => "25"}
        #app_desc.greek
          Other possible reading: e.g. ἐᾶ[ι]
