#main
  = javascript_include_tag :defaults
  = javascript_include_tag 'helper'
    
  .site
    = stylesheet_link_tag 'helper'
    #app2col{:class => "helperpop"}
      = render :partial => 'markup_warn'
      <h4>Alternate possible readings; ex. from P.Polit.Iud. 3.31</h4>
      #app_col
        #app_text
          %input{ :type => "text", :class => "choosetext greek", :id => "appaltlem_value", :size => "25"}Lem (lem)
        #app_desc
          Preferred reading: e.g. ἐᾶ̣
        #app_button
          %button{ :type => "button", :onclick=>"insertAppAlt()" }Insert
          &nbsp
          %button{:type => "button", :onclick => "closeHelper()"}Close
      #app_col
        #app_text
          %input{ :type => "text", :class => "choosetext greek", :id => "appaltrdg_value", :size => "25"}Reading (rdg)
        #app_desc
          Other possible reading: e.g. ἐᾶ[ι]
