#main
  = javascript_include_tag "application"
  = javascript_include_tag 'helper'
    
  .site
    = stylesheet_link_tag 'helper'
    #app3col{:class => "helperpop"}
      = render :partial => 'markup_warn'
      %h4 Correction noted in BL
      #app_col
        #app_text
          %input{ :type => "text", :class => "choosetext greek", :id => "appBLlem_value", :size => "25"}
        #app_desc
          Correct form
        #app_button
          %button{ :type => "button", :onclick=>"insertAppBL()"}Insert
          &nbsp
          %button{:type => "button", :onclick => "closeHelper()"}Close
      #app_col
        #app_text
          %input{ :type => "text", :class => "choosetext greek", :id => "appBLresp_value", :size => "25"}
        #app_desc
          BL citation (vol.page), e.g.: 1.171
      #app_col
        #app_text
          %input{ :type => "text", :class => "choosetext greek", :id => "appBLrdg_value", :size => "25"}
        #app_desc
          Previous, incorrect form
