#main
  = javascript_include_tag :defaults
  = javascript_include_tag 'helper'
    
  .site
    = stylesheet_link_tag 'helper'
    #app2col{:class => "helperpop"}
      = render :partial => 'markup_warn'
      %h4 Modern editor normalization of orthographic variant or correction of error
      #app_col
        #app_low
          %form{:name => "apporthcorr"}
            %input{ :type => "checkbox", :class => "corrlow", :id => "apporthcorrlow", :name => "low", :value => "apporthcorrlow"} Uncertain
        #app_text
          %input{ :type => "text", :class => "choosetext greek", :id => "apporthcorr_value", :size => "25"}
        #app_desc
          Normalized/corrected form
        #app_button
          %button{ :type => "button", :onclick=>"insertAppOrth()" }Insert
          &nbsp
          %button{:type => "button", :onclick => "closeHelper()"}Close
      #app_col
        #app_low
          %form{:name => "apporthsic"}
            %input{ :type => "checkbox", :class => "siclow", :id => "apporthsiclow", :name => "low", :value => "apporthsiclow"} Uncertain
        #app_text
          %input{ :type => "text", :class => "choosetext greek", :id => "apporthsic_value", :size => "25"}
        #app_desc
          Non-standard/incorrect form
