#main
  = javascript_include_tag "application"
  = javascript_include_tag 'helper'
    
  .site
    = stylesheet_link_tag 'helper'
    #app3col{:class => "helperpop"}
      = render :partial => 'markup_warn'
      %h4 Correction proposed directly via SoSOL -- not published elsewhere
      #app_col
        #app_text
          %input{ :type => "text", :class => "choosetext greek", :id => "appSoSOLlem_value", :size => "25"}
        #app_desc
          Correct form
        #app_button
          %button{ :type => "button", :onclick=>"insertAppSoSOL()"}Insert
          &nbsp
          %button{:type => "button", :onclick => "closeHelper()"}Close
      #app_col
        #app_text
          %input{ :type => "text", :class => "choosetext greek", :id => "appSoSOLresp_value", :size => "25"}
        #app_desc
          Authority, e.g.: M. Smith
      #app_col
        #app_text
          %input{ :type => "text", :class => "choosetext greek", :id => "appSoSOLrdg_value", :size => "25"}
        #app_desc
          Previous, incorrect form
