#main
  = javascript_include_tag "application"
  = javascript_include_tag 'helper'
    
  .site
    = stylesheet_link_tag 'helper'
    #gapsize{:class => "helperpop"}
      = render :partial => 'markup_warn'
      %h3 Enter Type of Division
      #division_type
        %input{ :type => "text", :class => "choosetext", :id => "divisionType", :size => "30"}Type of division (e.g. ‘section’) (obligatory)
        %br
        %br
        %input{ :type => "text", :class => "choosetext", :id => "divisionSubtype", :size => "30"}Number/label of division (e.g. ‘a’, ‘b’, ‘i’, ‘ii’) (optional)
        %br
        %br
        %button{ :type => "button", :onclick=>"insertDivisionSub()" }Insert
        &nbsp
        %button{:type => "button", :onclick => "closeHelper()"}Close
