#main
  = javascript_include_tag "application"
  = javascript_include_tag 'helper'
    
  .site
    = stylesheet_link_tag 'helper'
    #number_div{:class => "helperpop"}
      = render :partial => 'markup_warn'
      %h3 Enter Greek/Latin content and/or Numerical value
      #numinp_div
        %input{ :type => "text", :class => "choosetext greek", :id => "number_content", :size => "04"}Greek/Latin content on papyrus, e.g. κε, γ
        %br
        %input{ :type => "text", :class => "choosetext", :id => "number_value", :size => "04"}Numerical value, e.g. 25, 1/3
        %form{:name => "uncertain"}
          %input{ :type => "checkbox", :class => "value_uncert_check_c", :id => "value_uncert", :name => "value_uncert_check_n", :value => "valueuncert", :enabled => "true"}Value uncertain?
        %br
        Both checkboxes below are ignored if only value is entered above
        %br
        %br
        %form{:name => "number"}
          %input{ :type => "checkbox", :class => "rend_tick_check_c", :id => "rendtick", :name => "rend_tick_check_n", :value => "rendtick", :enabled => "true"}Select if scribe marked number with a tick (’)
          %br
          %input{ :type => "checkbox", :class => "type_frac_check_c", :id => "typefrac", :name => "type_frac_check_n", :value => "typefrac", :enabled => "true"}Select if number is an unidentified fraction (value entered and/or uncertain checked above will be ignored if this box is checked)
          %br
      #button_left
        %button{ :type => "button", :onclick=>"insertNum()" }Insert
        &nbsp
        %button{:type => "button", :onclick => "closeHelper()"}Close
