= link_to 'Preview', preview_publication_oa_cite_identifier_path( oa_cite_identifier.publication, oa_cite_identifier)
= link_to 'Delete', polymorphic_path([oa_cite_identifier.publication, oa_cite_identifier]), :confirm => 'Are you sure?', :method => :delete
%br
