= link_to 'Edit (XML)', editxml_publication_oa_cite_identifier_path( oa_cite_identifier.publication, oa_cite_identifier)
= link_to 'Preview', preview_publication_oa_cite_identifier_path( oa_cite_identifier.publication, oa_cite_identifier)
%br
