
= link_to 'XML', edit_polymorphic_path([epi_trans_cts_identifier.publication, epi_trans_cts_identifier])  
= link_to 'Preview', preview_publication_epi_trans_cts_identifier_path( epi_trans_cts_identifier.publication, epi_trans_cts_identifier)
= link_to 'Delete', polymorphic_path([epi_trans_cts_identifier.publication, epi_trans_cts_identifier]), :confirm => 'Are you sure?', :method => :delete

%br
