%ul{:class => "menu"}
  %li
    = link_to 'Preview', preview_publication_oa_cite_identifier_path( oa_cite_identifier.publication, oa_cite_identifier), :class => 'btn bg-sdw'
  -if @identifier.mutable?
    %li
      = link_to 'Edit', edit_publication_oa_cite_identifier_path( oa_cite_identifier.publication, oa_cite_identifier), :class => 'btn bg-sdw'
    %li
      = link_to 'Delete', polymorphic_path([oa_cite_identifier.publication, oa_cite_identifier]), :confirm => 'Are you sure?', :method => :delete, :class => 'btn bg-sdw'
