div#editBibliography h2 {
  cursor: pointer;
  cursor: hand;
  background: #c0c0c0 url(/images/menu_strip_down_arrow.png) no-repeat top right;
  border-top: #000000 solid 1px;
  border-bottom: #a0a0a0 solid 1px;
  padding: 4px;
  margin: 4px 0 0 0; }

div#editBibliography fieldset {
  padding: 4px; }

div#editBibliography fieldset p label {
  width: 140px;
  float: left;
  text-align: left;
  margin-right: 4px;
  display: block; }

div#editBibliography fieldset p input {
  width: 200px; }

div.zoteroInactive div.zoteroEditor {
  display: none; }

div.zoteroActive div.zoteroEditor {
  display: block; }
