.decree {
  width: 95%;
  padding: 0.5em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  color: black;
  background: #cccccc;
  border-color: black;
  border-style: solid;
  border-width: 0.13em; }

.emailer {
  width: 95%;
  padding: 0.5em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  color: black;
  background: #cccccc;
  border-color: black;
  border-style: solid;
  border-width: 0.13em; }

.member {
  width: 95%;
  padding: 0.5em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  color: black;
  background: #cccccc;
  border-color: black;
  border-style: solid;
  border-width: 0.13em; }

.sortable_board {
  padding: 0.5em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  color: black;
  background: #cccccc;
  border-color: red;
  border-style: solid;
  border-width: 0.13em;
  cursor: move; }

.rule {
  width: 75%;
  padding: 0.5em;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  color: black;
  background: #cccccc;
  border-color: black;
  border-style: solid;
  border-width: 0.13em; }
