* {
  margin: 0;
  padding: 0; }

#main {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  clear: both; }

.invisible {
  display: none; }

.site {
  width: 95%;
  padding: 0 3em;
  text-align: left; }

.loading {
  background: #dadada;
  background-image: url("../images/ajax_loader.gif");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 128px 128px;
  opacity: 0.5; }

#edit_header h1 {
  float: left;
  font-size: 150%; }
#edit_header h3 {
  clear: both; }
#edit_header #submit {
  width: 95%; }
  #edit_header #submit select {
    font-family: helvetica, arial, clean, sans-serif;
    font-size: 1.25em;
    color: #3c2217;
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #f4f4f4;
    border-color: #dadada;
    border-style: outset;
    border-width: 0.13em; }
    #edit_header #submit select:hover {
      background: #dadada; }
    #edit_header #submit select:active {
      background: silver;
      border-style: inset; }
    #edit_header #submit select:disabled {
      color: #c8aea3; }
  #edit_header #submit #vote_submit {
    font-family: helvetica, arial, clean, sans-serif;
    font-size: 1.25em;
    color: #3c2217;
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #f4f4f4;
    border-color: #dadada;
    border-style: outset;
    border-width: 0.13em; }
    #edit_header #submit #vote_submit:hover {
      background: #dadada; }
    #edit_header #submit #vote_submit:active {
      background: silver;
      border-style: inset; }
    #edit_header #submit #vote_submit:disabled {
      color: #c8aea3; }
  #edit_header #submit #comment_comment {
    width: 100%;
    height: 6em; }

styled_button {
  font-family: helvetica, arial, clean, sans-serif;
  font-size: 1.25em;
  color: #3c2217;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #f4f4f4;
  border-color: #dadada;
  border-style: outset;
  border-width: 0.13em; }
  styled_button:hover {
    background: #dadada; }
  styled_button:active {
    background: silver;
    border-style: inset; }
  styled_button:disabled {
    color: #c8aea3; }

#submit {
  margin-top: 0.5em;
  border: 1px solid gray;
  background: #eaeaea;
  padding: 1em; }
  #submit h3 {
    margin-bottom: 0.5em; }
  #submit ul {
    margin-top: 0.25em;
    margin-left: 1em;
    margin-bottom: 0.25em; }
    #submit ul li {
      margin-left: 0.5em; }

input.submit {
  font-family: helvetica, arial, clean, sans-serif;
  font-size: 1.25em;
  color: #3c2217;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #f4f4f4;
  border-color: #dadada;
  border-style: outset;
  border-width: 0.13em; }
  input.submit:hover {
    background: #dadada; }
  input.submit:active {
    background: silver;
    border-style: inset; }
  input.submit:disabled {
    color: #c8aea3; }

p.show {
  margin-top: 0.25em;
  margin-left: 1em;
  margin-bottom: 0.25em;
  padding: 0.5em;
  text-align: left; }

styled_button_show {
  font-family: helvetica, arial, clean, sans-serif;
  font-size: 1.25em;
  color: #3c2217;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #f4f4f4;
  border-color: #dadada;
  border-style: outset;
  border-width: 0.13em;
  margin-top: 0.25em;
  margin-left: 1em;
  margin-bottom: 0.25em;
  padding: 0.5em;
  margin-right: 1em;
  text-align: left; }
  styled_button_show:hover {
    background: #dadada; }
  styled_button_show:active {
    background: silver;
    border-style: inset; }
  styled_button_show:disabled {
    color: #c8aea3; }

#logo {
  width: auto;
  float: left;
  padding-top: 1.5em; }
  #logo h1 {
    font-size: 2em; }
  #logo a {
    text-decoration: none;
    color: black; }

.text_box {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-width: 0.1em;
  border-color: #dadada;
  background: #f4f4f4; }

#user_box {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-width: 0.1em;
  border-color: #dadada;
  background: #f4f4f4;
  float: right;
  margin-top: 1.5em;
  margin-bottom: 1em; }
  #user_box .name {
    float: left;
    font-weight: bold; }
  #user_box .links {
    float: right;
    margin-left: 3em; }
    #user_box .links a {
      color: #4183c4;
      text-decoration: none; }
      #user_box .links a:hover {
        text-decoration: underline; }

#signin {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-style: solid;
  border-width: 0.1em;
  border-color: #dadada;
  background: #f4f4f4;
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.6em;
  margin-bottom: 0.6em; }
  #signin:hover {
    background: #dadada; }
  #signin a {
    color: black; }

.headinglink {
  font-size: medium;
  font-weight: bold; }

.greek {
  font-size: small;
  font-family: "Lucida Grande", "IFAO-Grec Unicode", "Cardo", "Arial Unicode MS", "New Athena Unicode", "Athena Unicode", "Lucida Grande", "Verdana", "Tahoma"; }

.flash {
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-style: solid;
  border-width: 0.13em; }

.flash.notice {
  color: green;
  background: #99ff99;
  border-color: green; }

.flash.error {
  color: red;
  background: #ffdddd;
  border-color: red; }

.flash.warning {
  color: red;
  background: #ffff99;
  border-color: yellow; }

.site form input.save {
  font-family: helvetica, arial, clean, sans-serif;
  font-size: 1.25em;
  color: #3c2217;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #f4f4f4;
  border-color: #dadada;
  border-style: outset;
  border-width: 0.13em; }
  .site form input.save:hover {
    background: #dadada; }
  .site form input.save:active {
    background: silver;
    border-style: inset; }
  .site form input.save:disabled {
    color: #c8aea3; }

.diff {
  border: 1px solid gray;
  padding: 1em; }
  .diff pre {
    white-space: pre-wrap; }
  .diff ins pre code {
    background: #bbffaa; }
  .diff del {
    text-decoration: none; }
    .diff del pre code {
      background: #ffbbaa; }

#edit form textarea {
  width: 100%;
  height: 50em;
  margin-bottom: 1em; }
#edit form input.comment {
  width: 100%; }
#edit form input.commenttop {
  width: 89%;
  margin-bottom: 0.5em; }
#edit form input.save {
  font-family: helvetica, arial, clean, sans-serif;
  font-size: 1.25em;
  color: #3c2217;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #f4f4f4;
  border-color: #dadada;
  border-style: outset;
  border-width: 0.13em;
  margin-top: 1em;
  float: left; }
  #edit form input.save:hover {
    background: #dadada; }
  #edit form input.save:active {
    background: silver;
    border-style: inset; }
  #edit form input.save:disabled {
    color: #c8aea3; }
#edit form input.brokenbottom {
  font-family: helvetica, arial, clean, sans-serif;
  font-size: 1.25em;
  color: #3c2217;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #f4f4f4;
  border-color: #dadada;
  border-style: outset;
  border-width: 0.13em;
  background: #ffaaaa;
  margin-top: 1em;
  float: right; }
  #edit form input.brokenbottom:hover {
    background: #dadada; }
  #edit form input.brokenbottom:active {
    background: silver;
    border-style: inset; }
  #edit form input.brokenbottom:disabled {
    color: #c8aea3; }
  #edit form input.brokenbottom:hover {
    background: #ff9999; }
  #edit form input.brokenbottom:active {
    background: #ff7777; }
#edit form input.savetop {
  font-family: helvetica, arial, clean, sans-serif;
  font-size: 1.25em;
  color: #3c2217;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #f4f4f4;
  border-color: #dadada;
  border-style: outset;
  border-width: 0.13em;
  margin-bottom: 0.3em;
  float: right;
  width: 10%; }
  #edit form input.savetop:hover {
    background: #dadada; }
  #edit form input.savetop:active {
    background: silver;
    border-style: inset; }
  #edit form input.savetop:disabled {
    color: #c8aea3; }
#edit form input.brokentop {
  font-family: helvetica, arial, clean, sans-serif;
  font-size: 1.25em;
  color: #3c2217;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #f4f4f4;
  border-color: #dadada;
  border-style: outset;
  border-width: 0.13em;
  background: #ffaaaa;
  margin-right: 10em;
  margin-bottom: 0.3em;
  float: right; }
  #edit form input.brokentop:hover {
    background: #dadada; }
  #edit form input.brokentop:active {
    background: silver;
    border-style: inset; }
  #edit form input.brokentop:disabled {
    color: #c8aea3; }
  #edit form input.brokentop:hover {
    background: #ff9999; }
  #edit form input.brokentop:active {
    background: #ff7777; }

#edit_bar {
  font-size: 75%;
  margin-top: 0.5em; }

#identifier_menu {
  width: 100%;
  background: #dadada;
  text-align: left;
  clear: both; }
  #identifier_menu ul {
    background: #dadada;
    border-bottom-width: 0.2em;
    border-bottom-style: solid;
    border-bottom-color: #dadada; }
    #identifier_menu ul li.active {
      background: #eeeeee; }
    #identifier_menu ul li.nav_control {
      background: #d0d0d0;
      float: right; }
    #identifier_menu ul li {
      background: #dadada;
      float: left;
      list-style-type: none;
      height: 1.6em;
      padding-top: 0.4em;
      border-right-color: #eeeeee;
      border-right-width: 0.13em;
      border-right-style: solid;
      position: relative; }
      #identifier_menu ul li ul {
        height: auto;
        border-width: 0.2em;
        border-style: solid;
        border-color: #dadada;
        display: none;
        position: absolute;
        width: 20em;
        margin-top: 0.4em;
        background: white;
        left: auto; }
        #identifier_menu ul li ul li {
          background: white;
          clear: both;
          float: left; }
      #identifier_menu ul li:hover {
        background: #bbbbbb; }
        #identifier_menu ul li:hover > ul, #identifier_menu ul li:hover li {
          display: block;
          z-index: 100; }
        #identifier_menu ul li:hover a {
          color: black;
          text-decoration: none; }
      #identifier_menu ul li a {
        padding: 1em 1.25em 0.3em 1.25em;
        color: black;
        font-size: 110%;
        text-decoration: none; }
        #identifier_menu ul li a:hover {
          color: black;
          text-decoration: none; }

#janrainEngageEmbed {
  float: left;
  margin-bottom: 2em; }

#signup_box {
  float: right;
  width: 35em; }

#signup_explanation {
  clear: both; }

#identifier_sub_menus {
  clear: both;
  text-align: left; }

#sub_menu_2 {
  background-color: silver;
  text-align: left; }
  #sub_menu_2 a:hover {
    text-decoration: none;
    background-color: #aaaaaa; }

ul.publications a.modified {
  font-weight: bold; }
ul.publications li ul li {
  list-style: none;
  display: inline; }
ul.publications li ul li:after {
  content: ", "; }
ul.publications li ul li.last:after {
  content: ". "; }

.identifier_sub_menu_empty {
  height: 0.5em;
  background: #dadada; }

.identifier_sub_menu {
  background: #dadada;
  line-height: 1.5; }
  .identifier_sub_menu ul {
    overflow: hidden;
    list-style: none; }
  .identifier_sub_menu li.active a {
    background: #eeeeee; }
  .identifier_sub_menu li {
    float: left;
    position: relative; }
    .identifier_sub_menu li ul {
      display: none;
      position: absolute;
      top: 1em;
      left: 0;
      background-color: #d0d0d0;
      margin-left: 1.7em;
      border-color: #d0d0d0;
      border-style: solid;
      border-width: 0.16em;
      border-top-style: none;
      padding: 0.3em; }
      .identifier_sub_menu li ul li {
        top: auto;
        left: auto;
        float: none;
        min-width: 6em; }
        .identifier_sub_menu li ul li a {
          margin-left: 0;
          padding: 0.1em 0.3em;
          display: block;
          text-decoration: none; }
        .identifier_sub_menu li ul li:hover ul {
          display: block; }
  .identifier_sub_menu a {
    padding: 0.3em;
    margin-left: 2em;
    color: black;
    text-decoration: none; }
    .identifier_sub_menu a:hover {
      text-decoration: none;
      background-color: #bbbbbb; }

.commentary.textpart {
  padding: 1em;
  margin: 1em;
  border-style: solid;
  border-width: 0.16em;
  border-color: #d0d0d0; }
  .commentary.textpart .textpart {
    margin-left: 1em; }

.commentary#edition ul li.line {
  list-style-type: none;
  border-bottom: 1px dotted;
  border-bottom-color: #d0d0d0;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
.commentary#edition ul li.clickable:hover {
  background: #dadada;
  cursor: pointer; }
.commentary#edition ul li.clickable div.form:hover {
  background: #dadada; }
.commentary#edition ul li.input {
  list-style-type: none; }
  .commentary#edition ul li.input div.form {
    border: 1px solid;
    border-color: #d0d0d0;
    border-top: none;
    background: #eaeaea;
    padding: 1em;
    margin-bottom: 1em; }
    .commentary#edition ul li.input div.form span.reference {
      color: #979797; }
    .commentary#edition ul li.input div.form input.save_commentary {
      font-family: helvetica, arial, clean, sans-serif;
      font-size: 1.25em;
      color: #3c2217;
      padding: 0.25em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      background: #f4f4f4;
      border-color: #dadada;
      border-style: outset;
      border-width: 0.13em;
      margin-top: 0em; }
      .commentary#edition ul li.input div.form input.save_commentary:hover {
        background: #dadada; }
      .commentary#edition ul li.input div.form input.save_commentary:active {
        background: silver;
        border-style: inset; }
      .commentary#edition ul li.input div.form input.save_commentary:disabled {
        color: #c8aea3; }
  .commentary#edition ul li.input textarea {
    height: auto; }

.frontmatter_container .clickable:hover {
  background: #dadada;
  cursor: pointer; }
.frontmatter_container p.label {
  text-decoration: underline; }
.frontmatter_container div.form {
  border: 1px solid;
  border-color: #d0d0d0;
  background: #eaeaea;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em; }
  .frontmatter_container div.form input.save_commentary {
    font-family: helvetica, arial, clean, sans-serif;
    font-size: 1.25em;
    color: #3c2217;
    padding: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #f4f4f4;
    border-color: #dadada;
    border-style: outset;
    border-width: 0.13em;
    margin-top: 0em; }
    .frontmatter_container div.form input.save_commentary:hover {
      background: #dadada; }
    .frontmatter_container div.form input.save_commentary:active {
      background: silver;
      border-style: inset; }
    .frontmatter_container div.form input.save_commentary:disabled {
      color: #c8aea3; }

.commit {
  background-color: #eaeaea;
  border-color: #d0d0d0;
  border-style: solid;
  border-width: 0.16em;
  display: block;
  overflow: hidden; }
  .commit .ids {
    min-width: 7.5em;
    width: 25%;
    float: right; }
    .commit .ids ul {
      padding: 1em; }
      .commit .ids ul li {
        list-style-type: none; }
  .commit .body {
    padding: 1em;
    width: 70%;
    float: left;
    border-right-color: #d0d0d0;
    border-right-style: solid;
    border-right-width: 0.16em; }
    .commit .body .author {
      margin-top: 1em; }
      .commit .body .author span.type {
        color: #979797; }
    .commit .body .date {
      color: #979797; }

.comment_partial {
  background-color: #bbbbbb;
  clear: both;
  border-style: solid;
  border-width: 1px; }
  .comment_partial .meta_comment {
    background-color: #99ff99; }
  .comment_partial .model_comment {
    background-color: #72fff4; }
  .comment_partial .text_comment {
    background-color: #ffffc0; }
  .comment_partial .translation_comment {
    background-color: #ffcd81; }
  .comment_partial .name {
    float: left; }
  .comment_partial .time {
    float: left;
    margin-left: 1em;
    font-size: smaller;
    font-weight: lightest; }
  .comment_partial .reason {
    float: right; }
  .comment_partial .comment {
    clear: both;
    background-color: #e7e7e7; }

#editing_trans_text_view {
  border-width: 1px;
  border-style: solid;
  width: 100%;
  height: 50em;
  overflow: auto; }

.advanced_create {
  padding: 1em;
  border: 1em;
  border-top-color: #dadada;
  border-top-style: solid;
  border-top-width: 2px; }

.user_admins .user_name {
  position: relative;
  display: inline;
  font-size: 120%;
  width: 200px;
  text-align: left; }
.user_admins .checkbox_container {
  display: inline;
  margin: 2em;
  text-align: left;
  min-width: 20em; }

.select_user_name a:link {
  text-decoration: none; }
  .select_user_name a:link:hover {
    color: red;
    font-weight: bold; }

.remove_user .user_name {
  font-weight: bold;
  display: inline; }
.remove_user a:link {
  text-decoration: none; }
  .remove_user a:link:hover {
    color: red;
    font-weight: bold;
    font-size: 125%; }

#content_box {
  text-align: left; }

table.download_table tr {
  border-width: 1px;
  border-style: dotted; }
table.download_table td {
  padding: 1em;
  border-width: 1px;
  border-style: dotted; }

div#hd {
  height: auto; }

div#header {
  height: auto; }

div.nav {
  top: auto;
  z-index: 103; }

div.editor_nav {
  display: none;
  background-color: #cccccc; }
  div.editor_nav ul {
    text-align: left; }
    div.editor_nav ul a {
      padding-left: 5px;
      text-decoration: none;
      display: block;
      color: #5c0303; }
      div.editor_nav ul a:hover {
        background-color: #f8f6f4; }

li.editor_menu {
  color: #5c0303;
  cursor: pointer; }
  li.editor_menu:hover {
    background-color: white; }

.right {
  float: right; }

.more_less {
  display: inline;
  font-size: 125%; }
  .more_less a {
    text-decoration: none; }
    .more_less a:link {
      color: black; }
    .more_less a:visited {
      color: black; }
    .more_less a:hover {
      color: black; }

ul.sign_in_out {
  margin: 5px;
  float: right; }
  ul.sign_in_out li {
    display: inline; }
    ul.sign_in_out li a {
      text-decoration: none; }
      ul.sign_in_out li a:link {
        color: #f8f6f4; }
      ul.sign_in_out li a:visited {
        color: #f8f6f4; }
      ul.sign_in_out li a:hover {
        color: black;
        background-color: #f8f6f4; }

div.votes {
  background-color: #f8f6f4;
  border-style: solid;
  border-color: black;
  border-width: 1px; }
  div.votes table {
    text-align: left; }

div.batch_box {
  background-color: #f8f6f4;
  border-style: solid;
  border-color: black;
  border-width: 1px; }
  div.batch_box ul {
    text-align: left; }
    div.batch_box ul a {
      text-decoration: none; }

div.preview_commentary {
  margin-left: 3em; }
