#logo a {
  color: black; }

#header_box {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 80px;
  position: relative;
  background-image: url("/images/pn_header.jpg"); }

#header_top {
  position: relative;
  height: 60px;
  top: 0px;
  left: 0px;
  z-index: 1;
  position: absolute;
  height: 60px;
  width: 100%;
  top: 0px;
  left: 0px; }

#header_user_box {
  position: absolute;
  top: 20px;
  right: 10px; }

#header_title {
  position: absolute;
  top: 0px;
  left: 0px; }

#header_selector {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 100px; }
  #header_selector form {
    width: 400px; }

#header_tab_holder {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100%;
  z-index: 0;
  height: 20px; }

.header_tab {
  background-color: white;
  border-color: #d25f00; }

.header_tab_active {
  background-color: #d25f00;
  border-color: white; }
  .header_tab_active a link {
    color: white; }
  .header_tab_active a visited {
    color: white; }
  .header_tab_active a hover {
    color: #d25f00; }

.header_tab:hover {
  background-color: #d25f00;
  border-color: white; }
  .header_tab:hover a link {
    color: white; }
  .header_tab:hover a visited {
    color: white; }
  .header_tab:hover a hover {
    color: #d25f00; }

#header_edit_tab {
  float: left; }

#xxheader_board_tab {
  height: 16px;
  display: inline;
  position: relative;
  top: 20px;
  border-width: 2px;
  #border-style: solid;
  #border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  text-align: center;
  left: 154px; }
  #xxheader_board_tab a {
    text-decoration: none; }

.header_tab {
  float: left;
  height: 16px;
  display: inline;
  position: relative;
  top: 20px;
  border-width: 2px;
  #border-style: solid;
  #border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  text-align: center;
  min-width: 50px; }
  .header_tab a {
    text-decoration: none; }

.header_spacer_tab {
  height: 16px;
  display: inline;
  position: relative;
  top: 20px;
  border-width: 2px;
  #border-style: solid;
  #border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  text-align: center;
  border-style: none;
  float: left;
  width: 10px;
  min_width: 10px; }
  .header_spacer_tab a {
    text-decoration: none; }

#footer_box {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  height: 2em;
  margin-top: 1.5em;
  margin-bottom: 1em;
  background-color: gray; }
  #footer_box .links {
    float: left;
    margin-left: 3em; }
    #footer_box .links a {
      color: white;
      text-decoration: none; }
      #footer_box .links a:hover {
        text-decoration: underline; }
