.helperpop /* the whole div displayed by each tab */
{
/*border-style: solid;
border-width:medium;
/*height:5em;
width:40em;*/
margin-bottom: 0.63em;
font-size: medium;/*set so that em sizing is consisent*/
}

.choosetext /* applied to all input text boxes */
{
margin-bottom: 3px; /* space between input boxes that are stacked */
margin-right: 3px; /* move label away */
}

.choosetextradio /* applied to all input text boxes */
{
margin-top: 5px; /* space between input boxes that are stacked */
margin-bottom: 3px; /* space between input boxes that are stacked */
margin-right: 3px; /* move label away */
}

#number_div {
height:11em;
width:43em;
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
}

#numcol1 {
float:left;
height:7em;
width:13em;
}

#numtype_div {
position:relative;
top:0.63em;
width:12em;
}

#numbutton_div {
position:relative;
top:2.2em;
width:10em;
}

#numcol2 {
float:left;
height:7em;
width:30em;
}

#numinp_div {
position:relative;
top:0.63em;
}

#diacritical_div {
height:20em;
width:20em;
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
/*display: "";*/
}

#dia_left {
position:relative;
top:0.63em;
float:left;
width:9em;
}

#gapsize {
height:7em;
width:36em;
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
/*display: "";*/
}

#extent_left {
position:relative;
top:0.63em;
float:left;
width:10em;
}

#type_left {
position:relative;
top:0.63em;
float:left;
width:10em;
}

#low_left {
position:relative;
top:0.63em;
float:left;
width:8em;
}

#button_left {
position:relative;
top:0.63em;
float:left;
width:10em; 
}

#gapall_button_left {
position:relative;
top:4em;
float:left;
width:10em; 
}

#gapalltyperadio_div {
position:relative;
top:-1.2em;
left: 4em;
width:15em;
}

#gapalllangradio_div {
position:relative;
top:-1em;
left: 7em;
width:20em;
}

#gapallunitradio_div {
position:relative;
top:-1.25em;
left: 4em;
width:15em;
}

#gapallqtyradio_div {
position:relative;
top:-.2em;
left:-16em;
float:right;
width:16em;
}

#gapallcertcb_div {
position:relative;
top:4em;
width:15em;
}

#abbrevtext_div {
position:relative;
top:0.63em;
float:left;
width:20em;
}

#division_type {
position:relative;
top:0.63em;
float:left;
width:40em;
}

#app2col {
height:10em;
width:38em;
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
}

#app3col {
height:10em;
width:51em;
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
}

#app_col {
float:left;
height:7em;
width:17em;
}

#app_low {
position:relative;
top:0.63em;
width:7em;
}

#app_text {
position:relative;
top:0.63em;
width:17em;
}

#app_desc {
position:relative;
top:0.63em;
width:14em;
}

#app_button {
position:relative;
top:2em;
width:10em; 
}

#app_clarify_text {
position:relative;
top:4em;
width:38em;
clear: both;
}

#tryitdiv {
height:10em;
width:70em;
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
}
