.helperpop /* the whole div displayed by each tab */
{
/*border-style: solid;
border-width:medium;
/*height:5em;
width:40em;*/
margin-bottom: 0.63em;
font-size: medium;/*set so that em sizing is consisent*/
}

.invisible {
  display: none; }

.choosetext /* applied to all input text boxes */
{
font-size: medium;/*set so that em sizing is consisent*/
margin-bottom: 3px; /* space between input boxes that are stacked */
margin-right: 3px; /* move label away */
}

.choosetextradio /* applied to all input text boxes */
{
margin-top: 5px; /* space between input boxes that are stacked */
margin-bottom: 3px; /* space between input boxes that are stacked */
margin-right: 3px; /* move label away */
}

.greek 
{
font-size: medium;/*set so that em sizing is consisent*/
font-family: "Lucida Grande", "Cardo", "Arial Unicode MS", "New Athena Unicode", "Athena Unicode", "Lucida Grande", "Verdana", "Tahoma"; 
}

.markup_warn 
{
color:white;
background-color:#005DAA;
height:2.5em;
width:31em;
font-size: medium;/*set so that em sizing is consisent*/
padding: .1em;
}

#number_div {
height:11em;
width:35em;
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
}

#numinp_div {
position:relative;
top:0.63em;
}

#diacritical_div {
height:20em;
width:18em;
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
/*display: "";*/
}

#dia_left {
position:relative;
top:0.63em;
float:left;
width:9em;
}

#gapsize {
height:7em;
width:36em;
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
}

#bibliosize {
height:7em;
width:75em;/*set close to selector size*/
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
}

#type_left {
position:relative;
top:0.63em;
float:left;
width:10em;
}

#low_left {
position:relative;
top:0.63em;
float:left;
width:8em;
}

#button_left {
position:relative;
top:0.63em;
float:left;
width:10em; 
}

#gapall_button_left {
position:relative;
top:4em;
float:left;
width:10em; 
}

#gapalltyperadio_div {
position:relative;
top:-1.2em;
left: 4em;
width:17em;
}

#gapalllangradio_div {
position:relative;
top:-1em;
left: 7em;
width:20em;
}

#gapallunitradio_div {
position:relative;
top:-1.25em;
left: 4em;
width:15em;
}

#gapallqtyradio_div {
position:relative;
top:-.2em;
left:-14em;
float:right;
width:18em;
}

#gapallcertcb_div {
position:relative;
top:4em;
width:20em;
}

#abbrev_incomplete {
position:relative;
top:0.25em;
left: 8em;
width:21em;
}

#division_type {
position:relative;
top:0.63em;
float:left;
width:40em;
}

#app2col {
height:10em;
width:38em;
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
}

#app3col {
height:10em;
width:51em;
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
}

#app_col {
float:left;
height:7em;
width:18em;
}

#app_low {
position:relative;
top:0.63em;
width:7em;
}

#app_text {
position:relative;
top:0.63em;
width:17em;
}

#app_desc {
position:relative;
top:0.63em;
width:14em;
}

#app_button {
position:relative;
top:2em;
width:10em; 
}

#appEditCitation {
clear: both;
position:relative;
top:0em;
width:47em; 
}

#appEditCitationText {
position:relative;
float: right;
top:0em;
width:40em;
}

#tryitdiv {
height:10em;
width:70em;
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
}
