#editable_preview_xsl {
  display:none;
}
#editing_trans_preview {
height:20em;
overflow:scroll;
width:40em;
}



#editing_trans_xml {
height:200em !important;

width:400em !important;
}
#editing_trans_xml_div {
height:20em;
overflow:scroll;
width:40em;
}
#info_div {
/* color:#00FF00; */
border-style: double;
border-width:small;
height:5em;
width:40em;
margin-bottom: 5px;
padding: 5px 5px;
}
#info_div h1 {
/* color:#FF0000; */
font-size:medium;
}
#info_div p {
font-size:small;
}
#chooser_div {
float:right;
height:20em;
width:20em;
}
.chooser
{
border-style: solid;
border-width:small;
height:5em;
width:40em;
padding: 10px 10px;
}

.chooser_tab
{
border-style: solid;
border-width:2px;
height:2em;
background-color:#EEEEEE;
text-transform:uppercase;
padding: 1px 5px;
margin-top: 20px;
}


#app_div {
height:10em;
width:40em;
}
#app_div textarea {
color:#ff0000;
height:1.5em !important;
width:10em !important;
/*for somereason the order is being ignored here, this is the last stylesheet but it is being overidden somewhere else so I added the important csc*/
}

#milestone_div {
height:10em;
width:40em;
}


#glossary_div {
height:10em;
overflow:scroll;
width:40em;
}

#glossary_xml {
  display:none;
}

.glossary_chooser {

}
.glossary_chooser h2 {
color:#FF0000;
display:inline;
font-size:medium;
cursor:pointer;
}
.glossary_chooser h3 {
color:#000000;
display:inline;
font-size:small;
}
.glossary_chooser h3:before {
content:" - ";
}
.glossary_chooser p {
font-size:small;
text-indent:50px;
}

.glossary_chooser p:before {
content:"-";
}

.editable_term {
background-color:#EE4444;
font-weight:400;
}
.editable_text {
background-color:#EEEEEE;
font-weight:100;
}
.editable_lem {
background-color:#AAAAEE;
font-weight:100;
}





.gap_lost:before {
content:"lost ";
}


.gap_illegible:before {
content:"[";
}

.gap_illegible:after {
content:"]";
}
