/* *** quickhelp *** */
span.quickHelp {
  position: relative;
  z-index: 100;
  float: left;
  margin: 0 0 0 4px;
  height: 16px; }

span.quickHelp span.hook {
  position: relative;
  background-color: lightsteelblue;
  padding: 2px;
  font-weight: bold;
  color: white;
  cursor: pointer; }

span.quickHelp span.message {
  position: absolute;
  left: 16px;
  bottom: 8px;
  background-color: lightgrey;
  color: steelblue;
  border: solid 1px steelblue;
  padding: 4px;
  width: 200px;
  font-variant: normal;
  font-weight: normal; }

/* *** global *** */
div.metaSite {
  width: 50em; }

div#edit fieldset {
  padding: 8px 0 8px 0;
  margin: 16px 0 0 0; }

div#edit fieldset legend {
  font-weight: bold;
  font-variant: small-caps;
  padding: 0 4px 0 4px; }

div#edit fieldset label {
  font-weight: bold;
  float: left;
  margin: 0 4px 0 4px;
  width: 100px;
  overflow: hidden; }

div#edit textarea {
  width: 530px;
  height: 60px;
  border: solid 1px #c0c0c0;
  float: left;
  margin: 0 0 4px 0; }

div#edit div.multi {
  width: 530px;
  float: left;
  margin: 0 0 16px 0; }

div#edit input {
  width: 103px;
  border: solid 1px #c0c0c0;
  float: left;
  margin: 0 0 4px 0; }

/* *** special *** */
div#edit fieldset li.label {
  background-color: transparent; }

div#edit fieldset span.label {
  float: left; }

div#edit fieldset label.mentionedDateReference,
div#edit fieldset label.mentionedDateFrom,
div#edit fieldset label.mentionedDateTo,
div#edit fieldset label.mentionedDateNote,
div#edit fieldset label.mentionedDateCertainty,
div#edit fieldset label.mentionedDateDateId,
div#edit fieldset label.datemaster {
  margin: 0 1px 4px 0;
  overflow: visible; }

div#edit fieldset label.mentionedDateNote {
  width: 147px; }

div#edit fieldset label.mentionedDateCertainty {
  width: 107px; }

div#edit fieldset label.mentionedDateDateId {
  width: 50px; }

div#edit input#hgv_meta_identifier_collectionPlaceName,
div#edit input#hgv_meta_identifier_collection,
div#edit input#hgv_meta_identifier_collectionInventoryNumber,
div#edit input#hgv_meta_identifier_collectionTemporaryInventoryNumber {
  width: 88px; }

div#edit input#hgv_meta_identifier_collectionTemporaryNotes {
  width: 302px; }

div#edit input#datemaster {
  width: 60px; }

div#edit fieldset label.provenanceAncientFindspot,
div#edit fieldset label.provenanceModernFindspot,
div#edit fieldset label.provenanceNome,
div#edit fieldset label.provenanceAncientRegion {
  width: 120px; }

div#edit input#hgv_meta_identifier_provenanceAncientFindspot,
div#edit input#hgv_meta_identifier_provenanceModernFindspot,
div#edit input#hgv_meta_identifier_provenanceNome,
div#edit input#hgv_meta_identifier_provenanceAncientRegion {
  width: 190px; }

div#edit fieldset label.tmNo {
  margin: 0 4px 0 217px; }

div#edit input#hgv_meta_identifier_publicationTitle,
div#edit input#hgv_meta_identifier_tmNo,
div#edit input#hgv_meta_identifier_publicationVolume,
div#edit input#hgv_meta_identifier_publicationFascicle,
div#edit input#hgv_meta_identifier_publicationNumbers,
div#edit input#hgv_meta_identifier_publicationParts,
div#edit input#hgv_meta_identifier_publicationSide,
div#edit input#hgv_meta_identifier_publicationLine,
div#edit input#hgv_meta_identifier_publicationPages {
  width: 87px; }

div#edit input#hgv_meta_identifier_titleStmt {
  width: 320px; }

div#edit input#hgv_meta_identifier_material {
  width: 100px; }

span.quickHelp_meta_help_tmNo span.message,
span.quickHelp_meta_help_publicationPages span.message,
span.quickHelp_meta_help_collectionInventoryNumber span.message,
span.quickHelp_meta_help_collectionTemporaryInventoryNumber span.message {
  left: -176px;
  width: 160px; }

span.quickHelp_meta_help_date span.message {
  width: 400px; }

span.quickHelp_meta_help_publicationFascicle,
span.quickHelp_meta_help_publicationParts {
  margin: 0 113px 4px 4px; }

span.quickHelp_meta_help_mentionedDateReference {
  z-index: 402; }

span.quickHelp_meta_help_mentionedDateFrom,
span.quickHelp_meta_help_publicationVolume,
span.quickHelp_meta_help_publicationNumbers,
span.quickHelp_meta_help_publicationSide,
span.quickHelp_meta_help_collectionPlaceName,
span.quickHelp_meta_help_collectionTemporaryNotes {
  z-index: 401; }

span.quickHelp_meta_help_mentionedDateTo,
span.quickHelp_meta_help_publicationLine,
span.quickHelp_meta_help_collection {
  z-index: 400; }

/* *** multi general *** */
div#edit div.multi ul li {
  background-color: lightsteelblue;
  list-style-type: none;
  display: block;
  width: 528px;
  padding: 1px;
  margin: 0 4px 4px 0;
  height: 16px; }

div#edit div.multi ul li.label {
  background-color: transparent; }

div#edit div.multi ul.items li input {
  margin: auto;
  border: none;
  height: 16px; }

div#edit div.multi ul.items li span {
  width: 16px;
  height: 16px;
  overflow: hidden;
  background-color: lightsteelblue;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0 4px 0 4px;
  cursor: move; }

div#edit div.multi ul.items li span.delete {
  cursor: pointer; }

div#edit div.multi p.add {
  clear: both;
  background-color: lightsteelblue;
  vertical-align: center;
  padding: 1px;
  height: 18px;
  width: 528px; }

div#edit div.multi p.add input {
  width: 496px;
  height: 18px;
  background-color: white;
  border: none;
  margin: auto; }

div#edit div.multi p.add span {
  width: 16px;
  height: 16px;
  padding: 0 4px 0 4px;
  margin-top: 2px;
  background-color: lightsteelblue;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer; }

/* *** multi special *** */
div#edit div.multi ul#multiItems_contentText li {
  float: left;
  width: 170px; }

div#edit div.multi ul#multiItems_contentText li input {
  width: 132px; }

div#edit div.multi ul#multiItems_bl li {
  float: left;
  width: 85px; }

div#edit div.multi ul#multiItems_bl li input {
  width: 24px; }

div#edit div.multi p#multiPlus_bl input {
  width: 140px; }

div#edit div.multi ul#multiItems_mentionedDate li {
  width: 643px; }

div#edit div.multi ul#multiItems_mentionedDate li input {
  width: 100px;
  margin: 0 1px 0 0; }

div#edit div.multi ul#multiItems_mentionedDate li input.note {
  width: 146px; }

div#edit div.multi ul#multiItems_mentionedDate li select {
  width: 100px;
  margin: 0 0 0 4px; }

div#edit div.multi ul#multiItems_mentionedDate li select.dateId {
  width: 42px; }

div#edit div.multi p#multiPlus_mentionedDate {
  width: 643px; }

div#edit div.multi p#multiPlus_mentionedDate input {
  width: 100px;
  margin: 0 1px 0 0; }

div#edit div.multi p#multiPlus_mentionedDate input.note {
  width: 146px; }

div#edit div.multi p#multiPlus_mentionedDate select {
  width: 100px;
  margin: 0 0 0 4px; }

div#edit div.multi p#multiPlus_mentionedDate select.dateId {
  width: 42px; }

div#edit div.multi ul#multiItems_illustrations li input,
div#edit div.multi ul#multiItems_otherPublications li input,
div#edit div.multi ul#multiItems_translationsDe li input,
div#edit div.multi ul#multiItems_translationsEn li input,
div#edit div.multi ul#multiItems_translationsIt li input,
div#edit div.multi ul#multiItems_translationsFr li input,
div#edit div.multi ul#multiItems_translationsEs li input,
div#edit div.multi ul#multiItems_translationsLa li input {
  width: 490px; }

/* *** date *** */
div#edit div#dateContainer {
  position: relative;
  height: 500px;
  padding: 0;
  margin: 0;
  background-color: lightpink; }

div#edit div#dateContainer div.dateItem {
  position: absolute;
  top: 42px;
  background-color: white; }

div#edit div#dateContainer div.dateItem div.dateTab {
  background-color: lightgrey;
  color: white;
  width: 42px;
  height: 42px;
  position: absolute;
  top: -42px;
  cursor: pointer; }

div#edit div#dateContainer div.dateItemY div.dateTab {
  left: 42px; }

div#edit div#dateContainer div.dateItemZ div.dateTab {
  left: 84px; }

div#edit div#dateContainer div.dateItem div.dateTab span {
  font-weight: bold;
  position: absolute;
  top: 14px;
  left: 14px;
  cursor: pointer; }

div#edit div#dateContainer div.dateItem div.dateInfo {
  display: none; }

div#edit div#dateContainer div.dateItemActive div.dateTab {
  background-color: white;
  color: black; }

div#edit div#dateContainer div.dateItemActive div.dateInfo {
  display: block; }

div#edit div#dateContainer div.dateItem div.dateInfo div {
  float: left; }

div#edit fieldset.date p {
  float: none;
  clear: both; }

div#edit fieldset.date p input {
  width: 42px;
  margin: 0 4px 4px 0; }

div#edit fieldset.date p label {
  width: 120px;
  float: left; }

div#edit fieldset.date p select {
  width: 120px;
  float: left; }

div#edit fieldset.date p select.offset, div#edit fieldset.date p select.certainty {
  width: 168px; }
