/**
 * Color variables
*/
/**
 *    ICONS
 */
/**
 *
 * Sizes
 *
 */
/**
 *
 * Columns
 */
/**
 *
 *
 *
 */
.bg-sdw {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75); }

.no-sdw {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.fg-sdw {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75); }

#wayf_select_form img {
  border: 2px outset #7986cb;
  margin: 0 2px;
  cursor: pointer;
  padding: 2px;
  height: 60px;
  width: 120px; }

#themeSelector {
  display: none; }

#imgspect *, #imgspect *:before, #imgspect *:after {
  -webkit-box-sizing: unset;
  -moz-box-sizing: unset;
  box-sizing: unset; }

.select-bar input[type="text"] {
  border: 5px solid #7986cb;
  font-size: 16px;
  width: 100%;
  height: 45px;
  padding-left: 1em;
  text-align: left;
  padding: 5px; }
  .select-bar input[type="text"]:focus {
    border-color: #ffb74d; }

.card textarea.input.xml-content {
  height: 100%; }

.card textarea.input.wmd-input {
  height: 300px; }

.card .wmd-preview {
  background-color: #bfcf2d; }

.rows .row {
  margin: 5px; }

.loading {
  background-image: url("../images/ajax_loader.gif");
  background-repeat: no-repeat;
  background-position: top left;
  opacity: 0.5; }

.diff {
  border: 1px solid gray;
  padding: 1em; }
  .diff ins pre code {
    white-space: pre-wrap;
    background: #bbffaa; }
  .diff del {
    text-decoration: none; }
    .diff del pre code {
      background: #ffbbaa; }

#termsofservice ol {
  list-style: roman outside;
  padding-left: 1rem; }

#termsofservice ol li ol {
  list-style-type: lower-alpha;
  margin-left: 2rem; }

#termsofservice ol li ol li ol {
  list-style-type: lower-roman;
  margin-left: 2rem; }

#termsofservice input[type="checkbox"] {
  border: none;
  width: auto;
  padding-left: 0;
  height: 1em;
  font-size: inherit; }

.oa_cite_annotation pre {
  background-color: #d6e0e6;
  width: 100%;
  overflow: scroll;
  font-family: "Courier New", Courier, monospace; }

#vote-comments {
  border: 2px outset #7986cb;
  padding: 2px;
  margin-left: 1rem;
  max-height: 400px;
  overflow: scroll; }

#vote-comments .comment_partial .model_comment {
  padding-top: .5rem;
  border-bottom: 1px solid #bdbdbd; }
