body {
  background-color: #f9f9f9;
  height: 100%;
}
h1,h2,h3,h4 {
  font-weight: normal;
}
ul {
  list-style-position: inside;
}
li {
  padding: 5px 0;
}
a,
a:visited {
  color: #4183C4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input {
  padding: 5px;
}
input.submit,
.button,
input.save {
  transition: background-color .25s ease;
  -webkit-transition: background-color .25s ease;
  background-color: #9DC0E2;
  padding: 5px;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  line-height: normal;
  font: -webkit-small-control;
  box-sizing: border-box;
  align-items: flex-start;
  text-align: center;
  border: 1px solid #4183C4;
}
input.submit.big,
.button.big,
input.save.big {
  padding: 10px 40px;
  font-size: 18px;
}
input.submit:hover,
.button:hover,
input.save:hover {
  background-color: #B2D9FF;
  text-decoration: none;
}
input.submit:disabled,
.button:disabled,
.button.secondary {
  border-color: #DDD;
  background-color: #EEE;
}
.button.secondary:hover {
  background-color: #DDD;
}
.decree {
  border-width: 0;
}
.split_switch {
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
span.faded {
  color: #999;
}
#board_menu, #community_menu {
  font-family: Helvetica, Arial, sans-serif;
  padding: 2px 10px;
  border: 1px solid #DDD;
  color: #333;
  background-color: #EEE;
}
div.editor_nav {
  font-family: Helvetica, Arial, sans-serif;
  border: 1px solid #DDD;
  background-color: #EEE;
}
div.editor_nav li a {
  color: #4183C4;
  font-size: 12px;
  transition: background-color .25s ease;
  -webkit-transition: background-color .25s ease;
  padding: 2px 20px;
}
div.editor_nav li a:hover {
  background-color: #E1F3FA;
  text-decoration: underline;
}
ul.nav.right {
  margin-right: 20px;
  margin-bottom: 15px;
}
#main {
  padding: 0 20px;
  padding-bottom: 200px;
}
#main.full {
  padding: 0;
}
#submit {
  padding: 20px;
  border: none;
  margin-bottom: 30px;
}
#xml_only_comments_div {
  margin-top: 30px;
}
#submit input[type="checkbox"] {
  margin-right: 5px;
}
#submit textarea {
  margin-top: 30px;
}
.publication_list_holder table.results tr.head td {
  color: #AAA;
}
.publications_header_title .more_less a {
  font-weight: normal;
  font-size: 16px;
  color: #AAA;
}
table.results a {
  color: #4183C4;
}
table.results a:hover {
  text-decoration: underline;
}
table.results tr:hover td {
  background-color: #E1F3FA;
}
table.results tr.head:hover td {
  background-color: transparent;
}
.edit_epi_cts_identifier #ict_tool_wrapper {
  padding: 0;
  margin: 10px 0 40px 0;
  width: 100%;
  height: auto
}
.site {
  width: 100%;
  margin: 0;
  padding: 0;
}
div.nav {
  min-height: 0;
}
#logo {
  padding: 0;
  margin: 10px 0 0 10px;
}
#logo p {
  font-size: 10px;
  color: #AAA;
}
#logo img {
  width: 100px;
}
#user_box {
  background: none;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
}
#user_box .name {
  font-size: 12px;
  padding-top: 5px;
  color: #999;
}
#user_box .links {
  margin-left: 15px;
  color: #F0F0F0;
}
#user_box p {
}
#user_box .links a {
  display: inline-block;
  margin: 2px;
  background-color: #EAEAEA;
  padding: 5px;
}
#user_box .links a:hover {

}
#edit textarea#output,
.edit_epi_cts_identifier #epi_cts_identifier_xml_content {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 50px;
}
#editors {
  padding: 0 20px;
}
#edit_header {
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 10px;
}
#edit_header h1,
#edit_header h3 {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  color: #AAA;
}
#edit_header h3 {
  display: none;
}
#edit_header h1 a {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
}
#edit_header h1 a:hover {
  text-decoration: underline;
}
#imgspectWarning {
  background-color: rgba(255,255,255,0.95);
  border: solid 2px #AAA;
  padding: 5px;
  padding-bottom: 20px;
}
#imgspectWarning p {
  text-align:center;
  padding: 5px 20px;
}
#imgspectWarning p:last-of-type {
  margin-bottom: 40px;
}
#imgspectWarning #imgspectButtons {
  text-align: center;
}
#imgspectWarning a {
  text-decoration: none;
  margin: 10px;
}
#imgspectWarning a:hover {
  text-decoration: underline;
}
#ict_tool {
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  margin: 0;
  background-color: #DDD;
  padding: 5px;
}
#ict_tool.imgspectLoaded {
  background-color: #333;
}
#ict_tool .imgUrn img {
  margin: 5px;
  border: solid 1px #666;
}
#ict_tool .imgUrn.selected img {
  outline: 1px solid #FFF
}
#ict_tool #imgspectHint {
  margin-left: 5px;
  font-size: 12px;
  color: #666;
}
#edit form input.save {
  margin-bottom: 40px;
}
#edit form textarea.caption {
  margin-bottom: 0;
}
#aceMask {
  margin-bottom: 50px
}
#shib_login {
  margin: 10px 5px 5px 10px;
}
#shib_login label {
  font-style: italic;
}
#wayf_select_form {
  width: 50%;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
#wayf_select_form button {
  cursor: pointer;
  background-color: white;
  border: none;
  float: left;

}
#wayf_select_form img {
  border: 1px outset #300F00;
  margin: 0 2px;
  cursor: pointer;
  padding: 2px;
}
#shib_login #shib_or_idp {
  font-style: italic;
  clear: both;
}

#edit_bar {
  background-color: #DADADA;
  margin-top: 0;
}
#identifier_menu {
  width: auto;
}
.publication_list_holder {
  margin-bottom: 40px;
}
.publication_list_holder table.results td {
  padding: 5px;
  font-size: smaller;
  background-color:
}
.publication_list_holder table.results tr {
  line-height: 1em !important;
}
.publication_list_holder table.results tr.head {
  font-style: italic;
}
.publication_list_holder table.results a {
  padding: 0 !important;
}
.dashboard_feed {
  font-size: smaller;
  clear: both;
  margin-top: 5em;
}
.dashboard_feed ul li {
  list-style: none;  
}
#board_list li, .batch_box li, #community_list li {
  list-style: none;
}
.batch_box {
  font-size: smaller;
}
.archive_link a,
.batch_box a {
  color: #4183C4;
  text-decoration: none;
}
.archive_link {
  margin-bottom: 25px;
  float: none;
}
.archive_link a:hover {
  text-decoration: underline;
}
li.editor_menu {
  color: #4183C4;
}
.create {
  clear:both;
  margin: 2em;
}
#notice_error,
#notice_notice,
#notice_warning {
  clear:both;
  margin: 2em;
}
#cts_selector {
  box-sizing: border-box;
  clear: both;
  width: 100%;
  padding: 10px 30px;
  margin: 0;
  background-color: #EEE;
}
.cts_selector_hint, 
.cite_selector_hint {
  font-size: smaller;
  font-style: italic;
  margin-bottom: 10px;
}
.perseids_pilots_link {
	margin-top: 1em;
	float: right;
	margin-right: 50px;
}
.cts_selector_hint, .cite_selector_hint, .perseids_pilots_link a, #annotation_commentary_link a {
	font-size: smaller;
	font-style: italic;
	color: #4183C4;
	cursor: pointer;
}

.cts_selector_hint:hover, .cite_selector_hint:hover {
	text-decoration: underline;
}

#cite_frame {
  width: 100%;
  min-height: 400px;
}
#create_translation {
  display:inline;
}
.content_body {
  clear:both;
}
#cts-image-frame {
  width: 100%;
  height: 30%;
  float: left;
}
.edit_oac_identifier {
  margin-left: .5em;
}
.edit_oac_identifier #target_content, 
.edit_oac_identifier #body_content  {
  height: 200px;
  overflow: scroll;
  border: 1px solid black;

}
.edit_oac_identifier #target_content .token {}
.edit_oac_identifier .target_uri,
.edit_oac_identifier .body_uri  {
  width: 98%;
  font-size: small;
}
.edit_oac_identifier #target_content .token.highlighted,
.edit_oac_identifier #body_content .token.highlighted {
  background-color: #FFFF99;
}
.edit_oac_identifier #target_content .token.highlighted.selected,
.edit_oac_identifier #body_content .token.highlighted.selected {
  font-weight: bold;
}
.edit_oac_identifier #annotation_target_input,
.edit_oac_identifier #annotation_body_input {
  float: left;  
  width: 48%;
  padding: .25em;
  border: 1.5px solid black;
}
.edit_oac_identifier #annotation_motivation_input {
  margin: .25em;
  float: right;
}
.edit_oac_identifier #annotation_form_submit {
  clear: both;
}
.edit_oac_identifier .add_target {
  text-align: right;
}

.hints {
    margin-bottom: .5em;
    margin-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFDD;
}
.hints li {
  list-style: bullet;
  list-style-position: inside;
}
.oac_annotation .label {
  font-weight: bold;
  font-style:italic;
  padding-right: .5em;
}
.edit_oac_identifier .cite_to, 
.edit_oac_identifier .cite_from {
  width: 3em;
  font-size: smaller;
}
.edit_oac_identifier .cite_from_label, 
.cite_to_label {
  font-size: smaller;
}
.edit_oac_identifier .cite_span_label {
  font-style: italic;
  font-size: smaller;
}
#to_alpheios_align {
  margin-left:.5em;
}
#to_alpheios_align input[type='submit'] {
  float:right;
  background-color:#73Cdde;
  margin-right: 2em;
  margin-top: -1.5em;
}
.edit_oac_identifier #annotation_target_input #title_placeholder {
  min-height: 2em;
}
.annotation_header {
  font-weight: bold;
  margin-bottom: .5em;
}
.edit_commentary_cite_identifier .targets {
  padding: 0 3em;
}
.edit_commentary_cite_identifier .targets .oac_label {
  font-style: italic;
}
.edit_commentary_cite_identifier .targets .oac_target {
  margin-left: .5em;
}
.edit_commentary_cite_identifier #edit-panel {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid black;
  padding: 1em;
  background-color: white;
}
.PContent .oac_target, .PContent .oac_body {
  margin-left: 1em;
}
.PContent #oac_cnt_chars {
  padding: 1em 2em 2em 1em;
  border: 1px dashed black;
}

.PContent .oac_annotation {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px dashed black;
}

.PContent .oac_annotation .edit_links {
	padding-top: .5em;
}

.PContent .oac_annotation .edit_links button {
	float: left;
	margin-right: .5em;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.clear { 
  clear:both;
}
.edit_epi_cts_identifier #epi_cts_identifier_xml_content {
  width:45%;
  float: left;
}
.edit_epi_cts_identifier #ict_frame {
  width: 100%;
  height: 95%;
}
li.sentence {
	list-style-type: none;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 95%;
	white-space: nowrap;
}
.sentence .sentence_num {
	font-weight: bold;
	font-size: smaller;
	float: left;
}
.sentence a {
  padding-left: -2em;
  font-size: smaller;
}
.sentence_nav {
  font-size: smaller;
  text-align: right;
}
.sentence_nav .sentence_prev:before {
  content: "<<";
}
.sentence_nav .sentence_next:after {
  content: ">>";
}
.sentence_nav .sentence_prev, 
.sentence_nav .sentence_next {
  font-style: italic;
  color: #4183C4;
  cursor: pointer;
}

.sentence_nav .sentence_prev:hover, 
.sentence_nav .sentence_next:hover {
	text-decoration: underline;
}
 
.linked_facs {
  color: blue;
  text-decoration: underline;
  
}
.todo {
  color: green;
  background: #99ff99;
  border-color: green;
}
.publications_header_holder {
  border-width: 1px;
  border-color: #CCC;
}
.comment_partial {
  border: none;
  width: 98%;
}
#indentifiers-edit_commit .button {
  margin-top: 10px;
  margin-bottom: 80px;
}
#identifier_menu {
  padding: 5px;
}
#signin {
  padding: 0;
  margin: 20px;
  border: none;
  background: none;
  float: right;
}
.comment_partial {
  background-color: rgba(0,0,0,0);
}
.comment_partial .name {
  color: #999;
}
.comment_partial .transcription {
  width: 98%;
}
.comment_partial .transcription.text {
  float: none;
  background-color: #EAEAEA;
  padding: 20px;
}
.comment_partial .time {
  color: #999;
}
.comment_partial .reason {
  font-style: italic;
}
.site h3, .site h2 {
  padding-top: 30px;
}

/* Page Specific */

/* views/publications/show.haml */
#main.publications-show .site {
  padding-top: 30px;
}
#main.publications-show .site h2 {
  text-align:center;
  margin-bottom: 40px;
}
#main.publications-show .site #submit h3 {
  margin-top: 0;
}
#main.publications-show .site h3 {}
#main.publications-show .site div.transcription {
  margin: 2px 0;
  background-color: #EAEAEA;
  padding: 10px;
  width: 100%;
}
#main.publications-show .site .comment_partial .comment {
  float: right;
  margin: 10px 0 20px 0;
  max-width: 650px;
  font-style: italic;
}
#main.publications-show .site .comment_partial .name {
  word-break: break-all;
  margin-bottom: 20px;
}
#main.publications-show .site .comment_partial .time {
  color: #BBB;
  margin-bottom: 20px;
}
#main.publications-show .site #action_links {
  text-align: center;
  margin-top: 30px;
}
#main.publications-show .site #action_links a {
  display: inline-block;
}

/* views/user/account.haml */
#main.user-account input {
  margin-bottom: 20px;
}
#main.user-account #stats {
  margin: 30px 0;
}
#main.user-account #stats a {}

/* views/user/help.haml */
#main.user-help {
	padding: 0 50px;
	padding-bottom: 200px;
}
#main.user-help h1 {
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 5px;
}


/* views/epi_cts_identifiers/editxml.haml */
#main.editxml .edit_epi_cts_identifier #ict_tool_wrapper {
  padding: 0;
  margin: 10px 0 40px 0;
  width: 100%;
  height: auto
}
#main.editxml .site {
  width: 100%;
  margin: 0;
  padding: 0;
}
#main.editxml #edit textarea#output,
#main.editxml .edit_epi_cts_identifier #epi_cts_identifier_xml_content {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 50px;
}
#main.editxml #editors {
  padding: 0 20px;
}
#main.editxml #edit_header {
  margin-top: 25px;
  padding: 10px;
}
#main.editxml #edit_header h1,
#main.editxml #edit_header h3 {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  color: #AAA;
}
#main.editxml #edit_header h3 {
  display: none;
}
#main.editxml #edit_header h1 a {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
}
#main.editxml #edit_header h1 a:hover {
  text-decoration: underline;
}
#main.editxml #imgspectWarning {
  background-color: rgba(255,255,255,0.95);
  border: solid 2px #AAA;
  padding: 5px;
  padding-bottom: 20px;
}
#main.editxml #imgspectWarning p {
  text-align:center;
  padding: 5px 20px;
}
#main.editxml #imgspectWarning p:last-of-type {
  margin-bottom: 40px;
}
#main.editxml #imgspectWarning #imgspectButtons {
  text-align: center;
}
#main.editxml #imgspectWarning a {
  text-decoration: none;
  margin: 10px;
}
#main.editxml #imgspectWarning a:hover {
  text-decoration: underline;
}
#main.editxml #ict_tool {
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  margin: 0;
  background-color: #F3F3F3;
  padding: 5px;
}
#main.editxml #ict_tool.imgspectLoaded {
  background-color: #333;
}
#main.editxml #ict_tool .imgUrn img {
  margin: 5px;
  border: solid 1px #666;
}
#main.editxml #ict_tool .imgUrn.selected img {
  outline: 1px solid #FFF
}
#main.editxml #ict_tool #imgspectHint {
  margin-left: 5px;
  font-size: 12px;
  color: #666;
}
#main.editxml #edit form input.save {
  margin-bottom: 40px;
}
#main.editxml #edit form textarea.caption {
  margin-bottom: 0;
}
#main.editxml #aceMask {
  margin-bottom: 50px
}
