.publication_holder {
  position: relative;
  overflow: visible;
  background-color: white;
  width: 700px;
  height: 42px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin: 2px; }

.publication {
  overflow: visible;
  position: absolute;
  #background-color: red;
  #width: 200px;
  #border-width: 2px;
  #border-style: solid;
  #border-color: lightgreen;
  position: 2px 2px;
  margin: 2px; }

.publication_board_name {
  font-size: xx-small; }

.overview_holder {
  position: absolute;
  width: 20px;
  height: 40px;
  top: 0px;
  left: 180px; }

.identifier_holder {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 40px;
  border-width: 1px;
  border-style: solid;
  border-color: black; }

.HGVMetaIdentifier {
  top: 0px;
  left: 200px; }

.DDBIdentifier {
  top: 0px;
  left: 326px; }

.HGVTransIdentifier {
  top: 0px;
  left: 452px; }

.HGVBiblioIdentifier {
  top: 0px;
  left: 578px; }


.user_publications_header_holder {
  position: relative;
  overflow: visible;
  background-color: white;
  width: 700px;
  height: 22px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin: 2px; }

.user_publications_header_title {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  top: 0px;
  left: 0px; }

.user_publications_header_overview {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  top: 0px;
  left: 100px; }

.user_publications_header_HGVMetaIdentifier {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  top: 0px;
  left: 200px; }

.user_publications_header_DDBIdentifier {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  top: 0px;
  left: 326px; }

.user_publications_header_HGVTransIdentifier {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  top: 0px;
  left: 452px; }

.user_publications_header_HGVBiblioIdentifier {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  top: 0px;
  left: 578px; }



.board_publications_header_holder {
  position: relative;
  overflow: visible;
  background-color: white;
  width: 700px;
  height: 22px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin: 2px; }

.board_publications_header_title {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  top: 0px;
  left: 0px; }

.board_publications_header_title {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  top: 0px;
  left: 0px; }

.board_publications_header_title {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  top: 0px;
  left: 0px; }

.board_publications_header_title {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  top: 0px;
  left: 0px; }

.board_publications_header_title {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  top: 0px;
  left: 0px; }

.board_publications_header_overview {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  top: 0px;
  left: 100px; }

.board_publications_header_HGVMetaIdentifier {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  top: 0px;
  left: 200px; }

.board_publications_header_DDBIdentifier {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  top: 0px;
  left: 326px; }

.board_publications_header_HGVTransIdentifier {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  top: 0px;
  left: 452px; }

.board_publications_header_HGVBiblioIdentifier {
  overflow: visible;
  position: absolute;
  background-color: lightgray;
  width: 120px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  top: 0px;
  left: 578px; }


.identifier {
  overflow: visible;
  background-color: gray;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 118px;
  height: 38px; }

.offset {
  position: relative; }

.status_new {
  background-color: white; }

.status_editing {
  background-color: white; }

.status_submitted {
  background-color: white;
  color: gray; }

.status_approved {
  background-color: white; }

.status_voting {
  background-color: white; }

.status_committed {
  background-color: white; }

.status_archived {
  background-color: white; }

.controlled_yes {
  border-color: red; }

.status_icon {
  width: 16px;
  height: 16px;
  display: inline;
  overflow: hidden;
  position: relative; }

.identifier_title {
  position: absolute;
  top: 16px;
  left: 0px;
  padding: 2px;
  color: black; }

.expand_identifers {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0px;
  left: 84px; }

.identifier_holder_status_new {
  overflow: visible;
  width: 118px;
  height: 16px;
  background-image: url("../images/status_back.png");
  background-repeat: no-repeat;
  #background-color: coral;
  position: absolute;
  overflow: hidden;
  background-position: -96px 0px; }
  .identifier_holder_status_new img {
    position: absolute;
    top: 0px;
    left: 0px; }

.identifier_holder_status_editing {
  overflow: visible;
  width: 118px;
  height: 16px;
  background-image: url("../images/status_back.png");
  background-repeat: no-repeat;
  #background-color: coral;
  position: absolute;
  overflow: hidden;
  background-position: -96px 0px; }
  .identifier_holder_status_editing img {
    position: absolute;
    top: 0px;
    left: 0px; }

.identifier_holder_status_submitted {
  overflow: visible;
  width: 118px;
  height: 16px;
  background-image: url("../images/status_back.png");
  background-repeat: no-repeat;
  #background-color: coral;
  position: absolute;
  overflow: hidden;
  background-position: -80px 0px; }
  .identifier_holder_status_submitted img {
    position: absolute;
    top: 0px;
    left: 0px; }

.identifier_holder_status_approved {
  overflow: visible;
  width: 118px;
  height: 16px;
  background-image: url("../images/status_back.png");
  background-repeat: no-repeat;
  #background-color: coral;
  position: absolute;
  overflow: hidden;
  background-position: -64px 0px;
  #background-position: -48px 0px; }
  .identifier_holder_status_approved img {
    position: absolute;
    top: 0px;
    left: 0px; }

.identifier_holder_status_committed {
  overflow: visible;
  width: 118px;
  height: 16px;
  background-image: url("../images/status_back.png");
  background-repeat: no-repeat;
  #background-color: coral;
  position: absolute;
  overflow: hidden;
  background-position: -48px 0px;
  #background-position: -32px 0px; }
  .identifier_holder_status_committed img {
    position: absolute;
    top: 0px;
    left: 0px; }

.identifier_holder_status_archived {
  overflow: visible;
  width: 118px;
  height: 16px;
  background-image: url("../images/status_back.png");
  background-repeat: no-repeat;
  #background-color: coral;
  position: absolute;
  overflow: hidden;
  background-position: -32px 0px;
  #background-position: -16px 0px; }
  .identifier_holder_status_archived img {
    position: absolute;
    top: 0px;
    left: 0px; }

.needs_review {
  background-color: indianred; }
