* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

#main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -8.6em;
}

body {
  text-align: center;
}

.site {
  width: 50em;
  margin: 0 auto;
  padding: 0 3em;
  text-align: left;
}

/*
InsAph .greek style:
font-family: "Arial Unicode MS","Galilee Unicode Gk", "New Athena Unicode", "Athena Unicode", "Palatino Linotype", "Titus Cyberbit Basic", "Cardo", "Vusillus Old Face", "Alphabetum", "Galatia SIL", "Code 2000", "GentiumAlt", "Gentium", "Minion Pro", "GeorgiaGreek", "Vusillus Old Face Italic", "Everson Mono", "Aristarcoj", "Porson", "Legendum", "Aisa Unicode", "Hindsight Unicode","Caslon",  "Lucida Grande", "Verdana", "Tahoma";

777 Nov 19 15:53:44< gbodard> We were going for coverage, not looks
778 Nov 19 15:53:45< gbodard> :p
779 Nov 19 15:54:06< gbodard> On which grounds Cardo would be higher now
780 Nov 19 15:54:09< hcayless> I know, but it does no harm to put the nicer ones first
781 Nov 19 15:54:12< paregorios> hey, why didn't we bid for money to hire a typographer to make the papy font to rule them all :o
782 Nov 19 15:54:15 * ryanfb is thankful browsers can now inspect DOM elements and tell you their computed styles
783 Nov 19 15:54:59< hcayless> gbodard: I see what you're saying.  I was being dense
784 Nov 19 15:57:37< gbodard> Not at all
785 Nov 19 15:58:09< gbodard> But Arial MS, New Athena, and CArdo will all have pretty good coverage of anything epigraphers and papyrologists need
*/
.greek {
	font-size: small;
	font-family: "Cardo", "Arial Unicode MS", "New Athena Unicode", "Athena Unicode", "Lucida Grande", "Verdana", "Tahoma";
}

.apis-portal-title {
font-size:14px;
font-weight:bold;
color: #000;
background:transparent;
}

h2 {
	font-size: 10pt;
}

.PContent
{
	padding: 1em;
    white-space: normal;
    background-color: #FFF;
    border: medium solid #dadada;
    overflow: hidden;
    font-size: small;
}

DIV#edition {
    padding-left:15px;
    position:relative;
}
DIV#edition SUP {
	color: /*#0c3b82;*/ #985;
}
.linenumber {
	color: /*#0c3b82;*/ #985;
        display:block;
	width:40px;
	height:18px;
	font-size:10px;
	padding-top:4px;
	margin-left:-45px;
	position:absolute;
	z-index:1;
        text-align:right;
}

#document_menu {
  background: #eaeaea;
  text-align: left;
  overflow: hidden;
}

#document_menu ul {
   overflow: hidden;
   background: #f4f4f4;
   border-bottom: 3px solid white;
 }
 
   #document_menu ul li {
     background: #f4f4f4;
     float: left;
     list-style-type: none;
     height: 1.6em;
     padding-top: .4em;
     border-right: 2px solid #eee;
     position: relative;
   }
   
   #document_menu ul li:hover {
     background: #f4f4f4;
   }
   
   #document_menu ul li.active {
     background: white;
   }
   
     #document_menu ul li a {
       padding: 1em 1.25em .3em 1.25em;
       color: #979797;
       font-size: 110%;
     }
     
     #document_menu ul li a:hover {
       color: #f4f4f4;
       text-decoration: none;
     }
     
   #document_menu ul li.active a {
     color: black;
   }

	#document_menu ul li.active a:hover {
     color: #f4f4f4;
   }

#document_sub_menu {
  height: 2.099em;
  background: #dadada;
  margin-bottom: 1.5em;
  line-height: 1.5;
}

  #document_sub_menu .site {
    padding: .4em 1em 0 1em;
  }

    #document_sub_menu ul {
      list-style: none;
    }

    #document_sub_menu li {
      float: left;
      position: relative;
    }

      #document_sub_menu li ul {
        display: none;
        position: absolute;
        z-index: 1000;
        top: 1em;
        left: 0;
        background-color: #d0d0d0;
        margin-left: 1.7em;
        border-left: 1px solid #cfcfcf;
        border-right: 1px solid #cfcfcf;
        border-bottom: 1px solid #cfcfcf;
        padding: .3em;
      }

      #document_sub_menu li > ul {
        top: auto;
        left: auto;
      }

        #document_sub_menu li ul li {
          top: auto;
          left: auto;
          float: none;
          min-width: 6em;
        }

          #document_sub_menu li ul li a {
            margin-left: 0;
            padding: .1em .3em;
            display: block;
          }

      #document_sub_menu li:hover ul {
        display: block;
      }

    #document_sub_menu a {
      padding: .3em;
      margin-left: 2em;
      color: black;
    }

    #document_sub_menu a:hover {
      text-decoration: none;
      background-color: #bbb;
    }

    #document_sub_menu li.active a {
      background: #eee;
    }