* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

#main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -8.6em;
}

body {
  text-align: center;
}

.site {
  width: 50em;
  margin: 0 auto;
  padding: 0 3em;
  text-align: left;
}

.greek {
	font-size: small;
	font-family: "Cardo", "Arial Unicode MS", "New Athena Unicode", "Athena Unicode", "Lucida Grande", "Verdana", "Tahoma";
}

/* Begin PN CSS */
.apis-portal-title {
font-size:14px;
font-weight:bold;
color: #000;
background:transparent;
}

.PContent
{
	padding: 1em;
    white-space: normal;
    background-color: #FFF;
    border: medium solid #dadada;
    overflow: hidden;
    font-size: small;
}

DIV#edition {
    padding-left:15px;
    position:relative;
}

DIV#edition h2 {
	font-size: 10pt;
}

DIV#edition SUP {
	color: /*#0c3b82;*/ #985;
}

.linenumber {
	color: /*#0c3b82;*/ #985;
        display:block;
	width:40px;
	height:18px;
	font-size:10px;
	padding-top:4px;
	margin-left:-45px;
	position:absolute;
	z-index:1;
        text-align:right;
}
/* End PN CSS */

#document_menu {
  background: #eaeaea;
  text-align: left;
  overflow: hidden;
}

#document_menu ul {
   overflow: hidden;
   background: #f4f4f4;
   border-bottom: 3px solid white;
 }
 
   #document_menu ul li {
     background: #f4f4f4;
     float: left;
     list-style-type: none;
     height: 1.6em;
     padding-top: .4em;
     border-right: 2px solid #eee;
     position: relative;
   }
   
   #document_menu ul li:hover {
     background: #f4f4f4;
   }
   
   #document_menu ul li.active {
     background: white;
   }
   
     #document_menu ul li a {
       padding: 1em 1.25em .3em 1.25em;
       color: #979797;
       font-size: 110%;
     }
     
     #document_menu ul li a:hover {
       color: #f4f4f4;
       text-decoration: none;
     }
     
   #document_menu ul li.active a {
     color: black;
   }

	#document_menu ul li.active a:hover {
     color: #f4f4f4;
   }

#document_sub_menu {
  height: 2.099em;
  background: #dadada;
  margin-bottom: 1.5em;
  line-height: 1.5;
}

  #document_sub_menu .site {
    padding: .4em 1em 0 1em;
  }

    #document_sub_menu ul {
      list-style: none;
    }

    #document_sub_menu li {
      float: left;
      position: relative;
    }

      #document_sub_menu li ul {
        display: none;
        position: absolute;
        z-index: 1000;
        top: 1em;
        left: 0;
        background-color: #d0d0d0;
        margin-left: 1.7em;
        border-left: 1px solid #cfcfcf;
        border-right: 1px solid #cfcfcf;
        border-bottom: 1px solid #cfcfcf;
        padding: .3em;
      }

      #document_sub_menu li > ul {
        top: auto;
        left: auto;
      }

        #document_sub_menu li ul li {
          top: auto;
          left: auto;
          float: none;
          min-width: 6em;
        }

          #document_sub_menu li ul li a {
            margin-left: 0;
            padding: .1em .3em;
            display: block;
          }

      #document_sub_menu li:hover ul {
        display: block;
      }

    #document_sub_menu a {
      padding: .3em;
      margin-left: 2em;
      color: black;
    }

    #document_sub_menu a:hover {
      text-decoration: none;
      background-color: #bbb;
    }

    #document_sub_menu li.active a {
      background: #eee;
    }
    
    

    
.meta {
  background-color: #D3C0C0;
  border: solid #FF0000;
}    

.meta p {
  text-align: left;
}    

.transcription
{
  background-color: #C0C1D3;
  border: solid #0000FF;
}

.transcription p {
  text-align: left;
}    

.translation
{
  background-color: #E6B39D;
  border: solid #FFA500;
}

.translation p {
  text-align: left;
}    


