
= link_to 'APIS', edit_polymorphic_path([apis_identifier.publication, apis_identifier]) 
= link_to 'XML', editxml_publication_apis_identifier_path( apis_identifier.publication, apis_identifier)
= link_to 'Preview', preview_publication_apis_identifier_path( apis_identifier.publication, apis_identifier)
%br
