.multi#multi_figures
  %ul.items#multiItems_figures
    - @identifier[:figures].each_index do |index|
      - head = @identifier[:figures][index][:children] && @identifier[:figures][index][:children][:figHead]
      - desc = @identifier[:figures][index][:children] && @identifier[:figures][index][:children][:figDesc]
      - url = @identifier[:figures][index][:children] && @identifier[:figures][index][:children][:graphic] && @identifier[:figures][index][:children][:graphic][:attributes] && @identifier[:figures][index][:children][:graphic][:attributes][:figUrl] ? @identifier[:figures][index][:children][:graphic][:attributes][:url] : ''
    
      %li
        = text_field_tag 'apis_identifier[figures][' + index.to_s + '][children][figHead]', head, :disabled => !@identifier.mutable?, :class => 'observechange'
        = text_field_tag 'apis_identifier[figures][' + index.to_s + '][children][figDesc]', desc, :disabled => !@identifier.mutable?, :class => 'observechange'
        = text_field_tag 'apis_identifier[figures][' + index.to_s + '][children][graphic][attributes][figUrl]', url, :disabled => !@identifier.mutable?, :class => 'observechange'
        %span.delete{:onclick => 'multiRemove(this.parentNode)', :title => I18n.t('tooltip.multiDelete')} x
        %span.move{:title => I18n.t('tooltip.multiMove')} o
  %p.add#multiPlus_figures

    %input#figures_url.observechange

    %span{:onclick => "multiAddFigures()", :title => I18n.t('tooltip.multiAdd')}=I18n.t('label.multiAdd')

  = javascript_tag "Sortable.create('multiItems_figures', {overlap: 'horizontal', constraint: false, handle: 'move'});"
