.multi{:id => 'multi_' + key.to_s}
  %ul.items{:id => 'multiItems_' + key.to_s}
    %li{:class => key.to_s}
      = text_field_tag 'apis_identifier_' + key.to_s , "", :class => 'observechange apis_identifier_' + key.to_s
      %span.delete{:onclick => 'multiRemove(this.parentNode)', :title => I18n.t('meta.tooltip.multiDelete')} x
      %span.move{:title => I18n.t('meta.tooltip.multiMove')} o
  %p.add{:id => 'multiPlus_' + key.to_s}
    %input.observechange
    %span{:onclick => "multiAdd('" + key.to_s + "')", :title => I18n.t('tooltip.multiAdd')}=I18n.t('tooltip.multiAdd')

  = javascript_tag "Sortable.create(document.getElementById('multiItems_" + key.to_s + "'), {direction: 'horizontal', handle: '.move'});"
