= stylesheet_link_tag 'meta'
#main
  .site.metaSite
    #preview
:javascript
  var xml;
  jQuery.get('xml', function(data) {
    jQuery.ajax({
      type: 'POST',
      url: 'http://dev.papyri.info/epidocinator?xsl=papyri.info-fragment&coll=apis', 
      data: data, 
      success: function(result) {
        jQuery('#preview').html(result);
      },
      contentType: 'text/plain;charset=UTF-8',
      processData: false
  })}, 'text');
