#main.site
  = javascript_include_tag 'docos'
  = render :partial => "common/flash_all"
  %h1
    #{@docotype.capitalize unless @docotype.blank?} Leiden+ Documentation
  = render :partial => "viewdoco", :locals => {:doco_elements => Doco.build_doco(@docotype), :docotype => @docotype.capitalize}