-# render :partial => "common/flash_all"
%p.show
  %b Category Sequence:
  =h @doco.line
%p.show
  %b Category:
  =h @doco.category
%p.show
  %b Short Description:
  =h @doco.description
%p.show
  %b Detailed Note:
  =h @doco.note
%p.show
  %b PN Preview:
  =h @doco.preview
%p.show
  %b Leiden+:
  =h @doco.leiden
%p.show
  %b XML:
  =h @doco.xml
%p.show
  %b Url:
  =h @doco.url
%p.show
  %b Link to Display:
  =h @doco.urldisplay
%p.show
  %b Leiden+ Type:
  =h @doco.docotype
%styled_button_show
  = link_to 'Edit', edit_doco_path(@doco) |
%styled_button_show
  = link_to "Show All " + @doco.docotype.capitalize + " Documentation", docos_path(:docotype => "#{@doco.docotype}")