%html
  %body
    %center
      %object{ :CLASSID => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :WIDTH => "1112", :HEIGHT => "715", :CODEBASE => "http://active.macromedia.com/flash5/cabs/swflash.cab#version=7,0,0,0" }
        %param{ :NAME => "movie", :VALUE => "/flash/help/ebadddecree.swf" }
        %param{ :NAME => "play", :VALUE => "true" }
        %param{ :NAME => "loop", :VALUE => "false" }
        %param{ :NAME => "wmode", :VALUE => "transparent" }
        %param{ :NAME => "quality", :VALUE => "low" }
        %embed{ :SRC =>"/flash/help/ebadddecree.swf", :WIDTH => "1112", :HEIGHT => "715", :quality => "low", :loop => "false", :wmode => "transparent", :TYPE => "application/x-shockwave-flash", :PLUGINSPAGE => "http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" }
