%ul{:class => 'menu'}
  - if !(@identifier.has_related_citations)
    %li
      = link_to 'XML', editxml_publication_tei_cts_identifier_path( tei_cts_identifier.publication, tei_cts_identifier), :class => 'btn bg-sdw'
  %li
    = link_to 'Preview', preview_publication_tei_cts_identifier_path( tei_cts_identifier.publication, tei_cts_identifier), :class => 'btn bg-sdw'
  - if @identifier.mutable? && @identifier.publication.status != 'finalizing'
    %li
      = link_to 'Select Passage', link_citation_publication_tei_cts_identifier_path( tei_cts_identifier.publication, tei_cts_identifier), :class => 'btn bg-sdw'
