#main.site
  -# render :partial => "common/flash_all"
  %h2
    = SITE_FULL_NAME
  %p== The #{SITE_FULL_NAME} is a web-based, fully audited, version-controlled editing environment originally developed for the papyrological community but designed for applicability to other editing communities. It will enable the collaborative editing of texts in a framework of rigorous and transparent peer-review and credit mechanisms and strong editorial oversight.
  %br
  %p== For details, see #{SITE_WIKI_LINK}