<% if flash[:notice] %>
  <%= h flash[:notice] %>
<% end %>

<div class="site">
<div><h1><%= link_to SITE_NAME, root_url %></h1></div>
<div style="float: right;">
  <%= render(:partial => 'user/user_box') %>
</div>
</div>