<div class="transcription">

<h3 style="display:inline;">Transcription</h3>

<% if !defined? dlc || dlc == nil %>
	<% dlc = DocumentLinksController.new() %>
<% end %>

<%= render :partial => 'articles/links', :locals => { :article => transcription.article, :dlc => dlc } %>


<p>
	Not Implemented
</p>

<!--
<p>
  <b>Content:</b>
  <%=h transcription.content %>
</p>

<p>
  <b>Leiden:</b>
  <%=h transcription.leiden %>
</p>
-->

</div>
