%ul{:class => 'menu'}
  %li
    = link_to 'XML', editxml_publication_syriaca_identifier_path( syriaca_identifier.publication, syriaca_identifier), :class => 'btn bg-sdw'
  %li
    = link_to 'Preview', preview_publication_syriaca_identifier_path( syriaca_identifier.publication, syriaca_identifier), :class => 'btn bg-sdw'
  %li
    = link_to 'History', polymorphic_path([@identifier.publication, @identifier], :action => :history), :class => 'btn bg-sdw'
