
= link_to 'DCLP Meta', edit_polymorphic_path([dclp_meta_identifier.publication, dclp_meta_identifier]) 
= link_to 'XML', editxml_publication_dclp_meta_identifier_path( dclp_meta_identifier.publication, dclp_meta_identifier)
= link_to 'Preview', preview_publication_dclp_meta_identifier_path( dclp_meta_identifier.publication, dclp_meta_identifier)
%br
