.illustrationContainer
  %h5.illustration=I18n.t('dclp.label.illustration')
  
  %h6=I18n.t('dclp.label.illustrationPrinted')
  = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :printedIllustration }

  %h6=I18n.t('dclp.label.illustrationOnline')
  = render :partial => 'hgv_meta_identifiers/multi', :locals => { :key => :onlineResource, :pathToActualValue => [:children, :link, :attributes, :target] }

  .clear
