
= link_to 'HGV', edit_polymorphic_path([hgv_meta_identifier.publication, hgv_meta_identifier]) 
= link_to 'XML', editxml_publication_hgv_meta_identifier_path( hgv_meta_identifier.publication, hgv_meta_identifier)
= link_to 'Preview', preview_publication_hgv_meta_identifier_path( hgv_meta_identifier.publication, hgv_meta_identifier)
%br
