
= link_to 'Edit', edit_polymorphic_path([biblio_identifier.publication, biblio_identifier]) 
= link_to 'XML', editxml_publication_biblio_identifier_path( biblio_identifier.publication, biblio_identifier)
= link_to 'Preview', preview_publication_biblio_identifier_path(biblio_identifier.publication, biblio_identifier)
%br
