<div id='main'>
  <%#= render :partial => 'identifiers/edit_bar' %>
  <div class='site'>
    <%#= render :partial => 'identifiers/header' %>
    <div id='edit'>
      <label>Preview</label>
      <div class='PContent'>
        <%= @identifier.preview %>
      </div>
    </div>
  </div>
</div>
