#main
  =# render :partial => 'identifiers/edit_bar'
  .site
    %h1
      History for 
      = @identifier.title
      from publication
      = @identifier.publication.title
      %br
    %h3
      = render :partial => "identifiers/pn_link", :locals => {:identifier => @identifier}
    #edit
      %ul
        - for commit in @commits
          %li= link_to html_escape(commit[:message].split("\n").first), url_for(:action => 'show_commit', :commit_id => commit[:id], :id => @identifier.id, :publication_id => @identifier.publication.id)
