#main
  = render :partial => 'identifiers/edit_bar'
  .site
    %h3
      History for Identifier
      = @identifier.name
    #edit
      %ul
        - for commit in @identifier[:commits]
          %li= commit[:message]