%h2 Perseids Terms of Service
%p By using Perseids (“www.perseids.org” or “perseids.org”) and its affiliated sites and tools, you are agreeing to the following terms and conditions (“terms of service”). No rights or benefits are conferred by these terms, and they may be updated at any time. If you do not agree to these terms, please do not use the service. 
%ol
  %li 
    General Conditions
    %ol
      %li This service is provided “as is” and on an “as available basis.” No warranty is implied. No liability is assumed by Perseids, its creators, or host institutions.
      %li You must be 13 years or older to use Perseids. (Please also see “Privacy” below.)
      %li You agree not to use the Perseids service for malicious, illegal, or abusive behavior. Such behavior will be determined at the sole discretion of the Perseids advisory board and result in account suspension or termination.
      %li Further, you agree to obey all laws in your jurisdiction regarding copyrighted material. Perseids assumes no responsibility for misuse of this service to distribute copyrighted materials and reserves the right to immediately remove materials suspected of violating copyright laws and suspend access during any account review. In the case of disputed materials, Perseids will follow US copyright laws unless otherwise noted.
  %li 
    Account Creation and Deletion
    %ol
      %li You may operate multiple accounts on Perseids or use shared accounts. (Note that any abuse associated with a shared account may result in the suspension or termination of all users associated with said shared account.)
      %li Anonymous accounts are not permitted. 
      %li Deletion of an account requires an email to perseids “at” tufts.edu.
      %li Use of Perseids requires the creation of a publicly viewable nickname. The Perseids advisory board reserves the sole right to reject obscene, offensive, or otherwise inappropriate user nicknames. Repeated creation of accounts with rejected nicknames will result in users being denied access to the service.
  %li 
    Content, Data and Copyright
    %ol
      %li You understand that all data in Perseids is freely available to users and the public while it remains on the platform. You are free to download your data at any time. 
      %li You control “pre-publication data.” “Pre-publication data” is defined as data or materials that have not been submitted to the Perseids master board or otherwise submitted for publication. You are free to delete this data at any time prior to publication. “Pre-publication” data may be preserved in backups for up to one year, but Perseids makes no guarantee of recoverability once this data has been deleted.
      %li Once you agree to publish your data, you agree to do so under a Creative Commons CC-BY-SA license. Publication is defined as submission to the Perseids master board, or a process otherwise labeled or identified as resulting in the same end result.
      %li Perseids will make reasonable efforts to store and backup data published in the platform for a minimum term of five years following the conclusion of Phase One of the project (December 31, 2020). 
      %li Perseids may use third party services or software to accomplish data or content management, including cloud services.
  %li 
    Privacy
    %ol
      %li 
        You must agree to provide the following information to Perseids in order to use the service:
        %ol
          %li a user nickname which will be made publicly available. (Please refer to 2.d. above on nickname review.)
          %li a user identifier for login purposes, such as an institutional identity provider or social login.
      %li 
        You may wish to provide optional information such as:
        %ol 
          %li email address for service updates and notifications
          %li a full name
          %li affiliation or institution
      %li Perseids uses OpenID, OAuth, and SAML2 protocols to interoperate with identity providers for login. 
      %li No passwords are seen by or retained by Perseids.
      %li Email is not shared publicly or otherwise redistributed to external parties.
      %li Full name and affiliation may be displayed in certain applications and will be viewable to other Perseids users.
      %li 
        Perseids does use a cookie for session management and some information may be stored in the browser’s local storage cache. 
        %ol
          %li Arethusa stores application setting preferences, morphological forms created, and morphological forms selected.    
  %li 
    Special considerations for users under the age of 18
    %ol
      %li Please use Perseids in consultation with a parent, guardian, instructor, or teacher.
      %li 
        Please note:
        %ol 
          %li What you do in Perseids will be seen by others.
          %li What you do in Perseids will be saved.
          %li Please be respectful of other people’s work. Do not use materials from books, journals, or other web sites unless you have permission to do so.
          %li Please be respectful of other users. 
          %li Do not reveal any information about yourself you do not want others to see. You may use a nickname for your Perseids work. You do not have to use your full name or enter other information (unless your teacher instructs otherwise). 
          %li Perseids will not send information about you to anyone else.
      %li If you do not understand any of these terms or conditions please contact Perseids at perseids “at” tufts.edu and we will answer your specific questions.
%p Last Updated: June 5, 2015
%p perseids "at" tufts.edu
