#main

  -# render :partial => "common/flash_all"

  %h1
    - page_title = ""
    - if @board && @board.name
      - if @board.community && @board.community.friendly_name
        - page_title = @board.community.friendly_name + " community " 
      - page_title = page_title + @board.name + " board "
    - else
      - page_title = "Your "
    = page_title + " Archived Publications"
  
  
  = render :partial => "publications/list", :object => @publications
  

