= render :partial => "common/header", :locals => {:active_tab => "edit"}
#content_body
  = render :partial => "user_publications", :locals => {:publications => @publications }
= render :partial => "common/footer"
