#main.site
  -# render :partial => "common/flash_all"
 
  %h3    
    = link_to "All Publications", master_list_url
 
  %br
  %br
  
  %h3
    Boards
  - @boards.each do |board|
    = link_to board.title, :controller => "boards", :action => "overview", :id => board.id
    %br
        

