

<div class="help">

<h1>SoSOL Help</h1>

<h2>Dashboard/Home</h2>
<p>
The dashboard/home page is the center of your SoSOL experience. Here you can review your documents or start new ones. Click on the title to view the document page.
</p>
<p>
If you are a member of an editorial board, you will see a listing of documents related to the board. The document's status will be shown, along with a link if the item requires your attention.
</p>

<h2>Editorial Boards</h2>

<h3>Decrees</h3>
	
<h3>Emails</h3>


<h2>What is a document?</h2>
<p>
A document is a grouping of items to edit. Currently the items are: Meta, Text (sometimes still called transcription), and Translation. You may give the document any title that you wish.
</p>

<h2>Creating a document</h2>
<p>
On the new document page you may create completely new document or a edit an existing one using the TM number.
</p>

<h3>New Document</h3>
<p>
Type in any title you wish, this is just to help your organize your documents. Check the checkboxes for the items you want to create. Click Create.
</p>

<h3>Edit by TM Number</h3>
<p>
Type in any title you wish, this is just to help your organize your documents. If you do not choose a title, the title will be the TM number. Type in the TM number & click Edit. The meta, text and translation will be loaded if they exist. If not, new items will be created for you.
</p>

<h2>Document Page</h2>

<p>
This page contains a brief view of all the items in a document.  Each item will have an Edit and Submit link. You may also Delete All which will delete the entire document. 
</p>


<h2>Editing an article</h2>
<p>
On the document page, click the Edit link. The editing pages vary depending on what you are editing.
</p>
<h3>Meta</h3>
<p>
The meta only has a fill in form. Change or fill in the items and click Save.
</p>
<h3>Text</h3>
<p>
The text will have the leiden, xml and preview views. It is not implemented in this version of the site.
</p>

<h3>Translation</h3>
<p>
The translation can be edited via the raw Epidoc xml or by the language view. 
</p>

<h4>XML</h4>
<p>
Currently the entire epidoc xml is presented to edit.
</p>

<h4>Translations - languages</h4>
<p>
This page presents each language in a separate text box. Each text box may be expanded or folded by clicking on the language abbreviation. The language prefs choosen for your account will automatically be expanded. A new language can be added with the Add Language link.
</p>


<h2>Submitting an article</h2>
<p>
From the document view, click Submit. You will be presented with a review and space to describe your changes etc.. Click Submit.
</p>

<h2>Reviewing an article</h2>
<p>
Once an article has been submitted, members of the editing board will be giving the chance to review and vote on the article. Click on the Review link that appears beside the document on the dashboard.
</p>
<p>
The review gives you a brief view of the item, a list of comments, the vote history, and a list of voting options. You may link to the entire document by clicking the title. Comment on your vote, check the vote and click vote. Once you have voted, you may not change your vote.
</p>
<p>
When a vote is placed. The votes are tallied and the result depends on how the decrees are set up for the board.
</p>
<h2>Finalizing an article</h2>
<p>

</p>

</div>



