<h1>Users</h1>

<table>
  <tr>
  	<th>Id</th>
    <th>Name</th>
    <th>Admin</th>
    <th>Devolper</th>    
  </tr>

<% for user in @users %>
  <tr>
  	<td><%=h user.id %></td>   
    <td><%=h user.name %></td>
    <td><%=h user.admin %></td>
    <td><%=h user.developer %></td>     
  </tr>
<% end %>
</table>
