<div class='site' id='main'>
  <%# render :partial => "common/flash_all" %>
  <%# #rpx_box %>
  <div id='signin_buttons'>
    <% if Devise.omniauth_providers.include?(:google) %>
      <%= button_to "Register or sign in with Google", user_google_omniauth_authorize_path, class: 'styled_button' %>
      <p>or</p>
    <% end %>
    <%= link_to 'Sign in with email/password', new_user_session_path, class: 'styled_button' %>
    <%= link_to 'Register with email/password', new_user_registration_path, class: 'styled_button' %>
  </div>
  <div id='signup_box'>
    <h2>Why should I register?</h2>
    Once you register or sign in using one of the buttons to the left, you'll be able to:
    <ul style='margin-left:30px;'>
      <li>Edit documents</li>
      <li>Submit documents for publication</li>
      <li>Publish new documents</li>
      <li>Collaborate with other users</li>
    </ul>
  </div>
  <div class='clear'>
    <br>
    <br>
    <hr>
  </div>
  <h2>
    <strong>NOTICE:</strong>
  </h2>
  <p>The Papyrological Editor login system will change soon. If you're using one of the buttons below to sign in, we <strong>STRONGLY</strong> recommend that you add a traditional password to your account by clicking on your account name in the top-right of the page after signing in. Doing so will ensure that you will still be able to sign in without interruption if the services below stop working. In addition, ensuring that the email address associated with your account is correct and goes to an email address which you can check will allow you to perform email-based account recovery should the need arise.</p>
  <p>While the "Social Login by Janrain" sign in process below has served us well for the past decade-plus, in the interest of stability and maintainability we're migrating to the new sign in process above which is able to support traditional password-based logins. This process also supports signing in or signing up with an existing Google account, which should be a seamless transition for the more than 80% of our users who sign in with Google.</p>
  <p>If you sign in with another third-party identity provider (Yahoo, Facebook, OpenID, Amazon, or Twitter), you can still use the old sign in method below for the time being. However, we may not be able to seamlessly transition all of these third-party services into the new sign in process.</p>
  <br>
  <div id='janrainEngageEmbed'></div>
</div>
