%h3 Votes
%ul
  - if review.votes.length == 0
    %li No votes yet.
  - else
    - review.votes.each do |vote|
      %li
        = vote.choice
        = vote.user.name
%br
- form_for :vote, Vote.new, :url => { :controller => "publications", :action => "vote", :id => review.id } do |f|
  #submit
    Your Vote:
    = select "vote", "choice", review.owner.decrees.collect{ |d| d.get_choice_array }
    = f.submit "Vote", :disabled => !review.mutable?
