:javascript
  document.observe("dom:loaded", function() {
    $$('.commentary#edition li').invoke('observe','click',addCommentary);
  });
  
  function addCommentary(event) {
    var element = Event.element(event);
    nval = $("n-" + element.id).childNodes(0).nodeValue;
    element.insert({
      after: "<li/>Stuff for line " + nval + " goes here."
    });
  }

#main
  = render :partial => 'identifiers/edit_bar'

  .site
    = render :partial => 'identifiers/header'
    #edit
      - form_for @identifier, :url => { :action => :update }  do |f|
        = f.error_messages
        
        %label Preview
        .PContent
          = @identifier[:html_preview]