
= link_to 'Translation', edit_polymorphic_path([tei_trans_cts_identifier.publication, tei_trans_cts_identifier])  
= link_to 'XML', editxml_publication_tei_trans_cts_identifier_path( tei_trans_cts_identifier.publication, tei_trans_cts_identifier)
= link_to 'Preview', preview_publication_tei_trans_cts_identifier_path( tei_trans_cts_identifier.publication, tei_trans_cts_identifier)
= link_to 'Select Citation', create_publication_citation_cts_identifier_path( tei_trans_cts_identifier.publication, tei_trans_cts_identifier)

%br
