<div class="decree">

<p>
  <b>Action:</b>
  <%=h decree.action %>
</p>

<p>
  <b>Trigger:</b>
  <%=h decree.trigger %>
</p>

<p>
  <b>Choices:</b>
  <%=h decree.choices %>
</p>


<%= link_to 'Edit', edit_decree_path(decree) %> 


</div>
