<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE TEI.2 SYSTEM "/usr/local/epiduke/data/dtd/tei-epidoc.dtd">
<TEI.2 id="sosol-given-temp" n="sosol-given-temp">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title> Title goes here </title>
      </titleStmt>
      <publicationStmt>
        <p/>
      </publicationStmt>
      <sourceDesc>
        <p>The contents of this document are generated from SOSOL.</p>
      </sourceDesc>
    </fileDesc>
    <profileDesc>
      <langUsage>
        <language id="fr">Französisch</language>
        <language id="en">Englisch</language>
        <language id="de">Deutsch</language>
        <language id="it">Italienisch</language>
        <language id="es">Spanisch</language>
        <language id="la">Latein</language>
        <language id="el">Griechisch</language>
      </langUsage>
    </profileDesc>
    <revisionDesc>
      <change>
        <date>Todays date</date>
        <respStmt>
          <resp>Your init</resp>
        </respStmt>
        <item>Original file created</item>
      </change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <div type="translation" lang="de">
        <p><milestone unit="line" n="1"/>Translation goes here
              <milestone unit="line" n="2"/>To add term, select text here and click on term in term list.
              <milestone unit="line" n="2"/>To add line breaks, click position here and press button for desired line break type.
        </p>    
    </body>
  </text>
</TEI.2>