<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://syriaca.org/documentation/syriaca-tei-main.rnc" type="application/relax-ng-compact-syntax"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title level="a" xml:lang="en"><%= title %></title>
                <sponsor>Syriaca.org: The Syriac Reference Portal</sponsor>
                <funder>The International Balzan Prize Foundation</funder>
                <funder>The National Endowment for the Humanities</funder>
                <principal>David A. Michelson</principal>
            </titleStmt>
            <editionStmt>
                <edition n="1.0"/>
            </editionStmt>
            <publicationStmt>
                <authority>Syriaca.org: The Syriac Reference Portal</authority>
                <idno type="URI"><%= id %></idno>
                <availability>
                    <licence target="http://creativecommons.org/licenses/by/3.0/">
                        <p>Distributed under a Creative Commons Attribution 3.0 Unported
                                License.</p>
                        <p>This entry incorporates copyrighted material from the following
                                work(s): <listBibl>
                                <bibl>
                                    <ptr target="http://syriaca.org/bibl/649"/>
                                </bibl>
                            </listBibl>
                            <note>used under a Creative Commons Attribution license <ref target="http://creativecommons.org/licenses/by/3.0/"/>
                            </note>
                        </p>
                    </licence>
                </availability>
                <date><%= Time.now.xmlschema %></date>
            </publicationStmt>
            <seriesStmt>
                <title level="s">Gateway to the Syriac Saints</title>
                <editor role="general" ref="http://syriaca.org/documentation/editors.xml#jnsaint-laurent">Jeanne-Nicole Mellon Saint-Laurent</editor>
                <editor role="general" ref="http://syriaca.org/documentation/editors.xml#dmichelson">David A.
                        Michelson</editor>
                <respStmt>
                    <resp>Edited by</resp>
                    <name type="person" ref="http://syriaca.org/documentation/editors.xml#jnsaint-laurent">Jeanne-Nicole Mellon Saint-Laurent</name>
                </respStmt>
                <respStmt>
                    <resp>Edited by</resp>
                    <name type="person" ref="http://syriaca.org/documentation/editors.xml#dmichelson">David A.
                            Michelson</name>
                </respStmt>
                <biblScope unit="vol">1</biblScope>
                <idno type="URI">http://syriaca.org/q</idno>
            </seriesStmt>
            <seriesStmt>
                <title level="s">New Handbook of Syriac Literature</title>
                <editor role="general" ref="http://syriaca.org/documentation/editors.xml#ngibson">Nathan P.
                        Gibson</editor>
                <editor role="general" ref="http://syriaca.org/documentation/editors.xml#dmichelson">David A.
                        Michelson</editor>
                <respStmt>
                    <resp>Edited by</resp>
                    <name type="person" ref="http://syriaca.org/documentation/editors.xml#ngibson">Nathan P.
                            Gibson</name>
                </respStmt>
                <respStmt>
                    <resp>Edited by</resp>
                    <name type="person" ref="http://syriaca.org/documentation/editors.xml#dmichelson">David A.
                            Michelson</name>
                </respStmt>
                <biblScope unit="vol">1</biblScope>
                <idno type="URI">http://syriaca.org/works</idno>
            </seriesStmt>
            <sourceDesc>
                <p>Born digital.</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <editorialDecl>
                <p>This record created following the Syriaca.org guidelines. Documentation
                        available at: <ref target="http://syriaca.org/documentation">http://syriaca.org/documentation</ref>.</p>
                <interpretation>
                    <p>Approximate dates described in terms of centuries or partial centuries
                            have been interpreted as documented in the Syriaca.org guidelines for
                            date encoding <ref target="http://syriaca.org/documentation/dates.html">http://syriaca.org/documentation/dates.html</ref>.</p>
                </interpretation>
            </editorialDecl>
            <classDecl>
                <taxonomy>
                    <category xml:id="syriaca-headword">
                        <catDesc>The name used by Syriaca.org for document titles, citation, and
                                disambiguation. These names have been created according to the
                                Syriaca.org guidelines for headwords: <ref target="http://syriaca.org/documentation/headwords.html">http://syriaca.org/documentation/headwords.html</ref>.</catDesc>
                    </category>
                    <category xml:id="syriaca-anglicized">
                        <catDesc>An anglicized version of a name created by Syriaca.org used to
                                facilitate searching in English.</catDesc>
                    </category>
                </taxonomy>
            </classDecl>
        </encodingDesc>
        <profileDesc>
            <langUsage>
                <language ident="ar-syr">Arabic Karshuni in Syriac Characters</language>
                <language ident="ar">Arabic</language>
                <language ident="cop">Coptic</language>
                <language ident="cu">Old Church Slavonic</language>
                <language ident="de">German</language>
                <language ident="en-x-gedsh">Names or terms Romanized into English according to
                        the standards adopted by the Gorgias Encyclopedic Dictionary of the Syriac
                        Heritage</language>
                <language ident="en">English</language>
                <language ident="es">Spanish</language>
                <language ident="fr-x-bhs">Names or terms Romanized into French according to the
                        standards adopted by the Bibliotheca Hagiographica Syriaca</language>
                <language ident="fr">French</language>
                <language ident="gez">Ge'ez</language>
                <language ident="gr">German</language>
                <language ident="grc">Ancient or Medieval Greek</language>
                <language ident="hy">Classical or Modern Armenian</language>
                <language ident="it">Italian</language>
                <language ident="ka">Classical or Modern Georgian</language>
                <language ident="la">Latin</language>
                <language ident="nl">Dutch</language>
                <language ident="pt">Portugese</language>
                <language ident="ru">Russian</language>
                <language ident="sog">Soghdian</language>
                <language ident="syr-pal">Syro-Palestinian</language>
                <language ident="syr-Syrj">Vocalized West Syriac</language>
                <language ident="syr-Syrn">Vocalized East Syriac</language>
                <language ident="syr">Unvocalized Syriac of any variety or period</language>
            </langUsage>
        </profileDesc>
        <revisionDesc status="draft">
            <change></change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <bibl xml:id="<%= n %>" ana="#hagiographic">
            </bibl>
        </body>
    </text>
</TEI>
