<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title></title>
                <author></author>
            </titleStmt>
            <editionStmt>
                <p></p>
            </editionStmt>
            <extent></extent>
            <publicationStmt>
                <p></p>
            </publicationStmt>
            <seriesStmt>
                <p></p>
            </seriesStmt>
            <notesStmt>
                <note></note>
            </notesStmt>
            <sourceDesc>
                <p></p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <projectDesc>
                <p></p>
            </projectDesc>
        </encodingDesc>
        <revisionDesc>
           <change/>
        </revisionDesc>
    </teiHeader>
    <text>
        <index>
            <term></term>
        </index>
        <front>
            <set>
                <head></head>
                <l></l>
                <index>
                    <term></term>
                </index>
            </set>
            <div>
                <byline></byline>
                <index>
                    <term></term>
                </index>
                <byline></byline>
                <index>
                    <term></term>
                </index>
            </div>
            <set>
                <head></head>
                <l></l>
                <index>
                    <term></term>
                </index>
            </set>
            <trailer></trailer>
            <trailer></trailer>
        </front>
        <index>
            <term></term>
        </index>
        <body>
            <index>
                <term></term>
            </index>
            <byline></byline>
            <index>
                <term></term>
            </index>
            <divGen>
                <head></head>
            </divGen>
            <index>
                <term></term>
            </index>
            <div>
                <byline></byline>
                <index>
                    <term></term>
                </index>
                <byline></byline>
                <index>
                    <term></term>
                </index>
            </div>
            <index>
                <term></term>
            </index>
            <byline></byline>
            <index>
                <term></term>
            </index>
        </body>
        <index>
            <term></term>
        </index>
        <back>
            <set>
                <head></head>
                <l></l>
                <index>
                    <term></term>
                </index>
            </set>
            <div>
                <byline></byline>
                <index>
                    <term></term>
                </index>
                <byline></byline>
                <index>
                    <term></term>
                </index>
            </div>
            <set>
                <head></head>
                <l></l>
                <index>
                    <term></term>
                </index>
            </set>
            <trailer></trailer>
            <trailer></trailer>
        </back>
        <index>
            <term></term>
        </index>
    </text>
</TEI>