#main
  = stylesheet_link_tag 'hgv_translation'
  = javascript_include_tag 'translation'
    
  = render :partial => 'identifiers/edit_bar'
  .site
    = render :partial => 'identifiers/header'
    
    #edit
    
      #info_div
      #inserting_chooser
        %span{ :class => 'chooser_tab', :id => 'glossary', :onclick => 'setActiveTab(this.id)' }Term -  
        %span{ :class => 'chooser_tab', :id => 'app', :onclick => 'setActiveTab(this.id)' } App - 
        %span{ :class => 'chooser_tab', :id => 'milestone', :onclick => 'setActiveTab(this.id)' } Line
        
        #glossary_div
          =@glossary
        #milestone_div
          %button{ :type => "button", :onclick=>"insertMilestone('line', 0, 'break')" }Insert Milestone Hard LB
          %button{ :type => "button", :onclick=>"insertMilestone('line', 0)" }Insert Milestone LB
          %button{ :type => "button", :onclick=>"insertEmptyTag('lb')" }Insert LB
        #app_div
          App Type
          %textarea{ :id => 'app_type' }
          Lem
          %textarea{ :id => 'app_lem' }
          bibl
          %textarea{ :id => 'app_bibl' }
          %button{ :type => "button", :onclick=>"insertApp()" }Insert
      #trans_and_xml
        #editing_trans_preview	
        - trans_file = @trans_filename
        #editing_trans_xml_div
          %textarea{ :id => 'editing_trans_xml', :onkeyup => 'transform_xml_to_preview("editing_trans_xml", "editing_trans_preview", "' + "editable_preview_xsl" + '")' }=@identifier.content 
        
        %textarea{ :id => 'editable_preview_xsl'}=@editable_preview_xsl
        %textarea{ :id => 'glossary_xml'}=@glossary_xml
      
	
