

<%= render :partial => 'identifiers/edit_bar' %>

<%= render :partial => 'identifiers/header' %>




<div id="trans_and_xml">

	<div id="editing_trans_preview">
	</div>

	<div id="editing_trans_xml">
	</div>
	
	<textarea style="background-color:blue" cols="800" rows="200" id="ta" onkeyup="transform_text_to_preview('ta', 'editing_trans_preview', 'trans.xsl')">
		<%= @identifier.content %>    
	</textarea>





</div>
