
= link_to 'XML', editxml_publication_tei_passage_cts_identifier_path( tei_passage_cts_identifier.publication, tei_passage_cts_identifier)
= link_to 'Preview', preview_publication_tei_passage_cts_identifier_path( tei_passage_cts_identifier.publication, tei_passage_cts_identifier)
%br
