#dateContainer
  -['X', 'Y', 'Z'].each do |date_id|
    - date_index = date_id[0] - 'X'[0]
    %div{:class => 'dateItem ' + (date_id == 'X' ? 'dateItemActive': '') + ' dateItem' + date_id}
      .dateTab{:onclick => "openDateTab('" + date_id + "')"}
        %span=date_id
      .dateInfo
        - date_item = @identifier.get_date_item date_id

        %fieldset.date.dateExtra
          %legend=I18n.t('meta.label.extraDate')
          .extra
            = render :partial => 'hgv_meta_identifiers/date_extra', :locals => { :date_id => date_id, :date_index => date_index, :date_item => date_item }
        %fieldset.date.dateOn
          %legend=I18n.t('meta.label.onDate')
          .on
            = render :partial => 'hgv_meta_identifiers/date_form', :locals => { :date_id => date_id, :date_index => date_index, :date_item => date_item && date_item[:children] && date_item[:children][:onDate] ? date_item[:children][:onDate] : nil, :date_type => 'on' }
        %fieldset.date.dateFromTo
          %legend=I18n.t('meta.label.fromToDate')
          .from
            = render :partial => 'hgv_meta_identifiers/date_form', :locals => { :date_id => date_id, :date_index => date_index, :date_item => date_item && date_item[:children] && date_item[:children][:fromDate] ? date_item[:children][:fromDate] : nil, :date_type => 'from' }
          .to
            = render :partial => 'hgv_meta_identifiers/date_form', :locals => { :date_id => date_id, :date_index => date_index, :date_item => date_item && date_item[:children] && date_item[:children][:toDate] ? date_item[:children][:toDate] : nil, :date_type => 'to' }
