#dateContainer
  -['X', 'Y', 'Z'].each do |date_id|
    - date_index = date_id[0] - 'X'[0]
    %div{:class => 'dateItem ' + (date_id == 'X' ? 'dateItemActive': '') + ' dateItem' + date_id}
      .dateTab{:onclick => "openDateTab('" + date_id + "')"}
        %span=date_id
      .dateInfo
        - date_item = @identifier.get_date_item date_id

        =#debug(date_item)
        =#debug(HgvDate.dateInformation date_item)

        %fieldset.date
          %legend=I18n.t('meta.label.extraDate')
          .extra
            = render :partial => 'hgv_meta_identifiers/date_extra', :locals => { :date_id => date_id, :date_index => date_index, :date_item => date_item }
        %fieldset.date
          %legend=I18n.t('meta.label.date')
          =#debug(date_item)
          = render :partial => 'hgv_meta_identifiers/date_form', :locals => { :date_id => date_id, :date_index => date_index, :date_item => HgvDate.dateInformation(date_item)}
