#dateContainer
  %span.swifty.showDateTabs=I18n.t('meta.label.showDateTabs');
  - ['X', 'Y', 'Z'].each_with_index do |date_id, date_index|
    - date_item_epidoc = @identifier.get_date_item date_id
    - date_item_hgv = HGVDate.epidocToHGV date_item_epidoc
    
    %div{:class => 'dateItem ' + (date_id == 'X' ? 'dateItemActive': '') + ' dateItem' + date_id}
      .dateTab{:onclick => "openDateTab('" + date_id + "')"}
        %span=date_id
      .dateInfo
        %h5=I18n.t('meta.label.extraDate')
        = render :partial => 'hgv_meta_identifiers/date_extra', :locals => { :date_id => date_id, :date_index => date_index, :date_item => date_item_epidoc }
        %div{:style => 'float: none; clear: both; display: block;'}
        %hr        
        %h5
          =I18n.t('meta.label.date')
          = render :partial => 'hgv_meta_identifiers/quick_help', :locals => { :i18nId => 'meta.help.date' }
        = render :partial => 'hgv_meta_identifiers/date_form', :locals => { :date_id => date_id, :date_index => date_index, :date_item => date_item_hgv}
