.multi#multi_figures
  %ul.items#multiItems_figures
    - @identifier.non_database_attribute[:figures].each_index do |index|
      - url = @identifier.non_database_attribute[:figures][index][:children] && @identifier.non_database_attribute[:figures][index][:children][:graphic] && @identifier.non_database_attribute[:figures][index][:children][:graphic][:attributes] && @identifier.non_database_attribute[:figures][index][:children][:graphic][:attributes][:url] ? @identifier.non_database_attribute[:figures][index][:children][:graphic][:attributes][:url] : ''
    
      %li
        = text_field_tag 'hgv_meta_identifier[figures][' + index.to_s + '][children][graphic][attributes][url]', url, :disabled => !@identifier.mutable?, :class => 'observechange'
        %span.delete{:onclick => 'multiRemove(this.parentNode)', :title => I18n.t('tooltip.multiDelete')} x
        %span.move{:title => I18n.t('tooltip.multiMove')} o
  %p.add#multiPlus_figures

    %input#figures_url.observechange

    %span{:onclick => "multiAddFigures()", :title => I18n.t('tooltip.multiAdd')}=I18n.t('label.multiAdd')

  = javascript_tag "Sortable.create('multiItems_figures', {overlap: 'horizontal', constraint: false, handle: 'move'});"
