- key = HGVMetaIdentifierHelper::generateRandomId 'geoReference'

.multi.geoReference{:id => 'multi_' + key.to_s}
  %ul.items{:id => 'multiItems_' + key.to_s}
    - geoReferenceList.each_index do |index|
      %li
        = text_field_tag 'hgv_meta_identifier[' + key.to_s + '][' + index.to_s + ']', geoReferenceList[index], :disabled => !@identifier.mutable?, :class => 'observechange'
        %span.delete{:onclick => 'multiRemove(this.parentNode)', :title => I18n.t('meta.tooltip.multiDelete')} x
        %span.move{:title => I18n.t('meta.tooltip.multiMove')} o
  %p.add{:id => 'multiPlus_' + key.to_s}
    %input.observechange
    %span{:onclick => "multiAdd('" + key.to_s + "')", :title => I18n.t('meta.tooltip.multiAdd')}=I18n.t('label.multiAdd')

  = javascript_tag "Sortable.create(document.getElementById('multiItems_" + key.to_s + "'), {direction: 'horizontal', handle: '.move'});"
