
= link_to 'Meta', edit_meta_publication_path(hgv_meta_identifier.publication)
= link_to 'XML', editxml_publication_hgv_meta_identifier_path( hgv_meta_identifier.publication, hgv_meta_identifier)
%br
