<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= @publication_title =%> has been withdrawn from editorial review.  If you did not request this withdrawl, please check the publication's comments for more information. This may also represent downstream error. Please resubmit.
  </body>
</html>
