<div id='main'>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'translation_helper' %>
  <div class='site'>
    <%= stylesheet_link_tag 'helper' %>
    <div class='helperpop' id='gapsize'>
      <%# = render :partial => 'markup_warn' %>
      <h3>Enter Type of Division</h3>
      <h4>Type value cannot be blank, cannot have '.' but can have '+'. &nbsp&nbsp&nbsp Sub-Type same rules except can be left blank.</h4>
      <div id='division_type'>
        <input class='choosetext' id='divisionType' size='30' type='text'>Type</input>
        <br/>
        <input class='choosetext' id='divisionSubtype' size='30' type='text'>Sub-Type</input>
      </div>
      <div id='button_left'>
        <button onclick='insertDivisionSub()' type='button'>Insert</button>
        &nbsp
        <button onclick='closeHelper()' type='button'>Close</button>
      </div>
    </div>
  </div>
</div>
