#editable_preview_xsl {
  display:none;
}

#editing_trans_preview {
height:20em;
overflow:scroll;
width:40em;
padding: 5px 5px;
font-size: medium;/*set so that em sizing is consisent*/

border-style: solid;
border-width:medium;

margin-bottom: 5px;
}

#editing_trans_text_view {
width: 40em !important;
font-size: medium;/*set so that em sizing is consisent*/

padding: 5px 5px;

border-style: solid;
border-width:medium;

}

#editing_trans_xml {
height:200em !important;
width:400em !important;
font-size: medium;/*set so that em sizing is consisent*/

padding: 5px 5px;

border-style: solid;
border-width:medium;
}

#editing_trans_xml_div {
height:20em;
overflow:scroll;
width:40em;
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
border-style: solid;
border-width:medium;
}

#info_div {
/* color:#00FF00; */
overflow:auto;
border-style: double;
border-width:medium;
height:5em;
width:40em;
margin-bottom: 5px;
padding: 5px 5px;
font-size: medium;/*set so that em sizing is consisent*/
}
#info_div h1 {
/* color:#FF0000; */
font-size:medium;
}
#info_div p {
font-size:small;
}
#chooser_div {
float:right;
height:40em;
width:20em;
font-size: medium;/*set so that em sizing is consisent*/
}
.chooser
{
border-style: solid;
border-width:medium;
height:5em;
width:40em;

margin-bottom: 10px;
font-size: medium;/*set so that em sizing is consisent*/
}

.chooser_tab
{
border-style: solid;
border-width:2px;
height:2em;
background-color:#EEEEEE;
text-transform:uppercase;
padding: 1px 5px;
margin-top: 20px;
}


#app_div {
height:10em;
width:40em;
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
}

#app_div textarea {
overflow: auto;
font-size: medium;/*set so that em sizing is consisent*/
height:1.5em !important;
width:10em !important;
/*for somereason the order is being ignored here, this is the last stylesheet but it is being overidden somewhere else so I added the important csc*/
}

#app_div .app_label {
text-align: left; 
vertical-align: middle;
height:1.5em ;
width:6em ;
display: inline-block;
}



#milestone_div {
height:10em;
width:40em;
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
}

#milestone_div textarea {
overflow: auto;
font-size: medium;/*set so that em sizing is consisent*/
height:1.5em !important;
width:10em !important;
/*for somereason the order is being ignored here, this is the last stylesheet but it is being overidden somewhere else so I added the important csc*/
}

#milestone_div .label {
text-align: left; 
vertical-align: middle;
height:1.5em ;
width:6em ;
display: inline-block;
}


#text_div {
height:10em;
width:40em;
font-size: medium;/*set so that em sizing is consisent*/
padding: 5px 5px;
}

#language_div {
font-size: medium;/*set so that em sizing is consisent*/
height:10em;
width:40em;
padding: 5px 5px;
}

#missing_div {
font-size: medium;/*set so that em sizing is consisent*/
height:10em;
width:40em;
padding: 5px 5px;
}

#hide_div {
height:0em;
width:40em;
font-size: medium;/*set so that em sizing is consisent*/
}

#glossary_div {
font-size: medium;/*set so that em sizing is consisent*/
height:10em;
overflow:scroll;
width:40em;
padding: 5px 5px;
}

#glossary_xml {
  display:none;
}

.glossary_chooser {
font-size: medium;/*set so that em sizing is consisent*/
}
.glossary_chooser h2 {
color:#FF0000;
display:inline;
font-size:medium;
cursor:pointer;
}
.glossary_chooser h3 {
color:#000000;
display:inline;
font-size:small;
}
.glossary_chooser h3:before {
content:" - ";
}
.glossary_chooser p {
font-size:small;
text-indent:50px;
}

.glossary_chooser p:before {
content:"-";
}

.editable_term {
background-color:#EE4444;
font-weight:400;
}
.editable_text {
background-color:#DDDDDD;
font-weight:100;
}


.editable_text:focus{
background-color:#bbbbbb;
font-weight:100;
}

.editable_lem {

background-color:#AAAAEE;
font-weight:100;
}





.gap_lost:before {
content:"lost ";
}


.gap_illegible:before {
content:"[";
}

.gap_illegible:after {
content:"]";
}
