div#preview table tbody tr th,
div#preview table tbody tr td {
  vertical-align: top; }

div#preview table tbody tr td {
  padding: 0 0 0 0.8em; }

div#preview table tbody tr td.edit a {
  color: silver; }

div#preview table tbody tr td ul li {
  list-style-type: none; }
