body {
	background-color: #F8F6F4;
}
.publication_list_holder table.results td {
	padding: 5px;
	font-size: smaller;
}

.publication_list_holder table.results tr:first-child{
	display:none;
}

.publication_list_holder table.results tr {
	line-height: 1em !important;
}

.publication_list_holder table.results a {
	padding: 0 !important;
}

.dashboard_feed {
	font-size: smaller;
	clear: both;
	margin-top: 5em;
}

.dashboard_feed ul li {
	list-style: none;	
}

#board_list li, .batch_box li {
	list-style: none;
}

.batch_box {
	font-size: smaller;
}

#board_list li a, .archive_link a, .batch_box a {
	color: #4183C4 !important;
    text-decoration: none !important;
}

li.editor_menu {
	color: #4183C4;
}

.create {
	clear:both;
	margin: 2em;
}

#notice_error, #notice_notice, #notice_warning {
	clear:both;
	margin: 2em;
}

#cts_selector {
	clear: both;
	float: left;
	padding: .5em;
	margin: 1em;
	border: 1px solid black;
}

.cts_selector_hint {
	font-size: smaller;
	font-style: italic;
}

#create_translation {
	display:inline;
}

.content_body {
	clear:both;
}

#cts-image-frame {
	width: 100%;
	height: 30%;
	float: left;
}

.edit_oac_identifier {
	margin-left: .5em;
}
.edit_oac_identifier #target_content, .edit_oac_identifier #body_content  {
	height: 200px;
	overflow: scroll;
	border: 1px solid black;

}
.edit_oac_identifier #target_content .token {

}

.edit_oac_identifier .target_uri, .edit_oac_identifier .body_uri  {
	width: 98%;
	font-size: small;
}


.edit_oac_identifier #target_content .token.highlighted, .edit_oac_identifier #body_content .token.highlighted {
	background-color: #FFFF99;
}

.edit_oac_identifier #target_content .token.highlighted.selected, .edit_oac_identifier #body_content .token.highlighted.selected {
	font-weight: bold;
}

.edit_oac_identifier #annotation_target_input, .edit_oac_identifier #annotation_body_input {
	float: left;	
	width: 48%;
	padding: .25em;
	border: 1.5px solid black;
}

.edit_oac_identifier #annotation_title_input {
	margin: .25em;
	float: right;
}

.edit_oac_identifier #annotation_form_submit {
	clear: both;
}

.edit_oac_identifier .add_target {
	text-align: right;
}

.hints {
  	margin-bottom: .5em;
  	margin-left: 1em;
  	font-family: Arial, Helvetica, sans-serif;
  	background-color: #FFFFDD;
}
.hints li {
	list-style: bullet;
	list-style-position: inside;
}


.oac_annotation .label {
	font-weight: bold;
	font-style:italic;
}


.edit_oac_identifier .cite_to, .edit_oac_identifier .cite_from {
	width: 3em;
	font-size: smaller;
}
.edit_oac_identifier .cite_from_label, .cite_to_label {
	font-size: smaller;
}

.edit_oac_identifier .cite_span_label {
	font-style: italic;
	font-size: smaller;
}

#to_alpheios_align {
	margin-left:.5em;
}

#to_alpheios_align input[type='submit'] {
	float:right;
	background-color:#73Cdde;
	margin-right: 2em;
	margin-top: -1.5em;
}

.edit_oac_identifier #annotation_target_input #title_placeholder {
	min-height: 2em;
}

.annotation_header {
	font-weight: bold;
	margin-bottom: .5em;
}
