.content_body {
  width: 1000px;
  margin: 2em; }

.publication_holder {
  position: relative;
  background-color: white;
  width: 1000px;
  height: 22px;
  border-width: 1px;
  border-style: none none dotted none; }
  .publication_holder:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #b0171f; }

.publication_title {
  top: 0px;
  left: 0px;
  width: 300px;
  height: 20px;
  position: absolute;
  margin: 2px;
  text-align: left; }

.publication_board_name {
  position: absolute;
  top: 0px;
  left: 0px; }

.overview_holder {
  position: absolute;
  width: 20px;
  height: 22px;
  top: 0px;
  left: 300px; }

.identifier_holder {
  overflow: hidden;
  position: absolute;
  width: 150px;
  height: 20px; }
  .identifier_holder:hover {
    overflow: visible;
    background-color: white; }

.HGVMetaIdentifier {
  top: 0px;
  left: 320px; }

.DDBIdentifier {
  top: 0px;
  left: 470px; }

.HGVTransIdentifier {
  top: 0px;
  left: 620px; }

.HGVBiblioIdentifier {
  top: 0px;
  left: 770px; }

.board_info {
  top: 0px;
  left: 770px;
  width: 230px;
  background-color: white; }

.publications_header_holder {
  position: relative;
  overflow: hidden;
  width: 1000px;
  height: 30px;
  border-width: 2px;
  border-bottom-style: solid;
  border-color: black;
  margin: 2px; }

.publications_header_title {
  overflow: hidden;
  position: absolute;
  width: 150px;
  height: 20px;
  top: 0px;
  font-size: 125%;
  text-align: center;
  left: 0px;
  text-align: left;
  font-weight: bold; }

.publications_header_overview {
  overflow: hidden;
  position: absolute;
  width: 150px;
  height: 20px;
  top: 0px;
  font-size: 125%;
  text-align: center;
  overflow: visible;
  width: 20px;
  height: 22px;
  top: 0px;
  left: 300px;
  position: absolute; }

.publications_header_HGVMetaIdentifier {
  overflow: hidden;
  position: absolute;
  width: 150px;
  height: 20px;
  top: 0px;
  font-size: 125%;
  text-align: center;
  top: 0px;
  left: 320px; }

.publications_header_DDBIdentifier {
  overflow: hidden;
  position: absolute;
  width: 150px;
  height: 20px;
  top: 0px;
  font-size: 125%;
  text-align: center;
  top: 0px;
  left: 470px; }

.publications_header_HGVTransIdentifier {
  overflow: hidden;
  position: absolute;
  width: 150px;
  height: 20px;
  top: 0px;
  font-size: 125%;
  text-align: center;
  top: 0px;
  left: 620px; }

.publications_header_HGVBiblioIdentifier {
  overflow: hidden;
  position: absolute;
  width: 150px;
  height: 20px;
  top: 0px;
  font-size: 125%;
  text-align: center;
  top: 0px;
  left: 770px; }

.publications_header_info {
  overflow: hidden;
  position: absolute;
  width: 150px;
  height: 20px;
  top: 0px;
  font-size: 125%;
  text-align: center;
  top: 0px;
  left: 770px; }

.identifier {
  overflow: hidden;
  background-color: white;
  border-style: none;
  border-color: black;
  width: 150px;
  height: 20px;
  position: relative; }

.offset {
  position: relative; }

.status_new {
  background-color: white; }

.status_editing {
  background-color: white; }

.status_submitted {
  background-color: white;
  color: gray; }

.status_approved {
  background-color: white; }

.status_voting {
  background-color: white; }

.status_committed {
  background-color: white; }

.status_archived {
  background-color: white; }

.status_finalizing {
  background-color: white; }

.controlled_yes {
  border-color: red; }

.status_icon {
  width: 16px;
  height: 16px;
  display: inline;
  overflow: hidden;
  position: relative; }

.identifier_title {
  position: absolute;
  top: 4px;
  left: 20px;
  text-align: left;
  color: black; }

.expand_identifers {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 96px; }

.identifier_holder_status_not_modified {
  width: 118px;
  height: 4px;
  z-index: 20;
  background-image: image-url("status_back.png");
  background-repeat: no-repeat;
  #background-color: coral;
  position: absolute;
  overflow: hidden;
  left: 20px;
  background-position: -118px 0px; }
  .identifier_holder_status_not_modified img {
    position: absolute;
    top: 4px;
    left: 0px; }
  .identifier_holder_status_not_modified:hover {
    height: 22px; }

.identifier_holder_status_new {
  width: 118px;
  height: 4px;
  z-index: 20;
  background-image: image-url("status_back.png");
  background-repeat: no-repeat;
  #background-color: coral;
  position: absolute;
  overflow: hidden;
  left: 20px;
  background-position: -96px 0px; }
  .identifier_holder_status_new img {
    position: absolute;
    top: 4px;
    left: 0px; }
  .identifier_holder_status_new:hover {
    height: 22px; }

.identifier_holder_status_editing {
  width: 118px;
  height: 4px;
  z-index: 20;
  background-image: image-url("status_back.png");
  background-repeat: no-repeat;
  #background-color: coral;
  position: absolute;
  overflow: hidden;
  left: 20px;
  background-position: -96px 0px; }
  .identifier_holder_status_editing img {
    position: absolute;
    top: 4px;
    left: 0px; }
  .identifier_holder_status_editing:hover {
    height: 22px; }

.identifier_holder_status_submitted {
  width: 118px;
  height: 4px;
  z-index: 20;
  background-image: image-url("status_back.png");
  background-repeat: no-repeat;
  #background-color: coral;
  position: absolute;
  overflow: hidden;
  left: 20px;
  background-position: -80px 0px; }
  .identifier_holder_status_submitted img {
    position: absolute;
    top: 4px;
    left: 0px; }
  .identifier_holder_status_submitted:hover {
    height: 22px; }

.identifier_holder_status_approved {
  width: 118px;
  height: 4px;
  z-index: 20;
  background-image: image-url("status_back.png");
  background-repeat: no-repeat;
  #background-color: coral;
  position: absolute;
  overflow: hidden;
  left: 20px;
  background-position: -64px 0px;
  #background-position: -48px 0px; }
  .identifier_holder_status_approved img {
    position: absolute;
    top: 4px;
    left: 0px; }
  .identifier_holder_status_approved:hover {
    height: 22px; }

.identifier_holder_status_committed {
  width: 118px;
  height: 4px;
  z-index: 20;
  background-image: image-url("status_back.png");
  background-repeat: no-repeat;
  #background-color: coral;
  position: absolute;
  overflow: hidden;
  left: 20px;
  background-position: -48px 0px;
  #background-position: -32px 0px; }
  .identifier_holder_status_committed img {
    position: absolute;
    top: 4px;
    left: 0px; }
  .identifier_holder_status_committed:hover {
    height: 22px; }

.identifier_holder_status_archived {
  width: 118px;
  height: 4px;
  z-index: 20;
  background-image: image-url("status_back.png");
  background-repeat: no-repeat;
  #background-color: coral;
  position: absolute;
  overflow: hidden;
  left: 20px;
  background-position: -32px 0px;
  #background-position: -16px 0px; }
  .identifier_holder_status_archived img {
    position: absolute;
    top: 4px;
    left: 0px; }
  .identifier_holder_status_archived:hover {
    height: 22px; }

.needs_review {
  background-color: indianred; }

.sort_header {
  background-color: gray; }

.sort_header:hover {
  background-color: #b0171f; }

.status_sort_button {
  width: 16px;
  height: 20px;
  display: inline;
  overflow: hidden;
  float: left; }
  .status_sort_button:hover {
    background-color: #b0171f; }

.sort_button {
  display: inline;
  width: 100px;
  background-color: gray;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 5px; }

.sort_button:hover {
  background-color: #b0171f;
  cursor: pointer; }

.extra_ids {
  position: absolute;
  top: 20px;
  left: -45px;
  border-width: 5px;
  border-style: solid;
  border-color: #b0171f;
  background-color: white;
  padding: 5px;
  z-index: 2000; }

.show_more_ids {
  float: right;
  width: 20px;
  height: 20px; }

.extra_info {
  position: absolute;
  top: 20px;
  left: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #b0171f;
  width: 190px;
  background-color: white;
  padding: 5px;
  z-index: 2000; }

.show_more_info {
  float: right;
  width: 20px;
  height: 20px; }

.more_less {
  display: inline;
  font-size: small; }
  .more_less a {
    text-decoration: none; }
    .more_less a:link {
      color: black; }
    .more_less a:visited {
      color: black; }
    .more_less a:hover {
      color: black; }

.archive_link {
  font-size: 100%;
  float: left; }

.status_section_title {
  font-size: 200%;
  text-align: left; }

.no_data {
  background-color: lightgray; }
