h2 {
  width: 100%;
  padding: 0.5em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  color: red;
  background: #dddddd;
  cursor: pointer; }

#term_header {
  width: 100%;
  border-style: double;
  border-color: gray;
  background-color: #dddddd;

  position: fixed;
  top: 0;
}


#lang_radio_group {
  display: inline;
  width: 100%;
  border-style: single;
  border-color: gray;
  background-color: #bbbbbb;

  
}

