%h1
  Warning!
%h2
  = "You are about to delete yourself as an admin for the " + @community.format_name + " community.  Once this is done, you can no longer edit this communities' settings."
  
= button_to "Delete Me", { :controller => "communities", :action => "remove_current_user", :id => @community.id}
