= stylesheet_link_tag "community"

.community
  %h1
    = "Select Community Type"
  %ul
    -# TODO which type of communities to allow should be site configurable 
    -#Also might not want to show new links if user is just going to be denied
    -#due to access
    %li
      = link_to "Master", :controller=> 'master_communities', :action => :new
    %li
      = link_to "End User", :controller=> 'end_user_communities', :action => :new
  %br  
  
 
