%h1
  Board members for
  = @emailer.board.title
- @emailer.board.users.each do |user|
  = link_to user.name, :controller => "emailers", :action => "add_member", :id => @emailer.id, :user_name => user.name
