- flash.each do |key, msg|
  = content_tag :div, msg.html_safe, :class => ["flash", key].join(' '), :id => "notice_#{key}"
  /- content_tag(:script, :type => "text/javascript")  do
  /  == setTimeout("new Effect.Fade('notice_#{key}',{duration:2.0});", 15000);
