
#header_tab_holder



  - if @current_user == nil  
    -#no one is logged, assume we are only on pn side
    
    #header_navigator_tab{ :class => "header_tab"}
      %a{:href => "http://dev.papyri.info/search"}
        Navigator
    
  - else
  
    #header_navigator_tab{ :class => "header_tab"}
      %a{:href => "http://dev.papyri.info/search"}
        Navigator
      
    #header_edit_tab{ :class => "header_tab" }
      = link_to 'Edit', :controller => "user", :action => "dashboard", :dashboard_type => "user"
    
    = render :partial => "common/board_tabs"





  
  
  
  
 