- if !(@identifier.has_related_citations)
  = link_to 'XML', editxml_publication_epi_cts_identifier_path( epi_cts_identifier.publication, epi_cts_identifier)
= link_to 'Preview', preview_publication_epi_cts_identifier_path( epi_cts_identifier.publication, epi_cts_identifier)
- if @identifier.mutable? && @identifier.publication.status != 'finalizing'
  - if @identifier.has_valid_reffs?
    = link_to 'Select Passage', link_citation_publication_epi_cts_identifier_path( epi_cts_identifier.publication, epi_cts_identifier) 
  = link_to 'Add Translation', link_translation_publication_epi_cts_identifier_path( epi_cts_identifier.publication, epi_cts_identifier)
%br
